<th:block th:fragment="chat">

	<link rel="stylesheet" href="/css/chat/chatfixedbottom130.css">

	<div id="chat-wrapper">
		<div id="chat-window-btn"></div>
		<div id="chat-inner-wrapper">
			<div id="chat-alert-cont">
				<!-- <div class="cc-alert">
					<h4>송신자</h4>
					<p>본문aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div> -->
			</div>
			<div id="chat-window" class="cc-hidden">
				<div id="chat-list-cont" class="">
					<div id="chat-list-header"></div>
					<div id="chat-list-inner-cont">
						<div id="chat-list-empty" class="cc-hidden">
							<!-- 이미지 바꿔라 -->
							<img src="/images/layoutimg/logo.png" id="cc-logo-empty">
							<p>현재 입장해있는 채팅방이 없습니다</p>
						</div>
						<div id="chat-list-oto-cont">
						</div>
						<div id="chat-list-otm-cont" class="cc-hidden"></div>
					</div>
					<div id="chat-list-footer">
						<div id="chat-list-footer-oto-btn" class="cc-footer-btn">
							<h4>일대일</h4>
						</div>
						<div id="chat-list-footer-otm-btn" class="cc-footer-btn">
							<h4>일대다</h4>
						</div>
					</div>
				</div>
				<div id="chat-body-cont" class="cc-hidden">
					<div id="chat-body-header">
						<input type="submit" value="" id="quit-chat" class="ccbody-btn">
						<h4 id="chat-body-title"></h4>
					</div>
					<div id="chat-body-inner-cont">
						<div id="chat-body-more-inner-cont">
							<!-- 채팅 바디 -->
						</div>
					</div>
					<div id="chat-body-input-cont">
						<input type="text" id="input-chat">
						<input type="submit" value="" id="submit-chat" class="ccbody-btn">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/js/chat/chat.js"></script>
</th:block>