<th:block th:fragment="chat">

	<link rel="stylesheet" href="/css/chat/chat.css">

	<div id="chat-wrapper">
		<div id="chat-window-btn"></div>
		<div id="chat-inner-wrapper">
			<div id="chat-alert-cont">
				<!-- <div class="cc-alert">
					<h4>송신자</h4>
					<p>본문aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div> -->
			</div>
			<div id="chat-window" class="cc-hidden">
				<div id="chat-list-cont" class="">
					<div id="chat-list-header">
						<input type="button" value="개설" id="create-chat" class="ccbody-btn">
					</div>
					<div id="chat-list-inner-cont">
						<div id="chat-list-create" class="cc-hidden">
							<!-- 채팅 생성 사이드창 배경 -->
							<div id="chat-list-create-cont">
								<!-- 채팅 생성 사이드창 -->
								<div id="clcc-header">
									<h4>채팅방 개설하기</h4>
									<input type="button" value="나가기" id="cancel-create-chat" class="ccbody-btn">
								</div>
								<div id="clcc-input-body">
									<div>
										<span>채팅방 제목</span>
										<input type="text" id="title-create-chat">
									</div>
									<div>
										<span>대화상대 검색</span>
										<input type="text" id="user-create-chat">
									</div>
								</div>
								<div id="clcc-result-body">
									<div id="clcc-result-search">
										<!-- <div id="clcc-rsearch-userid" class="clcc-result">
											<img src="/images/layoutimg/logo.png" alt="">
											<h4>testUserId01</h4>
											<p>일반</p>
											<input type="button" value="추가">
										</div> -->
									</div>
									<div id="clcc-seperator"></div>
									<div id="clcc-result-select"></div>
								</div>
								<div id="clcc-footer">
									<input type="button" value="채팅방 만들기" id="submit-create-chat">
								</div>
							</div>
						</div>
						<div id="chat-list-empty" class="cc-hidden">
							<!-- 이미지 바꿔라 -->
							<img src="/images/layoutimg/logo.png" id="cc-logo-empty">
							<p>현재 입장해있는 채팅방이 없습니다</p>
						</div>
						<div id="chat-list-oto-cont">
							<!-- 1대1 -->
						</div>
						<div id="chat-list-otm-cont" class="cc-hidden">
							<!-- 다대다 -->
						</div>
					</div>
					<div id="chat-list-footer">
						<div id="chat-list-footer-oto-btn" class="cc-footer-btn">
							<h4>일대일</h4>
						</div>
						<div id="chat-list-footer-otm-btn" class="cc-footer-btn">
							<h4>일대다</h4>
						</div>
					</div>
				</div>
				<div id="chat-body-cont" class="cc-hidden">
					<div id="chat-body-header">
						<input type="submit" value="" id="quit-chat" class="ccbody-btn">
						<h4 id="chat-body-title"></h4>
					</div>
					<div id="chat-body-inner-cont">
						<div id="chat-body-more-inner-cont">
							<!-- 채팅 바디 -->
						</div>
					</div>
					<div id="chat-body-input-cont">
						<input type="text" id="input-chat">
						<input type="submit" value="" id="submit-chat" class="ccbody-btn">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/js/chat/chat.js"></script>
	<script src="/js/chat/chat_user_to_user_chat_init.js"></script>
</th:block>