<th:block th:fragment="footer(loginUser)">
	<link rel="stylesheet" href="/css/layout/footer.css">
	
    <div class="footer_area">
        <div class="line"></div>
        <div class="f_wrap">
            <div class="f_top">
                <ul>
                    <li>Tripfy 소개</li>
                    <li>이용약관</li>
                    <li>개인정보처리방침</li>
                    <li>여행약관</li>
                    <li>여행자보험</li>
                    <li>고객센터</li>
                    <li>사업제휴</li>
                </ul>
            </div>

            <div class="f_left">
                <div class="f_logo"><img src="/images/layoutimg/logo_long.png" alt=""></div>
                <div class="f_info">
                    <div>
                        <span class="first">서울특별시 강남구 테헤란로14길 6 남도빌딩</span>
                        <span>대표이사: 박기호</span>
                    </div>
                    <div>
                        <span class="first">사업자 등록 번호: 024-050-8621</span>
                        <span>전화 번호: 1544-9970</span>
                    </div>
                </div>
            </div>

            <div class="f_right">
                <img src="/images/layoutimg/playstore.png" alt="">
                <img src="/images/layoutimg/appstore.png" alt="">
            </div>

            <div class="f_bottom">
				tripfy는 통신판매의 당사자가 아니므로, 개별 판매자가 등록한 오픈마켓 상품에 대해서 일제 책임을 지지 않습니다.<br>
                copyright&copy; 2024TRIPFY. ALL RIGHTS RESERVED. 
            </div>

        </div>
    </div>
