<th:block th:fragment="packageModal">
	<link rel="stylesheet" href="/css/layout/calendar.css">
    <link rel="stylesheet" href="/css/package/packageModal.css">
    <form action="/package/write" name="packageForm" id="packageForm" method="post" enctype="multipart/form-data">
        <input type="hidden" id="countrycode" name="countrycode">
        <input type="hidden" name="regionname" id="regionname">
        <input type="hidden" name="startdate" id="startdate">
        <input type="hidden" name="enddate" id="enddate">
        <input type="hidden" name="packageTitle" id="package_title">
        <input type="hidden" name="packageContent" id="package_content">
        <input type="hidden" name="maxcnt" id="maxcnt">
        <input type="hidden" name="adultPrice" id="adult_price">
        <input type="hidden" name="childPrice" id="child_price">
        <input type="file" name="packageFile" id="package_file" accept="image/*,video/*" style="display: none;">
    </form>
	<div id="calendar-calendar" class="calendar-calendar"></div>
    <div id="modalContainer" class="hidden"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/package/packageModal.js"></script>
</th:block>
