<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/package/abroadmain.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
</head>
<body>
	<th:block th:include="~{layout/header::header(${session.loginUser})}"></th:block>
    <div id="wrap" class = "list">
        <div id="body_container">

            <div class="banner">
                <a href="">
                    <img src="/images/packageimg/30fe1a9df8f3aac93c34e5d2b80f694a.jpg" alt="">
                </a>
            </div>
            <div class="packagesearch">
                <div class="destination">
                    <button type="button" onclick="opendes()">
                        <span id="desChoice">어디로 여행하세요?</span>
                    </button>
                    <input type="hidden" name="regionname" id="destinationInput">
                    <div id="deslist" class="hide">
                        <div class="list">
                            <div class="dl_header">
                                <span onclick="opendes()">x</span>
                            </div>
                            <hr>
                            <div class="dl_choice">
                                <ul class="choiceTableLeft">
                                    <li><button type="button" class="leftDepth1">동남아</button></li>
                                    <li><button type="button" class="leftDepth1">괌/ 사이판/ <br>호주/ 뉴질랜드</button></li>
                                    <li><button type="button" class="leftDepth1">일본</button></li>
                                    <li><button type="button" class="leftDepth1">중국</button></li>
                                    <li><button type="button" class="leftDepth1">유럽</button></li>
                                    <li><button type="button" class="leftDepth1">하와이/ 미국/ 중남미</button></li>
                                </ul>
                                <ul class="choiceTableRight">
                                    <li><button type="button" class="RightDepth1">태국</button></li>
                                    <li><button type="button" class="RightDepth1">베트남</button></li>
                                    <li><button type="button" class="RightDepth1">필리핀</button></li>
                                    <li><button type="button" class="RightDepth1">싱가폴</button></li>
                                    <li><button type="button" class="RightDepth1">말레이시아</button></li>
                                    <li><button type="button" class="RightDepth1">캄보디아</button></li>
                                </ul>
                                <ul class="choiceTableRight">
                                    <li><button type="button" class="RightDepth1">괌</button></li>
                                    <li><button type="button" class="RightDepth1">사이판</button></li>
                                    <li><button type="button" class="RightDepth1">호주</button></li>
                                    <li><button type="button" class="RightDepth1">뉴질랜드</button></li>
                                </ul>
                                <ul class="choiceTableRight">
                                    <li><button type="button" class="RightDepth1">오사카</button></li>
                                    <li><button type="button" class="RightDepth1">후쿠오카</button></li>
                                    <li><button type="button" class="RightDepth1">도쿄</button></li>
                                    <li><button type="button" class="RightDepth1">교토</button></li>
                                    <li><button type="button" class="RightDepth1">삿포로</button></li>
                                </ul>
                                <ul class="choiceTableRight">
                                    <li><button type="button" class="RightDepth1">하이난</button></li>
                                    <li><button type="button" class="RightDepth1">청도</button></li>
                                    <li><button type="button" class="RightDepth1">베이징</button></li>
                                    <li><button type="button" class="RightDepth1">장가계</button></li>
                                </ul>
                                <ul class="choiceTableRight">
                                    <li><button type="button" class="RightDepth1">프랑스</button></li>
                                    <li><button type="button" class="RightDepth1">영국</button></li>
                                    <li><button type="button" class="RightDepth1">이탈리아</button></li>
                                    <li><button type="button" class="RightDepth1">스페인</button></li>
                                    <li><button type="button" class="RightDepth1">독일</button></li>
                                    <li><button type="button" class="RightDepth1">스위스</button></li>
                                    <li><button type="button" class="RightDepth1">핀란드</button></li>
                                    <li><button type="button" class="RightDepth1">노르웨이</button></li>
                                    <li><button type="button" class="RightDepth1">그리스</button></li>
                                    <li><button type="button" class="RightDepth1">포르투갈</button></li>
                                </ul>
                                <ul class="choiceTableRight">
                                    <li><button type="button" class="RightDepth1">하와이</button></li>
                                    <li><button type="button" class="RightDepth1">미 동부</button></li>
                                    <li><button type="button" class="RightDepth1">미 서부</button></li>
                                    <li><button type="button" class="RightDepth1">캐나다</button></li>
                                    <li><button type="button" class="RightDepth1">중남미</button></li>
                                </ul>
                            
                              
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="period">
                    <input type="text" name="startdate" placeholder="출발일   /" id="startDateInput" readonly />
                    <input type="text" name="enddate" placeholder="도착일" id="endDateInput" readonly />
                </div>
                <div class="person">
                    <button type="button" onclick="openper()">
                        <span id="personCount">인원</span>
                    </button>
                    <input type="hidden" name="maxcnt" id="personInput">
                    <div id="perlist" class="hide">
                        <div class="pr_header">
                            <span onclick="openper()">x</span>
                        </div>
                        <div class="pr_choice">
                            <div class="pr_list">
                                <button type="button" class="pr"><span>1명</span></button>
                                <button type="button" class="pr"><span>2명</span></button>
                                <button type="button" class="pr"><span>3명</span></button>
                                <button type="button" class="pr"><span>4명</span></button>
                                <button type="button" class="pr"><span>5명</span></button>
                                <button type="button" class="pr"><span>6명</span></button>
                                <button type="button" class="pr"><span>7명</span></button>
                                <button type="button" class="pr"><span>8명</span></button>
                                <button type="button" class="pr"><span>9명</span></button>
                                <button type="button" class="pr"><span>10명 ++ </span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="searchForm" action="/package/abroadlist" onsubmit="return validateForm()" method="GET">
                    <input type="hidden" name="regionname" id="destinationInputForm">
                    <input type="hidden" name="startdate" id="startDateInputForm">
                    <input type="hidden" name="enddate" id="endDateInputForm">
                    <input type="hidden" name="maxcnt" id="personInputForm">
                    <div class="search_btn">
                        <button type="submit">검색</button>
                    </div>
                </form>
            </div>
			<div class="p_wrap">
			            <div class="package">
			                <div class="rp_header">
			                    <h2>최신 패키지들을 만나보세요!</h2>
			                </div>
							<div class="rp_list">
							    <div th:if="${recent != null and #lists.size(recent) > 0}" th:each="recent : ${recent}" class="rpackage">
							        <a th:href="@{/package/pget(packagenum=${recent.packagenum})}" class="get">
							            <div class="rp_img">
							                <div class="imgbox" th:each="file : ${rfile}" th:if="${file.packagenum == recent.packagenum}">
							                    <img th:src="${'/package/thumbnail?systemname='+file.pfSysname}" alt="">
							                </div>
							            </div>
							            <div class="rp_info">
							                <div class="rp_title">
							                    <h3>[[${recent.packageTitle}]]</h3>
							                </div>
							                <div class="rp_con">
							                    [[${recent.packageContent}]]
							                </div>
							            </div>
							            <div class="rprice">
							                <h3>[[${recent.adultPrice}]]</h3>
							            </div>
							        </a>
							    </div>
							    <div th:if="${recent == null or #lists.size(recent) == 0}" class="rp_list no-list">
							        <div>등록된 게시글이 없습니다.</div>
							    </div>
							</div>
			            </div>
			            <div class="package">
			                <div class="pp_header">
			                    <h2>인기 패키지들을 만나보세요!</h2>
			                </div>
							<div  class="pp_list">
							    <div th:if="${pop != null and #lists.size(pop) > 0}" th:each="pop : ${pop}"class="ppackage">
							        <a th:href="@{/package/pget(packagenum=${pop.packagenum})}" class="get">
									<div class="pp_img">
								    	<div class="imgbox" th:each="file : ${rfile}" th:if="${file.packagenum == pop.packagenum}">
								        	<img th:src="${'/package/thumbnail?systemname='+file.pfSysname}" alt="">
								    	</div>
								  	</div>
								  	<div class="pp_info">
								    	<div class="pp_title">
								        	<h3>[[${pop.packageTitle}]]</h3>
								      	</div>
								      	<div class="pp_con">
								        	[[${pop.packageContent}]]
								      	</div>
								  	</div>
								  	<div class="pprice">
								    	<h3>[[${pop.adultPrice}]]</h3>
								  	</div>
							        </a>
							    </div>
							    <div th:if="${pop == null or #lists.size(pop) == 0}" class="pp_list no-list">
							        <div>등록된 게시글이 없습니다.</div>
							    </div>
							</div>
			            </div>
			            <div class="package ">
			                <div class="cp_header">
			                    <h2>가성비 패키지들을 만나보세요!</h2>
			                </div>
							<div class="cp_list">
							    <div th:if="${cheap != null and #lists.size(cheap) > 0}" th:each="cheap : ${cheap}" class="cpackage">
						    	<a th:href="@{/package/pget(packagenum=${cheap.packagenum})}" class="get">
									<div class="cp_img">
										<div class="imgbox" th:each="file : ${rfile}" th:if="${file.packagenum == cheap.packagenum}">
											<img th:src="${'/package/thumbnail?systemname='+file.pfSysname}" alt="">
										</div>
									</div>
									<div class="cp_info">
										<div class="cp_title">
									    	<h3>[[${cheap.packageTitle}]]</h3>
									  	</div>
									  	<div class="cp_con">
									    	[[${cheap.packageContent}]]
									  	</div>
									</div>
									<div class="cprice">
										<h3>[[${cheap.adultPrice}]]</h3>
									</div>
							        </a>
							    </div>
							    <div th:if="${cheap == null or #lists.size(cheap) == 0}" class="pp_list no-list">
							        <div>등록된 게시글이 없습니다.</div>
							    </div>
							</div>
			            </div>
			        </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>

    flatpickr("#startDateInput", {
        mode: "range",
        dateFormat: "Y-m-d",
		minDate: "today",
        onClose: function(selectedDates, dateStr, instance) {
            if (selectedDates.length === 2) {
                const startDate = instance.formatDate(selectedDates[0], "Y-m-d");
                const endDate = instance.formatDate(selectedDates[1], "Y-m-d");
                document.getElementById("startDateInput").value = startDate;
                document.getElementById("endDateInput").value = endDate;
                document.getElementById("startDateInputForm").value = startDate; // 폼에 시작 날짜 업데이트
                document.getElementById("endDateInputForm").value = endDate; // 폼에 종료 날짜 업데이트
            }
        }
    });

    function opendes() {
        const target = document.getElementById("deslist");
        target.classList.toggle("hide");
    }

    function openper() {
        const target = document.getElementById("perlist");
        target.classList.toggle("hide");
    }

    document.addEventListener("DOMContentLoaded", function() {
        const prButtons = document.querySelectorAll(".pr_list button");
        prButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                const countText = this.textContent.trim(); // 버튼의 텍스트를 가져옴
                const count = parseInt(countText.match(/\d+/)[0]); // 숫자만 추출하여 정수로 변환
                const personCountSpan = document.getElementById("personCount");
                personCountSpan.textContent = count + "명"; // 인원 수 업데이트
                document.getElementById("personInput").value = count; // 폼에 인원 수 업데이트
                document.getElementById("personInputForm").value = count; // 검색 폼에 인원 수 업데이트
                openper(); // perlist 닫기
            });
        });

		const dlButtons = document.querySelectorAll(".RightDepth1");
		dlButtons.forEach(function(button) {
		    button.addEventListener("click", function() {
		        const destination = this.textContent.replace(/\s+/g, ''); // 버튼의 텍스트를 가져와서 모든 공백을 제거
		        const desChoiceSpan = document.getElementById("desChoice");
		        desChoiceSpan.textContent = destination; // 목적지 텍스트 업데이트
		        document.getElementById("destinationInput").value = destination; // 폼에 목적지 업데이트
		        document.getElementById("destinationInputForm").value = destination; // 검색 폼에 목적지 업데이트
		        opendes(); // deslist 닫기
		    });
		});


        document.querySelector("#searchForm").addEventListener("submit", function(event) {
            const region = document.getElementById("destinationInput").value;
            const startDate = document.getElementById("startDateInput").value;
            const endDate = document.getElementById("endDateInput").value;
            const personCount = document.getElementById("personInput").value;

            // 세션 스토리지에 검색 조건 저장
            sessionStorage.setItem("region", region);
            sessionStorage.setItem("startDate", startDate);
            sessionStorage.setItem("endDate", endDate);
            sessionStorage.setItem("personCount", personCount);
        });
    });

    function validateForm() {
        const destination = document.getElementById("destinationInput").value;
        const startDate = document.getElementById("startDateInput").value;
        const endDate = document.getElementById("endDateInput").value;
        const personCount = document.getElementById("personInput").value;

        if (!destination) {
            alert("여행 목적지를 선택하세요.");
            return false;
        }

        if (!startDate || !endDate) {
            alert("여행 날짜를 선택하세요.");
            return false;
        }

        if (!personCount) {
            alert("인원 수를 선택하세요.");
            return false;
        }

        return true;
    }
	document.querySelectorAll('.leftDepth1').forEach((button, index) => {
	           button.addEventListener('click', () => {
	               document.querySelectorAll('.leftDepth1').forEach(btn => {
	                   btn.classList.remove('active');
	               });
	               button.classList.add('active');
	
	               document.querySelectorAll('.choiceTableRight').forEach((ul, ulIndex) => {
	                   ul.classList.toggle('active', ulIndex === index);
	               });
	           });
	       });
</script>
</html>

