<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/package/abroadlist.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
</head>
<body>
	<th:block th:include="~{layout/header::header(${session.loginUser})}"></th:block>
    <div id="wrap" class="list">
        <div class="plistresult">  
            <div class="sidesearch">
                <div class="sidebar">
                    <div class="destination">
                        <button type="button" onclick="opendes()">
                            <span id="desChoice">어디로 여행하세요?</span>
                        </button>
                        <input type="hidden" name="regionname" id="destinationInput">
						<div id="deslist" class="hide">
							<div class="list">
							    <div class="dl_header">
							        <span onclick="opendes()">x</span>
							    </div>
							    
							    <div class="dl_choice">
							        <ul class="choiceTableLeft">
							            <li><button type="button" class="leftDepth1" value="ea">동남아</button></li>
							            <li><button type="button" class="leftDepth1" vlaue="gu">괌/ 사이판/ <br>호주/ 뉴질랜드</button></li>
							            <li><button type="button" class="leftDepth1" value="jp">일본</button></li>
							            <li><button type="button" class="leftDepth1" value="cn">중국</button></li>
							            <li><button type="button" class="leftDepth1" value="eu">유럽</button></li>
							            <li><button type="button" class="leftDepth1" value="us">하와이/ 미국/ 중남미</button></li>
							        </ul>
							        <ul class="choiceTableRight">
							            <li><button type="button" class="RightDepth1">태국</button></li>
							            <li><button type="button" class="RightDepth1">베트남</button></li>
							            <li><button type="button" class="RightDepth1">필리핀</button></li>
							            <li><button type="button" class="RightDepth1">싱가폴</button></li>
							            <li><button type="button" class="RightDepth1">말레이시아</button></li>
							            <li><button type="button" class="RightDepth1">캄보디아</button></li>
							        </ul>
							        <ul class="choiceTableRight">
							            <li><button type="button" class="RightDepth1">괌</button></li>
							            <li><button type="button" class="RightDepth1">사이판</button></li>
							            <li><button type="button" class="RightDepth1">호주</button></li>
							            <li><button type="button" class="RightDepth1">뉴질랜드</button></li>
							        </ul>
							        <ul class="choiceTableRight">
							            <li><button type="button" class="RightDepth1">오사카</button></li>
							            <li><button type="button" class="RightDepth1">후쿠오카</button></li>
							            <li><button type="button" class="RightDepth1">도쿄</button></li>
							            <li><button type="button" class="RightDepth1">교토</button></li>
							            <li><button type="button" class="RightDepth1">삿포로</button></li>
							        </ul>
							        <ul class="choiceTableRight">
							            <li><button type="button" class="RightDepth1">하이난</button></li>
							            <li><button type="button" class="RightDepth1">청도</button></li>
							            <li><button type="button" class="RightDepth1">베이징</button></li>
							            <li><button type="button" class="RightDepth1">장가계</button></li>
							        </ul>
							        <ul class="choiceTableRight">
							            <li><button type="button" class="RightDepth1">프랑스</button></li>
							            <li><button type="button" class="RightDepth1">영국</button></li>
							            <li><button type="button" class="RightDepth1">이탈리아</button></li>
							            <li><button type="button" class="RightDepth1">스페인</button></li>
							            <li><button type="button" class="RightDepth1">독일</button></li>
							            <li><button type="button" class="RightDepth1">스위스</button></li>
							            <li><button type="button" class="RightDepth1">핀란드</button></li>
							            <li><button type="button" class="RightDepth1">노르웨이</button></li>
							            <li><button type="button" class="RightDepth1">그리스</button></li>
							            <li><button type="button" class="RightDepth1">포르투갈</button></li>
							        </ul>
							        <ul class="choiceTableRight">
							            <li><button type="button" class="RightDepth1">하와이</button></li>
							            <li><button type="button" class="RightDepth1">미 동부</button></li>
							            <li><button type="button" class="RightDepth1">미 서부</button></li>
							            <li><button type="button" class="RightDepth1">캐나다</button></li>
							            <li><button type="button" class="RightDepth1">중남미</button></li>
							        </ul>
							    </div>
							</div>
						</div>
                    </div>
                    <div class="period">
                        <input type="text" name="startdate" placeholder="출발일/도착일" id="startDateInput" readonly />
                        <input type="text" name="enddate" placeholder="" id="endDateInput" readonly />
                    </div>
                    <div class="person">
                        <button type="button" onclick="openper()">
                            <span id="personCount">인원</span>
                        </button>
                        <input type="hidden" name="maxcnt" id="personInput">
                        <div id="perlist" class="hide">
                            <div class="pr_header">
                                <span onclick="openper()">x</span>
                            </div>
                            <div class="pr_choice">
                                <div class="pr_list">
                                    <button type="button" class="pr"><span>1명</span></button>
                                    <button type="button" class="pr"><span>2명</span></button>
                                    <button type="button" class="pr"><span>3명</span></button>
                                    <button type="button" class="pr"><span>4명</span></button>
                                    <button type="button" class="pr"><span>5명</span></button>
                                    <button type="button" class="pr"><span>6명</span></button>
                                    <button type="button" class="pr"><span>7명</span></button>
                                    <button type="button" class="pr"><span>8명</span></button>
                                    <button type="button" class="pr"><span>9명</span></button>
                                    <button type="button" class="pr"><span>10명 ++ </span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="searchForm" action="/package/abroadlist" onsubmit="return validateForm()" method="GET" >
						<input type="hidden" name="regionname" id="destinationInputForm">
						<input type="hidden" name="startdate" id="startDateInputForm">
						<input type="hidden" name="enddate" id="endDateInputForm">
						<input type="hidden" name="maxcnt" id="personInputForm">
						<input type="hidden" name="countrycode" id="countrycodeInputForm">
                        <div class="search_btn">
                            <button type="submit">검색</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="searchresult">
                <div class="reslutbar">
                    <div class="result">
                        <div class="text1">
                            <span id="resultRegion"></span>
                        </div>
                        <div class="text2">
                            <span id="resultPeriod"></span>
                        </div>
                        <div class="text3">
                            <span id="resultPerson"></span>
                        </div>
                    </div>
                </div>
				<div class="sortingButtons">
					<button class="sbtn" id="sortByPrice">가격순</button>
					<button class="sbtn" id="sortByDate">최신순</button>
					<button class="sbtn" id="sortByPopularity">인기순</button>
				</div>
				<div class="listwrap">
				    <div class="plist">
					<div class="listok">
				        <div th:if="${list != null and list.size() > 0}" th:each="board:${list}" class="package">
				            <a th:href="@{/package/pget(packagenum=${board.packagenum})}">
							<div class="thumbnail" th:each="file : ${file}" th:if="${file.packagenum == board.packagenum}">
								<img th:src="${'/package/thumbnail?systemname='+file.pfSysname}" alt="">
							</div>
				            <div class="info">
				                <h3>[[${board.packageTitle}]]</h3>
							[[${board.startdate}]] ~
				            </div>
				            <div class="price">
				                <h3>[[${board.adultPrice}]] 원</h3>
							<p>최대인원 : [[${board.maxcnt}]] 명</p>
							<p th:each="reserve : ${reserve}" th:if="${reserve.packagenum == board.packagenum}">
								현재인원 : [[${reserve.currentCount}]]명
							</p>
				            </div>
				            </a>
				        </div> 
				        <div th:if="${list == null or list.size() == 0}" class="row no-list">
				            <p>등록된 게시글이 없습니다.</p>
				        </div>
					</div>
					<table class="pagination">
						<tbody>
							<tr>
								<td>
									<a class="btn changePage" th:href="${pageMaker.startPage - 1}" th:if="${pageMaker.prev}">&lt;</a>
									<th:block th:each="i : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
										<span class="nowPage" th:if="${pageMaker.cri.pagenum == i}">[[${i}]]</span>
										<a class="btn changePage" th:href="${i}" th:unless="${pageMaker.cri.pagenum == i}">[[${i}]]</a>
									</th:block>
									<a class="btn changePage" th:href="${pageMaker.endPage+1}" th:if="${pageMaker.next}">&gt;</a>
								</td>
							</tr>
						</tbody>
					</table>
				    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#startDateInput", {
        mode: "range",
        dateFormat: "Y-m-d",
        minDate: "today",
        onClose: function(selectedDates, dateStr, instance) {
            if (selectedDates.length === 2) {
                const startDate = instance.formatDate(selectedDates[0], "Y-m-d");
                const endDate = instance.formatDate(selectedDates[1], "Y-m-d");
                document.getElementById("startDateInput").value = startDate;
                document.getElementById("endDateInput").value = endDate;
                document.getElementById("endDateInput").style.display = 'block';
                document.getElementById("startDateInputForm").value = startDate; // 폼에 시작 날짜 업데이트
                document.getElementById("endDateInputForm").value = endDate; // 폼에 종료 날짜 업데이트
            }
        }
    });

    function opendes() {
        const target = document.getElementById("deslist");
        target.classList.toggle("hide");
    }

    function openper() {
        const target = document.getElementById("perlist");
        target.classList.toggle("hide");
    }

    document.addEventListener("DOMContentLoaded", function() {

        // 세션 스토리지에서 검색 조건을 불러와서 결과 부분에 표시하는 함수
        function loadSearchConditions() {
            const region = sessionStorage.getItem("region");
            const startDate = sessionStorage.getItem("startDate");
            const endDate = sessionStorage.getItem("endDate");
            const personCount = sessionStorage.getItem("personCount");

            if (region) {
                document.getElementById("resultRegion").textContent = region;
                document.getElementById("destinationInput").value = region;
                document.getElementById("destinationInputForm").value = region;
                document.getElementById("desChoice").textContent = region;
            }
            if (startDate && endDate) {
                document.getElementById("resultPeriod").textContent = startDate + " - " + endDate;
                document.getElementById("startDateInput").value = startDate;
                document.getElementById("endDateInput").value = endDate;
                document.getElementById("startDateInputForm").value = startDate;
                document.getElementById("endDateInputForm").value = endDate;
            }
            if (personCount) {
                document.getElementById("resultPerson").textContent = personCount + "명";
                document.getElementById("personInput").value = personCount;
                document.getElementById("personInputForm").value = personCount;
                document.getElementById("personCount").textContent = personCount + "명";
            }
        }
        // 페이지가 로드될 때 세션 스토리지에서 검색 조건을 불러옵니다.
	loadSearchConditions();
	
	const prButtons = document.querySelectorAll(".pr_list button");
	prButtons.forEach(function(button) {
	    button.addEventListener("click", function() {
	        const countText = this.textContent.trim();
	        const count = parseInt(countText.match(/\d+/)[0]);
	        const personCountSpan = document.getElementById("personCount");
	        personCountSpan.textContent = count + "명";
	        document.getElementById("personInput").value = count;
	        document.getElementById("personInputForm").value = count;
	        console.log("Person Count Set:", count); // 디버그 메시지
	        openper();
	    });
	});
	document.querySelectorAll('.leftDepth1').forEach((button, index) => {
		           button.addEventListener('click', () => {
		               document.querySelectorAll('.leftDepth1').forEach(btn => {
		                   btn.classList.remove('active');
		               });
		               button.classList.add('active');
		
		               document.querySelectorAll('.choiceTableRight').forEach((ul, ulIndex) => {
		                   ul.classList.toggle('active', ulIndex === index);
		               });
		           });
		       });
	
	const dlButtons = document.querySelectorAll(".RightDepth1");
			dlButtons.forEach(function(button) {
			    button.addEventListener("click", function() {
			        const destination = this.textContent.replace(/\s+/g, ''); // 버튼의 텍스트를 가져와서 모든 공백을 제거
			        const desChoiceSpan = document.getElementById("desChoice");
			        desChoiceSpan.textContent = destination; // 목적지 텍스트 업데이트
			        document.getElementById("destinationInput").value = destination; // 폼에 목적지 업데이트
			        document.getElementById("destinationInputForm").value = destination; // 검색 폼에 목적지 업데이트
			        opendes(); // deslist 닫기
			    });
			});
	
	// 검색 버튼 클릭 시 검색 조건을 세션 스토리지에 저장하는 함수 추가
	document.querySelector("#searchForm").addEventListener("submit", function(event) {
	    const region = document.getElementById("destinationInput").value;
	    const startDate = document.getElementById("startDateInput").value;
	    const endDate = document.getElementById("endDateInput").value;
	    const personCount = document.getElementById("personInput").value;
		const countrycode = document.getElementById("countrycodeInputForm").value;
	
	    // 세션 스토리지에 검색 조건 저장
	    sessionStorage.setItem("region", region);
	    sessionStorage.setItem("startDate", startDate);
	    sessionStorage.setItem("endDate", endDate);
	    sessionStorage.setItem("personCount", personCount);
		sessionStorage.setItem("countrycode", countrycode);
	});
	
	// 가격순 정렬 버튼 클릭 이벤트
	document.getElementById("sortByPrice").addEventListener("click", function() {
	    sortBy("price");
	});
	
	// 최신순 정렬 버튼 클릭 이벤트
	document.getElementById("sortByDate").addEventListener("click", function() {
	    sortBy("latest");
	});
	
	// 인기순 정렬 버튼 클릭 이벤트
	document.getElementById("sortByPopularity").addEventListener("click", function() {
	    sortBy("popularity");
	});
	
	
	function sortBy(orderBy) {
	    console.log(orderBy);
	    const url = new URL(window.location.href);
	    const queryString = url.searchParams;
	    const oldOrderBy = queryString.get('orderBy');
	
	    queryString.set('orderBy', orderBy);
		queryString.set('pagenum', 1); // 페이지 번호를 1로 설정
		
		url.search = queryString.toString();
		
		// fetch 요청 보내기
		fetch(url.href)
		    .then(response => response.text()) // HTML 형식으로 데이터를 받음
		    .then(data => {
		        // 받은 HTML을 DOM에 삽입하여 페이지 업데이트
		        const parser = new DOMParser();
		        const htmlDocument = parser.parseFromString(data, 'text/html');
		        const newList = htmlDocument.querySelector('.plist'); // 이 부분은 새로운 목록의 DOM 요소를 지정해야 합니다.
		        const oldList = document.querySelector('.plist');
		        oldList.replaceWith(newList); // 이전 목록을 새로운 목록으로 교체
		
		        // 페이지 이동 버튼에 orderBy 값을 함께 전달
		        document.querySelectorAll('.changePage').forEach(link => {
		            link.addEventListener('click', function(event) {
		                event.preventDefault(); // 링크 기본 동작 방지
		
		                const url = this.getAttribute('href');
		
		                const page = parseInt(url.split('/').pop());
		
		                const orderBy = queryString.get('orderBy');
		                const urlParams = new URLSearchParams(queryString);
		                const regionname = urlParams.get('regionname');
		                const startDate = urlParams.get('startdate');
		                const endDate = urlParams.get('enddate');
		                const maxcnt = urlParams.get('maxcnt');
		                const newUrl = `/package/plist?regionname=${regionname}&startdate=${startDate}&enddate=${endDate}&maxcnt=${maxcnt}&orderBy=${orderBy}&pagenum=${page}`;
		
		                // 현재 페이지를 새로운 URL로 변경
		                window.location.href = newUrl;
		            });
		        });
		    })
		    .catch(error => {
						            console.error('Error:', error);
						        });
	}
	
	
	
	function validateForm() {
	    const destination = document.getElementById("destinationInput").value;
	    const startDate = document.getElementById("startDateInput").value;
	    const endDate = document.getElementById("endDateInput").value;
	    const personCount = document.getElementById("personInput").value;
		const countrycode = document.getElementById('countrycodeInputForm').value;
		
	
	    console.log("Destination:", destination);
	    console.log("Start Date:", startDate);
	    console.log("End Date:", endDate);
	    console.log("Person Count:", personCount);
	
	    
	    return true; // 폼 제출을 허용
	}
	
	document.querySelectorAll('.changePage').forEach(link => {
	    link.addEventListener('click', function(event) {
	        event.preventDefault(); // 링크 기본 동작 방지
	
	        // 링크의 href 속성에서 URL 가져오기
	        const url = this.getAttribute('href');
	
	        // 페이지 번호만 추출
	        const page = parseInt(url.split('/').pop());
	
	        // 쿼리스트링에서 기존 페이지 번호 추출
	        const queryString = window.location.search;
	        const urlParams = new URLSearchParams(queryString);
	        const regionname = urlParams.get('regionname');
	        const startDate = urlParams.get('startdate');
	        const endDate = urlParams.get('enddate');
	        const maxcnt = urlParams.get('maxcnt');
			const orderBy = urlParams.get('orderBy');
	
	        // 새로운 페이지 번호를 쿼리스트링에 반영하여 새 URL 생성
	        const newUrl = `/package/plist?regionname=${regionname}&startdate=${startDate}&enddate=${endDate}&maxcnt=${maxcnt}&orderBy=${orderBy}&pagenum=${page}`;
	
	        // 현재 페이지를 새로운 URL로 변경
	        window.location.href = newUrl;
	    });
        });


    });
</script>

</html>