<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/package/pget.css">
</head>
<body>
	<div id="hiddenData" style="display: none;" 
	     th:data-maxcnt="${package.maxcnt}" 
	     th:data-reservedcnt="${#lists.size(reserve) > 0 ? reserve[0].currentCount : 0}"></div>
    <th:block th:include="~{layout/header::header(${session.loginUser})}"></th:block>
    <div id="wrap" class="get">
        <div class="body_container">
            <div class="packageinfo">
                <div class="pthumbnail">
                    <th:block th:each="file : ${files}">
                        <img th:src="${'/package/thumbnail?systemname=' + file.pfSysname}" alt="">
                    </th:block>
                </div>
                <div class="pinfo">
                    <div class="p_info">
                        <div class="p_header">
                            <div class="p_title">
                                <h3>[[${package.packageTitle}]]</h3>
                            </div>
							
							<div th:if="${package.guidenum == session.guideNum}" >
								<div class="modidelete">
		                            <button><a th:href="@{/package/pmodify(packagenum=${package.packagenum})}">수정</a></button>
		                            <button><a th:href="@{/package/remove(packagenum=${package.packagenum})}">삭제</a></button>
		                        </div>
							</div>
							<div th:unless="${package.guidenum == session.guideNum}">
								<div class="report_button" style="cursor: pointer;">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="30" height="30" viewBox="0 0 256 256" xml:space="preserve">						
									<defs>
									</defs>
									<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
										<path d="M 50.619 30.076 C 39.471 32.628 27.781 42.6 27.781 54.522 l 3.371 18.432 h 38.934 V 54.522 C 70.086 42.6 61.766 32.628 50.619 30.076 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(251,66,57); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 50.619 30.076 c -1.807 -0.414 -3.686 -0.64 -5.619 -0.64 c -13.854 0 -25.086 11.231 -25.086 25.086 v 18.432 h 11.237 V 54.522 C 31.152 42.6 39.471 32.628 50.619 30.076 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(226,23,23); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 73.61 72.954 H 28.824 v 13.916 h 48.618 V 76.786 C 77.442 74.669 75.727 72.954 73.61 72.954 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(202,237,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 31.072 78.637 v -5.683 H 16.39 c -2.116 0 -3.832 1.716 -3.832 3.832 v 8.382 c 0 2.116 1.716 3.832 3.832 3.832 h 57.22 c 2.116 0 3.832 -1.716 3.832 -3.832 v -0.546 H 37.057 C 33.752 84.622 31.072 81.942 31.072 78.637 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(118,194,224); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 70.086 73.954 H 19.915 c -0.552 0 -1 -0.447 -1 -1 V 54.521 c 0 -14.384 11.702 -26.085 26.085 -26.085 s 26.086 11.702 26.086 26.085 v 18.433 C 71.086 73.507 70.639 73.954 70.086 73.954 z M 20.915 71.954 h 48.171 V 54.521 c 0 -13.281 -10.805 -24.085 -24.086 -24.085 c -13.281 0 -24.085 10.805 -24.085 24.085 V 71.954 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 73.61 90 H 16.39 c -2.665 0 -4.833 -2.168 -4.833 -4.832 v -8.382 c 0 -2.664 2.168 -4.832 4.833 -4.832 h 57.22 c 2.664 0 4.832 2.168 4.832 4.832 v 8.382 C 78.442 87.832 76.274 90 73.61 90 z M 16.39 73.954 c -1.562 0 -2.833 1.271 -2.833 2.832 v 8.382 c 0 1.562 1.271 2.832 2.833 2.832 h 57.22 c 1.562 0 2.832 -1.271 2.832 -2.832 v -8.382 c 0 -1.562 -1.271 -2.832 -2.832 -2.832 H 16.39 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 45 16.246 c -0.552 0 -1 -0.448 -1 -1 V 1 c 0 -0.552 0.448 -1 1 -1 s 1 0.448 1 1 v 14.246 C 46 15.798 45.552 16.246 45 16.246 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 20.111 26.555 c -0.256 0 -0.512 -0.098 -0.707 -0.293 L 9.331 16.189 c -0.391 -0.391 -0.391 -1.023 0 -1.414 s 1.023 -0.391 1.414 0 l 10.073 10.073 c 0.391 0.391 0.391 1.023 0 1.414 C 20.623 26.458 20.367 26.555 20.111 26.555 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 69.889 26.555 c -0.256 0 -0.512 -0.098 -0.707 -0.293 c -0.391 -0.391 -0.391 -1.023 0 -1.414 l 10.073 -10.073 c 0.391 -0.391 1.023 -0.391 1.414 0 s 0.391 1.023 0 1.414 L 70.596 26.262 C 70.4 26.458 70.145 26.555 69.889 26.555 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 45 51.515 L 45 51.515 c -3.297 0 -5.969 2.673 -5.969 5.969 v 15.47 h 11.939 v -15.47 C 50.969 54.187 48.297 51.515 45 51.515 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(254,192,7); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
										<path d="M 50.97 73.954 H 39.031 c -0.552 0 -1 -0.447 -1 -1 v -15.47 c 0 -3.843 3.126 -6.97 6.969 -6.97 s 6.97 3.127 6.97 6.97 v 15.47 C 51.97 73.507 51.522 73.954 50.97 73.954 z M 40.031 71.954 h 9.939 v -14.47 c 0 -2.74 -2.229 -4.97 -4.97 -4.97 s -4.969 2.229 -4.969 4.97 V 71.954 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
									</g>
									</svg>
								</div>
							</div>
                        </div>
                        <hr>
                        <div class="p_con">
                            <div class="paydetail">
                                <div class="adultchild">
                                    <div class="ac_head">
                                        <h3>인원선택 (필수)</h3>
										
                                    </div>
                                    <hr>
                                    <div class="ac_con">
                                        <div class="adult">
                                            <div class="adult_info">
                                                <h3>성인</h3>
                                                <p>[[${package.adultPrice}]] 원</p>
                                            </div>
                                            <div class="adult_cnt">
                                                <input type='button' onclick='count("minus")' value='-'/>
                                                <div id='result'>0</div>
                                                <input type='button' onclick='count("plus")' value='+'/>
                                            </div>
                                        </div>
                                        <div class="child">
                                            <div class="child_info">
                                                <h3>아이</h3>
                                                <p>[[${package.childPrice}]] 원</p>
                                            </div>
                                            <div class="child_cnt">
                                                <input type='button' onclick='count_child("minus")' value='-'/>
                                                <div id='result_child'>0</div>
                                                <input type='button' onclick='count_child("plus")' value='+'/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="paybutton">
                                        <form id="paymentForm" action="pay" method="get">
                                            <input type="hidden" name="packagenum" id="packagenum" th:value="${package.packagenum}"> 
                                            <input type="hidden" name="adultCount" id="adultCount" value="0">
                                            <input type="hidden" name="childCount" id="childCount" value="0">
                                            <button type="button" onclick="submitPaymentForm()">결제하기</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="pget-util" style="display: flex; gap: 5%; justify-content: center;">
						<div class="pget-like" id="p_like">
							<img th:if="${packlike}" src="/images/boardimg/fullheart.png" id="like">
							<img th:unless="${packlike}" src="/images/boardimg/emptyheart.png" id="like">
						</div>
						<div class="pget-copyUrl" id="urlCopyButton">
							<img src="https://openimage.interpark.com/UI/tour/common/common/popups/share/icon_urlCopy.png" alt="" style="width: 30px; height: 30px; cursor: pointer;">
						</div>
						<div class="pget-print" id="pacPrintOpen">
							<img src="https://openimage.interpark.com/UI/tour/pages/package/detail/btnPrint.svg" alt="" style="width: 30px; height: 30px; cursor: pointer;">
						</div>
					</div>
                </div> 
            </div>
        </div>
       
		<div class="moreinfo">
		    <div class="mi_container">
		        <div class="mi_header">
		            <div class="mi_menu">
		                <div class="menu1" id="menu1">여행소개</div> 
		                <div class="menu2" id="menu2">유의사항</div>
		                <div class="menu3" id="menu3">가이드리뷰</div>
		            </div>
		        </div>
		        <div class="mi_con">
		            <div class="menu1get content" id="menu1get">
		                [[${package.packageContent}]]
		            </div>
		            <div class="menu2get content" id="menu2get" style="display:none;">
		                <img src="/images/packageimg/warning.png">
		            </div>
					<div class="menu3get content" id="menu3get" style="display:none;">			    
					    <div th:if="${review != null and #lists.size(review) > 0 and review[0].guidenum == package.guidenum}">
					        <div th:each="review : ${review}" class="review">
					            <div class="userprofile">
									<img th:src="'/user/thumbnail?sysname=' + ${review.userImages[0].sysname}">
					                <p><strong>[[${review.userid}]]</strong></p>
					            </div>
					            <div class="reviewcontent">[[${review.contents}]]</div>
					        </div>
					    </div>
					</div>
		        </div>
		    </div>
		    <div class="pay_container">
				<div class="writerinfo">
					<div class="w_profile"><img th:src="'/user/thumbnail?sysname=' + ${guideimg.sysname}"></div>
					<div class="w_id">[[${guideimg.userid}]]</div>
					<div class="w_c_button"><input type="button" value="1:1채팅하기"></div>
				</div>
		        <div class="mapcon">
		            <div class="maphead">
		                <h3>[[${package.regionname}]]</h3>
		            </div>
		        
		            <div class="map">
						<div id="map"></div>
		            </div>
		           
		            <div class="mapfoot">
		                <a th:href="@{'/package/tlget?packagenum=' + ${package.packagenum}}">상세보기 ></a>
		            </div>
		        </div>
		    </div>
		</div>
    </div>
	<th:block th:include="~{layout/alertModal::alertModal}"></th:block>
	<th:block th:include="~{package/pacPrint::pacPrintModal}"></th:block>
	<th:block th:include="~{layout/footer::footer(${session.loginUser})}"></th:block>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAClH3Zck8wh1CdEBWohj2_PxG1HZsSmEg&libraries=places,geometry"></script>
<script th:inline="javascript">
	const mapElement = document.getElementById('map');
	const defaultLocationName = '[[${package.regionname}]]';
	const zoomScope = 10;  // Replace with appropriate zoom level	
	const geocoder = new google.maps.Geocoder();
	let loginUser = /*[[${session.loginUser}]]*/'';
	let packagenum = /*[[${package.packagenum}]]*/'';
	const copyButton = document.getElementById('urlCopyButton');
	
	document.addEventListener("DOMContentLoaded", function() {
		console.log(loginUser);
		console.log(packagenum);
	    const hiddenData = document.getElementById('hiddenData');
		console.log(hiddenData);
	    if (hiddenData) {
	        const maxCnt = parseInt(hiddenData.dataset.maxcnt);
	        console.log(maxCnt);
	        const reservedCnt = hiddenData.dataset.reservedcnt ? parseInt(hiddenData.dataset.reservedcnt) : 0;
	        console.log(reservedCnt);
	
	        const remainingSeats = maxCnt - reservedCnt;
	        if (remainingSeats <= 0) {
	            // 수용 가능한 자리가 없는 경우
	            disablePaymentButton();
	        } else {
	            // 수용 가능한 자리가 있는 경우에는 버튼을 활성화합니다.
	            const payButton = document.querySelector('.paybutton button');
	            payButton.disabled = false;
	            payButton.style.backgroundColor = ''; // 기본 스타일로 변경
	            payButton.innerText = '결제하기';
	            payButton.addEventListener('click', function(event) {
	                submitPaymentForm();
	            });
	        }
	    }
		
		function disablePaymentButton() {
		    const payButton = document.querySelector('.paybutton button');
		    payButton.disabled = true;
		    payButton.style.backgroundColor = 'grey'; // 원하는 스타일로 변경 가능
		    payButton.innerText = '수용 가능한 인원이 없습니다';
		}

		
		
		
		console.log(defaultLocationName);
		console.log(zoomScope);
	    geocoder.geocode({ 'address': defaultLocationName }, function(results, status) {
	        if (status === 'OK') {
	            const mapOptions = {
	                zoom: zoomScope,
	                center: results[0].geometry.location,
	                mapTypeId: google.maps.MapTypeId.ROADMAP,
	                disableDefaultUI: true
	            };
	            
	            const map = new google.maps.Map(mapElement, mapOptions);
	            const marker = new google.maps.Marker({
	                position: results[0].geometry.location,
	                map: map
	            });
	        } else {
	            alert('Geocode was not successful for the following reason: ' + status);
	        }
	    });
		
		copyButton.addEventListener('click', function() {
		    copyToClipboard(window.location.href);
			showAlertModal(2, "URL이 복사되었습니다");
			setTimeout(function() {
		      alertModal.hide();
		    }, 1500);
		});
		
		//채팅 버튼 클릭 이벤트리스너 등록
		document.getElementsByClassName("w_c_button")[0].children[0].addEventListener("click", (e) => createPackageChat(packagenum));
	});
	
	function copyToClipboard(text) {
	    var tempInput = document.createElement('input');
	    tempInput.value = text;
	    document.body.appendChild(tempInput);
	    tempInput.select();
	    document.execCommand('copy');
	    document.body.removeChild(tempInput);
	  }
		
    function count(type) {
        const resultElement = document.getElementById('result');
        let number = resultElement.innerText;

        if (type === 'plus') {
            number = parseInt(number) + 1;
        } else if (type === 'minus' && number > 0) {
            number = parseInt(number) - 1;
        }

        resultElement.innerText = number;
    }

    function count_child(type) {
        const resultElement = document.getElementById('result_child');
        let number = resultElement.innerText;

        if (type === 'plus') {
            number = parseInt(number) + 1;
        } else if (type === 'minus' && number > 0) {
            number = parseInt(number) - 1;
        }

        resultElement.innerText = number;
    }

	function submitPaymentForm() {
		const hiddenData = document.getElementById('hiddenData');
		const maxCnt = parseInt(hiddenData.dataset.maxcnt);
		console.log(maxCnt);
		const reservedCnt = hiddenData.dataset.reservedcnt ? parseInt(hiddenData.dataset.reservedcnt) : 0;
		console.log(reservedCnt);
	    // 성인 및 아이 수를 가져와서 폼 필드에 설정
	    const adultCount = parseInt(document.getElementById('result').innerText);
	    const childCount = parseInt(document.getElementById('result_child').innerText);
	    const totalGuests = adultCount + childCount;
		const remainConfirm = maxCnt - reservedCnt - totalGuests;
	    if (totalGuests === 0) {
	        alert('최소 1명 이상의 인원을 선택해주세요.');
	        return; 
	    }
		else if(remainConfirm < 0){
			alert("예약 가능 인원을 초과하였습니다.");
			return;
		}
	
	    document.getElementById('adultCount').value = adultCount;
	    document.getElementById('childCount').value = childCount;
	    
	    // packagenum 값을 URL에서 가져오기
	    //const urlParams = new URLSearchParams(window.location.search);
	    //const packagenum = urlParams.get('packagenum');
	    //document.getElementById('packagenum').value = packagenum;
	    
	    // 폼 제출
	    document.getElementById('paymentForm').submit();
	}
	
	document.addEventListener("DOMContentLoaded", function() {
	        // 메뉴 아이템을 변수에 저장
	        const menu1 = document.getElementById('menu1');
	        const menu2 = document.getElementById('menu2');
	        const menu3 = document.getElementById('menu3');
	
	        // 콘텐츠 아이템을 변수에 저장
	        const menu1get = document.getElementById('menu1get');
	        const menu2get = document.getElementById('menu2get');
	        const menu3get = document.getElementById('menu3get');
	
	        // 모든 콘텐츠를 숨기는 함수
	        function hideAllContents() {
	            menu1get.style.display = 'none';
	            menu2get.style.display = 'none';
	            menu3get.style.display = 'none';
	        }
	
	        // 모든 메뉴에서 active 클래스를 제거하는 함수
	        function removeActiveClass() {
	            menu1.classList.remove('menuOn');
	            menu2.classList.remove('menuOn');
	            menu3.classList.remove('menuOn');
	        }
	
	        // 각각의 메뉴 클릭 이벤트 리스너 추가
	        menu1.addEventListener('click', function() {
	            hideAllContents();
	            removeActiveClass();
	            menu1get.style.display = 'block';
	            menu1.classList.add('menuOn');
	        });
	
	        menu2.addEventListener('click', function() {
	            hideAllContents();
	            removeActiveClass();
	            menu2get.style.display = 'block';
	            menu2.classList.add('menuOn');
	        });
	
	        menu3.addEventListener('click', function() {
	            hideAllContents();
	            removeActiveClass();
	            menu3get.style.display = 'block';
	            menu3.classList.add('menuOn');
	        });
	    });
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
	$(document).ready(function(){
		$(document).on('click','.report_button', function(){
			if(loginUser == null) {
				showAlertModal(2, "로그인 후 이용 가능합니다");
				return;
			}
			showAlertModal(99,"");
	   })
	   
	   $(document).on('click','#reportSubmitBtn', function(){
			let reportContent = $('#report_text').val();
			if(reportContent == ""){
				alert("신고내역을 작성해주세요");
				return;
			}else{
				if(confirm("정말로 신고하시겠습니까?")){
		            let taskType = "2";
		            taksService.insert(
		                {"taskType": taskType, "detailNum": packagenum, "sendid": loginUser, "contents": reportContent},
		                function(result){
							$('.alertModalClose').removeAttr("id");
		                    showAlertModal(2,"신고가 접수됐습니다")
		                }
		            );
		        }
			}
	   })
	})
	
	const taksService = {
			insert:function(data,callback){
				$.ajax({
					type:"POST",
					url:"/manager/insertTask",
					data:JSON.stringify(data),
					contentType:"application/json;charset=utf-8",
					success:function(result,status,xhr){
						callback(result)
					},
					error:function(result,status,xhr){
						
					}
				})
			}
		}
		$("#p_like").on("click", function() {
			let loginUser = /*[[${session.loginUser}]]*/"";
			let guidenum = 	[[${session.guideNum}]];
			console.log(guidenum);
			let pguidenum = [[${package.guidenum}]];
			//console.log(pguidenum);	
			//let packagenum = [[${package.packagenum}]];
			
			console.log("packagenum: " + packagenum);	
			
			if(loginUser == null) {
				showAlertModal(2, "로그인 후 이용 가능합니다");
				return;
			}
			
			if(guidenum == pguidenum) {
				showAlertModal(2, "본인 게시글에는 좋아요를 클릭할 수 없습니다");
				return;
			}
			
			else {			
				$.ajax({
					url: "/package/like?packagenum=" + packagenum,
					method: "PUT",
					
					success:function(data) {
						console.log(data)
						
						if(data.packlike == null) {  
							$("#p_like").html('<img src="/images/boardimg/emptyheart.png" id="like">');
						
						}
						else {
							$("#p_like").html('<img src="/images/boardimg/fullheart.png" id="like">');
							
						}
							
					},
					
					error:function(data) {
						showAlertModal(1, "잠시 후에 다시 시도해주세요");
					}
					
				});
			}
		})
			
		
</script>
</html>
