* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nanumgothic/v23/PN_3Rfi-oW3hYwmKDpxS7F_z-7rJxHVIsPV5MbNO2rV2_va-Nv6p.0.woff2) format('woff2');
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
#wrap{
	font-family: 'NanumSquareRound';
}
#wrap p {
	margin-bottom: 0;
}
ul,
ol,
li {
	list-style: none;
}
.guideposts ul{
	margin-bottom: 0;
}
#guide-own-cont a {
	text-decoration: none;
	background-color: transparent;
	color: #424242;
}
@font-face {
	font-family: CustomFont;
	/* 폰트의 이름을 지정합니다. */
	src: url('/font/MCKLSH__.ttf') format('truetype');
	/* .ttf 파일의 경로를 지정합니다. */
}
#userintroduce{
	resize: none;
	width:100%;
	margin:0;
	padding:0;
	border:0;
	font-size:15px;
	vertical-align:top;
	border-radius:0;
	box-sizing:content-box;
	appearance:none;
	padding: 5px;
	border-radius: 2px;
	background: none;
}
#userintroduce:focus{
	outline: none;
}

.hidden{
	display: none;
}
#guide-own-cont input {
	background: none;
	border: none;
	padding: 0;
}

#guide-own-cont input[type="button"] {
	cursor: pointer;
}
body{
	background-color: aliceblue !important;		
}
#wrap{
	margin-top: 120px;	
}
#guide-own-cont{
	display: block;
	width: 1280px;
	margin: 0 auto;
	display: flex;
}
.left-side-section{
	width: 350px;
	padding: 30px 20px 20px 20px;
	background-color: rgb(254, 254, 248);
}
.right-side-section{
	width: 900px;
	padding: 30px 20px 20px 20px;
	margin-left: 30px;
	background-color: rgb(254, 254, 248);
}
.guideidarea{
	font-size: 30px;
	height: 55px;
	line-height: 55px;
}
.guideidarea > span > img{
	width: 25px;
	height: 25px;
}
.badgeimgarea{
	width: fit-content;
	margin: 0 auto;
}
.badgeimgarea > img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 0 auto;
}
.showguidenumberarea{
	margin-top: 10px;
}
.showguidenumberarea > ul{
	display: flex;
	gap: 30px;
}
.showguidenumberarea > ul > li{
	font-size: 20px;
}




/*소개*/
.guidesogaearea{
	margin-top: 20px;
}
.guidesogaearea > div {
	display: flex;
}
.guidesogaearea > div p {
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
}
#guide-own-cont .guidesogaearea > div input{
	width: 40px;
	height: 30px;
	font-size: 15px;
	line-height: 40px;
	margin-left: 10px;
	margin-top: 5px;
	font-family: CustomFont;
}
#guide-own-cont #openSogeEdit {
	background-image: url('/images/layoutimg/writebtn.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	margin-top: 11px;
	margin-bottom: 10px;
}
#guide-own-cont #sogeWan{
	background-image: url('/images/layoutimg/free-icon-check-mark-5299048.png');
	background-size: cover;	
}
#guide-own-cont #sogeCansle{
	background-image: url('/images/layoutimg/free-icon-cancel-8532369.png');
	background-size: cover;
	text-indent: -9999px;
}
#guide-own-cont #sogeWan, #guide-own-cont #sogeCansle{
	width: 20px;
	height: 20px;
	margin-top: 11px;
	margin-bottom: 10px;
}
.sogehide {
	display: none;
}
#guide-own-cont .writing{
	border: 1px solid black;
	background-color: #fff;
}

/*오른쪽*/
/*버튼*/
#choicezone{
	width: 50px;
}
#choicezone  > div {
	height: 130px;
	font-size: 20px;
	text-align: center;
	line-height: 35px;
	background-color: rgba(0, 0, 0, 0.05);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
}

#choicezone > div:hover{
	background-color: #fff;
}
#choicezone > div + .guide-selected{
	background-color: #fff;
}
#choicezone > div > p {
	width: 35px;
	text-align: left;
	writing-mode: vertical-lr;
}
#showpackagelist .guide-selected{
	background-color: #fff;	
}
.guideposts .guide-selected{
	background-color: #fff;
}

/*작성중 패키지*/
#mypackagelist{
}
#jacsunging{
	width: 400px;
	padding: 10px 20px 10px 20px;
}
#mypacklists{
	width: 500px;
}
#jacsunging .subtitles{
	font-size: 25px;
	font-family: "Nanum Gothic";
	font-weight: bold;
}
.gmlists{
	margin-top: 15px;
	display: flex;
	gap: 10px;
	width: 760px;
	height: 340px;
	overflow-x: scroll;
}
.gmlists > li{
	margin-top: 5px;
	border-radius: 25px;
}
.gmlists  .outerpckgs:hover{
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.ingthumb > img{
	height: 180px;
	width: 320px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.outerpckgs{
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	border-radius: 25px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.inglow{
	width: 320px;
}
.mypckgs{
	padding-left: 10px;
	font-weight: bold;
	font-size: 20px;
}
.stamparea{
	margin-left: auto;
	width: 80px;
	height: 80px;
}
#jacsunging .stamparea > img{
	width: 80px;
	height: 80px;	
}
.showhugiswr{
	margin-right: 5px;
	cursor: pointer;
}
.inglow > .imgbear{
	background-image: url('/images/layoutimg/editing.png');
	background-size: cover;
	width: 222px;
	height: 80px;
	border-bottom-right-radius: 20px;
}

#mypacklists{
	padding: 10px 20px;
}
#mypacklists .subtitles{
	font-size: 25px;
	font-family: 'Nanum Gothic';
	font-weight: bold;
}
.rlis{
	display: flex;
}
.outerpckgs{
	width: 320px;
	height: 300px;
}
.rrside{
	width: 150px;
	height: 300px;
	margin-left: 5px;
}
.rrside > .stamparea {
	width: 90px;
	height: 90px;
}
.rrside > .stamparea > img {
	width: 110px;
	height: 110px;
}
.stp{
	position: absolute;
	width: 120px;
	height: 120px;
	bottom: -50px;
    right: -20px;
}
.mypckgs > div:first-child{
	position: relative;
}
.ingthumb{
	height: 190px;
}
#mypacklists .mypckgs{
	width: 320px;
	height: 110px;
}
.mapmarker{
	width: 15px;
	height: 15px;
}
.mypckgs > .bonm{
	font-family: 'NanumSquareRound';
	font-weight: normal;
	font-size: 15px;
}
.showhugiswr > div{
	width: 80px;
	height: 30px;
	margin-left: 50px;
	line-height: 30px;
}

/*패키지모달*/
.gumodal {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 3000;
}
.apmodalbody{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.609);
    width: 400px;
    max-height: 700px;
}
#apmoul{
	max-height: 450px;
    overflow-y: scroll;
}
.gumodal .gumodalbody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.609);
    width: 740px;
    max-height: 900px;
    overflow-y: scroll;
}
.gumothumb{
	width: 700px;
	height: 300px;
	cursor: pointer;
}
.gumothumb img{
	width: 700px;
	height: 300px;
	background-size: cover;
}
#gumoclose{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
    top: 5px;
}
.gumosection{
	margin-top: 20px;
}
#gumopt{
	font-size: 25px;
    font-weight: bold;
    font-family: 'Nanum Gothic';
}
#gumopa{
	margin-top: 5px;
}
#gumopd{
	margin-top: 5px;
}
.gumohufi{
	margin-top: 20px;
}
#addhugiul{
	margin-top: 10px;
}
#addhugiul > li {
	margin-top: 15px;
}
.upperhugi{
	display: flex;
	gap: 10px;
}
.upperhugi > img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.concontdk{
	margin-top:5px;
}
.soimtitii > img {
	width: 50px;
	height: 50px;
}
#apmoclose{
	position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
}
#apmoul{
	margin-top: 10px;
	margin-bottom: 20px;
}
#apmoul > li {
	display: flex;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.canslezone{
	margin-left: auto;
}
.canslezone > div{
	width: fit-content;
}

.canslezone > div:first-child{
	font-size: 15px;
	margin-bottom: 5px;
}
.canslebtns{
	width: 20px;
	height: 20px;
}
.greenalert{
	color: green;
}
.redalert{
	color: red;
}
.btDiv{
	display: flex;
	gap: 5px;
	margin-left: auto;
}
.cansleyes{
	background-image: url(/images/layoutimg/free-icon-check-mark-5299048.png);
    background-size: cover;
    cursor: pointer;
}
.cansleno{
	background-image: url(/images/layoutimg/free-icon-cancel-8532369.png);
    background-size: cover;
    cursor: pointer;
}
#apinner > div:first-child{
	font-size: 25px;
    font-weight: bold;
}
.apnmspan{
	font-weight: bold;
}
.apidspan{
	cursor: pointer;
	font-weight: bold;
}
#gumoa{
	position: absolute;
    cursor: pointer;
    display: block;
    padding: 5px;
    background: aliceblue;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    right: 20px;
}
#gumoa:hover{
	background-color: #4d90fe;
	
}
#aplinner > .graychat{
	cursor: default;
	background-color: rgba(0, 0, 0, 0.15);
}
.chatcdiv{
	width: 350px;
	margin: 0 auto;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	color: white;
	background-color: #4d90fe;
	border-radius: 15px;
}