*{
	box-sizing: border-box;
}
@font-face {
    font-family: CustomFont; /* 폰트의 이름을 지정합니다. */
    src: url('/font/MCKLSH__.ttf') format('truetype'); /* .ttf 파일의 경로를 지정합니다. */
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#mapwrap{
	height: 400px;
}
#map {
	width:540px;
	height: 400px;
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}
/*map end*/

#jointit{
	width: 700px;
	margin: 0 auto;
	height: 70px;
	line-height: 20px;
	text-align: center;
	font-family: CustomFont;
	font-size: 50px;
	color: #4d90fe;
}
#wrap{
    width:1000px;
    margin: 0 auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*box-shadow: 0 0 20px;*/
}

body{
    background-color:#fff;
    background-image: url("/images/layoutimg/joinbg.png");
    background-size: cover;
}
input{
    cursor:pointer;
}
ul, ol, li{ list-style: none; }

a{
	text-decoration: none;
	background-color: transparent;
	color: #424242;
}
#wrap{
	background-color: rgba(255, 255, 255, 0.85);
	
}
form{
	width: fit-content;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

th{
	text-align: left;
}
td{
    font-size:16px;
    padding-left: 20px;
	
}
td input[type="text"], td input[type="password"]{
	border: none;
	outline: none;
	border-bottom: 1px solid #90caf9;
	width: 250px;
}
td input[type="button"]{
	margin-left: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #4d90fe;
	border: none;
	outline: none;
	background: none;
}
td span {
	color: red;
	font-size: 10px;
}


.gender_area > td{
    font-size:16px;
    padding:5px 40px 5px 20px;
}
.gender_area > td > div{
	display: flex;
	align-items: center;
	position: relative;
	width:340px;
}
.gender_area ul{
	list-style: none;
	width: 50%;
	font-size: 0;
	margin:0; padding:0;
}
.gender_area ul:last-of-type{
	margin-left:10px;
}
.gender_area li{
	display: inline-block;
	width:50%;
	margin: 0; padding:0;
	border-radius: 5px 0 0 5px;
}
.gender_area ul li:last-of-type{
	border-radius: 0 5px 5px 0;
}
.gender_area li > input[type=radio]{
	width:1px; height:1px;
	margin:-1px; overflow: hidden;
	position: absolute;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border:none;
}
input[type=text]{
	background: none;
}
.gender_area li > label{
	display: block;
	position:relative;
	width: 100%;
	padding:6px 0;
	border-radius: inherit;
	border:1px solid #ccc;
	font-size:13px;
	line-height: 18px;
	color:#757575;
	text-align: center;
	cursor:pointer;
}
.gender_area li > input[type=radio]:checked+label{
	border:2px solid #4d90fe;
	color:#4d90fe;
	font-weight: bold;
}
#outerdivwrap{
	width: fit-content;
	margin: 0 auto;
	display: flex;
	margin-top: 20px;
}
#outerdivwrap input{
	width: 100px;
	height: 40px;
	margin-left: 20px;
	text-align: center;
	font-size: 16px;
	border: none;
}
#outerdivwrap input:first-child{
	color: white;
	background-color: #4d90fe;
	margin-left: 0px;
	font-weight: bold;
}