::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.23);
        background-clip: padding-box;
        border-radius: 15px;
        border-width: 4px;
        border-color: transparent;
  }
  ::-webkit-scrollbar-track {
      background-color: transparent;
        background:none;
        box-shadow: transparent 0 0 0 inset;
        border: 0;
  }
  @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/nanumgothic/v23/PN_3Rfi-oW3hYwmKDpxS7F_z-7rJxHVIsPV5MbNO2rV2_va-Nv6p.0.woff2') format('woff2');
    unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
  }
* {
    box-sizing: border-box;
    font-family: 'NanumSquareRound';
    margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	background-color: transparent;
	color: #424242;
}
@font-face {
	font-family: CustomFont;
	/* 폰트의 이름을 지정합니다. */
	src: url('/font/MCKLSH__.ttf') format('truetype');
	/* .ttf 파일의 경로를 지정합니다. */
}
textarea{
	resize: none;
	margin:0;
	padding:0;
	border:0;
	font-size:15px;
	vertical-align:top;
	border-radius:0;
	appearance:none;
	padding: 5px;
	border-radius: 2px;
}
textarea:focus{
	outline: none;
}


input {
	background: none;
	border: none;
}

input[type="button"] {
	cursor: pointer;
}

.myinfo-f_l{
    float: left;
}
.myinfo-f_r{
    float:right;
}
#sideOpenner{
    background-image: url('/images/userimg/hamburger.png');
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
#sideOpenner:hover{
    
    filter: invert(43%) sepia(98%) saturate(1672%) hue-rotate(185deg) brightness(99%) contrast(92%);
}
.lgut{
    background-image: url('/images/userimg/lgout.png');
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.lgut:hover{
   
    filter: invert(43%) sepia(98%) saturate(1672%) hue-rotate(185deg) brightness(99%) contrast(92%);
}
#sideWrap.open{
    width: 150px;
    z-index: 1999;
    opacity: 1;
    border-right: 1px solid #ddd;
}
#sideWrap{
    opacity: 0;
    background-color: #fff;
    max-height: 900px;
    position: absolute;
    text-align: center;
    transition-duration: .4s;
    transition-timing-function: ease-in;
    width: 0;
    z-index: -1000;
}
#sideWrap *{
    overflow: hidden;
}
body{
    background-color: aliceblue;
    z-index:-1;
}
#myinfowrap{
    width: 500px;
    max-height: 900px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 30px 10px 30px 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.mymenu{
    height: 20px;
    text-align: center;
}
.myprofile{
    margin-top: 10px;
    clear: both;
}

.myeonsang{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}
.myeonsang > img {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
}
.myeonsang > img:hover{
    transform: scale(1.2);
    transition: 0.25s ease-in-out;
}
.myinfoid{
    margin-top: 20px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
#isguide > img {
    width: 25px;
    height: 25px;
}

.sogaebox{
    margin-top: 10px;
    text-align: center;
}
.sogaebox > form > textarea{
    width: 450px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
#openSogeEdit {
	width: 20px;
	height: 20px;
	background-image: url('/images/userimg/writebtn.png');
	background-size: cover;
}

.bungi{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.bungi * {
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    color: white;
    background-color: #2196f3;
    border-radius: 15px;
    box-shadow: 2px 2px 1px 1px rgb(205, 230, 253);
}

.bungi *:hover{
    background-color: white;
    color: #2196f3;
    box-shadow: 2px 2px 1px 1px rgb(205, 230, 253);
}

.myinfoinfo{
    margin-top: 20px;
}
.myinfoinfo::before{
    content: "";
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    margin-bottom: 10px;
}
.myinfoinfotit{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.myinfoinfoul{
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}
.myinfoinfoul > li > p:first-child{
    font-family: 'Nanum Gothic';
    font-weight: bold;
}

.details{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.details > div{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-indent: -999px;
    overflow-x: visible;
}
.redbull{
    background-color: rgb(124, 196, 255);
    box-shadow: 2px 2px 1px 1px rgb(198, 227, 253);
}
.greenbull{
    background-color: rgb(127, 255, 212);
    box-shadow: 2px 2px 1px 1px rgb(95, 247, 197);
}
.pinkbull{
    background-color: rgb(255, 192, 203);
    box-shadow: 2px 2px 1px 1px rgb(239, 135, 152);
}
.purplebull{
    background-color: plum;
    box-shadow: 2px 2px 1px 1px rgb(221, 129, 221);
}
.details-jb:hover{
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    z-index: 30;
    color: rgb(0, 0, 0);
    text-indent: 0px;
    line-height: 30px;
}
.details-jp:hover{
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    z-index: 30;
    color: rgb(0, 0, 0);
    text-indent: 0px;
    line-height: 30px;
}
.details-cp:hover{
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    z-index: 30;
    color: black;
    text-indent: 0px;
    line-height: 30px;
}
.details-gr:hover{
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    z-index: 30;
    color: rgb(0, 0, 0);
    text-indent: 0px;
    line-height: 30px;
}

/*프로필모달*/
.pfmdform {
    /*팝업 배경*/
    /* 평소에는 보이지 않도록 */
    display: none; 
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
#ptform {
/*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.609);
    z-index: 1000;
}
#ptform {
    width: 500px;
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

#ptform p {
    font-size: 30px;
    width: fit-content;
    margin: 0 auto;
}
#ptform > #profilecontainer{
    margin: 0 auto;
}
#ptform>.ptupload {
    margin-top: 20px;
}

#ptform>.ptupload>input[type="file"] {
    font-size: 20px;
    background: none;
}

.ptfaarea {
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

#ptform a {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: #2196f3;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

#ptform a:last-child {
    margin-left: 20px;
}
#profile {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

#profile>img {
    width: 100%;
    height: 280px;
    border-radius: 50%;
    border: none;
}

#profile:hover>img {
    transform: scale(1.2);
    transition: 0.25s ease-in-out;
}

/*QM*/
#sideWrap{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.15);
}
.sideTit{
    height: 40px;
    line-height: 37px;
    padding: 3px 0px 3px 6px;
    display: flex;
    color: aliceblue;
    background-color: #424242;
}
#closeside{
    width: 40px;
    height: 40px;
    padding: 2px 5px 2px 0px;
    margin-left: auto;
    cursor: pointer;
}
#closeside:hover{
    filter: invert(100%);
}
#closeside > img{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
#sideWrap > ul {
    text-align: left;
    padding: 5px 0px 5px 0px;
}
.linkUl::after{
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.35);
    margin-left: 6px;
    width: 138px;
    height: 1px;
    display: block;
    margin-top: 15px;
}
.linkUl{
    margin-top: 0px;
}
.linkUl > li {
    padding: 5px 0px 5px 6px;
    cursor: pointer;
}
.linkUl > li:hover{
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;
}
.writeUl{
    margin-top: 0px;
}
.writeUl > li {
    padding: 5px 0px 5px 6px;
    cursor: pointer;
}
.writeUl > li:hover{
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;
}

/*콘텐츠*/
#mycontmodal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.609);
    z-index: 10001;
    
}
.mycontmodal-body {
    width: 1200px;
    height: 750px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    
}
.imgz{
    width: 300px;
    background-image: url('/images/userimg/myinfobh.png');
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#clscontz{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}
#clscontz > img {
    width: 20px;
    height: 20px;
    background-size: cover;
}
.rlcontz{
    padding-left: 30px;
    padding-top: 10px;
}
.sltbtns{
    height: 30px;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.sltbtns > div {
    padding: 5px 10px 5px 10px;
    line-height: 20px;
    color: aliceblue;
    background-color: #2196f3;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 1px 1px aliceblue;
}
.sltbtns > div:hover{
    background-color: aliceblue;
    color: #2196f3;
    border: 1px solid aliceblue;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.15);
}
.sltbtns > .sltselected{
    background-color: aliceblue;
    color: #2196f3;
    border: 1px solid aliceblue;
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.15);
}
#showctz{
    width: 840px;
    margin-top: 40px;
    height: 600px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
/*board*/
.boct > div {
    width: 260px;
    height: 260px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    cursor: pointer;
}
.boct > div:hover{
    box-shadow: 2px 8px rgba(0,0,0,0.15), 0 5px 12px rgba(0,0,0,0.30);
}
.boct > div > div:first-child{
    height: 160px;
    width: 260px;
}
.boct > div:first-child > img {
    width: 258px;
    height: 160px;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.boct > div > div:last-child{
    padding-left: 5px;
    padding-right: 5px;
}
.innerpfpt{
    margin-top: 5px;
    font-weight: bold;
}
.innerpfz{
    margin-top: 5px;
    display: flex;
    gap: 10px;
    line-height: 27px;
}
.innerpfz > img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.innerpfpc{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-content: end;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 15px;
}
.innerpfpc > img {
    width: 15px;
    height: 15px;
}

/*댓*/
.rplz{
	width: 360px;
	height: 180px;
	margin-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	display: flex;
	gap: 10px;
}
.rplpf{
	padding: 5px;
	padding-top: 20px;
}
.rplpf >img {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	border-radius: 50%;
}
.rplrs{
	padding-top: 15px;
	width: 280px;
}
.rplrscont{
	margin-top: 10px;
}
.rplemo > img {
	width: 100px;
	height: 100px;
}
.rplname{
	position: relative;
}
.movetopthe{
	position: absolute;
	top: 0px;
	right: 10px;
	cursor: pointer;
}
.movetopthe:hover{
	background-color: rgba(0, 0, 0, 0.15);
}

/*패키지*/
.packkhi{
	position: relative;
}
.rcgnzstamp{
	position: absolute;
	width: 150px !important;
	height: 150px !important;
	top: -93px;
    right: -35px;
}
/*페이징*/
.rlpagez{
    margin-top: 20px;
    display: flex;
    gap: 60px;
    font-size: 18px;
    justify-content: center;
}
.rlpagez > div{
    cursor: pointer;
}
.rlpagez > div:hover{
    color: #2196f3;
}