* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
	color: #424242;
}
@font-face {
	font-family: CustomFont;
	/* 폰트의 이름을 지정합니다. */
	src: url('/font/MCKLSH__.ttf') format('truetype');
	/* .ttf 파일의 경로를 지정합니다. */
}

section, section *{
	border: 1px soild black;
}

input {
	background: none;
	border: none;
}

input[type="button"] {
	cursor: pointer;
}

#myinfowrap {
	margin-top: 120px;
}

#profilewrap {
	width: 1000px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.25);
	background-color: aliceblue;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 25px;
}

#backbtnarea {
	width: 1000px;
	margin: 0 auto;
}

#profileupperwrap {
	height: 300px;
	display: flex;
}

#profilecontainer {
	width: 350px;
}

#profile {
	width: 280px;
	height: 280px;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
}

#profile>img {
	width: 100%;
	height: 280px;
	border-radius: 50%;
	border: none;
}

#profile:hover>img {
	transform: scale(1.2);
	transition: 0.25s ease-in-out;
}

#infocontainer {
	width: 650px;
	padding: 0 20px;
	padding-top: 40px;
}

#infocontainer .nameguide {
	font-size: 40px;
	display: flex;
}

#isguide img {
	margin-left: 10px;
	width: 30px;
	height: auto;
}

.actcntlist {
	margin-top: 20px;
	display: flex;
	width: fit-content;
}

.actcntlist li {
	width: 150px;
	text-align: center;
	font-size: 20px;
}

.actcntlist li p:first-child {
	font-weight: bold;
}

.actcntlist li p:last-child {
	margin-top: 10px;
}

#editbtn {
	margin-left: auto;
	height: 40px;
	display: flex;
	margin-top: 10px;
}

#redalert {
	display: block;
	width: 7px;
	height: 7px;
	margin-top: 12px;
	border-radius: 50%;
	background-color: red;
	border: none;
}

#choicebtns {
	display: flex;
	font-size: 20px;
}

#choicebtns li {
	margin-left: 10px;
	cursor: pointer;
}

#choicebtns li:hover {
	font-weight: bold;
}

#backbtnarea {
	margin-top: 20px;
	width: 200px;
	height: 70px;
	border-radius: 15px;
	text-align: center;
	background-color: #2196f3;
}

#backbtnarea>input {
	line-height: 70px;
	font-size: 30px;
	color: aliceblue;
	font-family: CustomFont;
}

/*profile change*/
.pfmdform {
/*팝업 배경*/
    /* 평소에는 보이지 않도록 */
	display: none; 
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
#ptform {
/*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.609);
    z-index: 1000;
}
#ptform {
	width: 500px;
	padding: 50px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 20px;
}

#ptform p {
	font-size: 30px;
	width: fit-content;
	margin: 0 auto;
}
#ptform > #profilecontainer{
	margin: 0 auto;
}
#ptform>.ptupload {
	margin-top: 20px;
}

#ptform>.ptupload>input[type="file"] {
	font-size: 20px;
	background: none;
}

.ptfaarea {
	width: fit-content;
	margin: 0 auto;
	margin-top: 20px;
}

#ptform a {
	display: inline-block;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	background-color: #2196f3;
	color: aliceblue;
	border-radius: 5px;
	cursor: pointer;
}

#ptform a:last-child {
	margin-left: 20px;
}

/*myboard*/
#choicebtns li{
	height: 35px;
	font-size: 20px;
	line-height: 35px;
	padding: 0 5px;
}
#choicebtns li:first-child{
	margin-left: 20px;
}
#mypostsection{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background-color: #ffffff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.pstguide img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: cover;
}
.p_img{
	width: 180px;
}
.p_img img{
	width: 180px;
	margin-top: 2px;
	height: 140px;
	border-radius: 5px;
}
#mainmypost{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 10px;
}
#mainmypost a {
	display: block;
	width: 420px;
	height: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
#mainmypost a:nth-child(even){
	width: 440px;
}
.mypost{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.mypost:hover{
	border: 3px solid #2196f3;
}
.post_write{
	width: 220px;
	padding-left: 20px;
	margin-top: 5px;
}

.pstguide{
	height: 40px;
	display: flex;
}
.pstguide span{
	height: 40px;	
	margin-left: 15px;
	font-size: 20px;
	line-height: 40px;
}
.line{
	content: "";
	margin-top: 7px;
	width: 200px;
	height: 1px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.post_title{
	margin-top: 7px;
}
.post_preview{
	margin-top: 7px;
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mypstselected-btn{
	color: #2196f3;
	background-color: #ffffff;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.mypstselected-body{
	border-top-left-radius: 0px !important;
}
.clicklist {
}
/*guide*/
#guidemodal {
/*팝업 배경*/
    /* 평소에는 보이지 않도록 */
	display: none; 
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
#guidewarp {
/*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.609);
    z-index: 1000;
}

#guidewarp {
	width: 1280px;
	margin: 0 auto;
}

#guidecontentswrap {
	display: flex;
}

#profmclosebtn {
	width: 40px;
	height: 40px;
	margin-left: auto;
	cursor: pointer;
}

#guidepfarea div img {
	width: 280px;
	height: 280px;
}