<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get</title>
	<link rel="stylesheet" href="/css/layout/fontscroll.css">
	<link rel="stylesheet" href="/css/board/boardget.css">
</head>
<body>
	<th:block th:include="~{layout/header::header(${session.loginUser})}"></th:block>
    <div class="wrap">
		
        <div class="main_photo">
            <img th:src="'/BoardThumnail/' + ${thumbnailImg.sysname}" alt="">
        </div>

        <div class="info">
            <div class="">
                <h2 class="title_info">
                    [[${board.title}]]
                </h2>
				
				<div class="contour"></div>
	
				<div id="like_area">
					<img th:if="${boardLike}" src="/images/boardimg/fullheart.png" id="like">
					<img th:unless="${boardLike}" src="/images/boardimg/emptyheart.png" id="like">
				</div>
			 
				<div th:if="${board.userid eq session.loginUser}" class="changebtn">
				    <button th:onclick="modifyBoard([[${board.boardnum}]]);">수정</button>
				    <button th:onclick="deleteBoard([[${board.boardnum}]]);">삭제</button>
				</div>

                <div class="cnt_info">
                    <span>조회수 [[${board.viewcnt}]]</span>
					<span id="likecnt">좋아요 [[${board.likecnt}]]</span>
                    <span id="replycnt">댓글 [[${board.replycnt}]]</span>
                </div>

                <div class="trip_schedule">
					
                    <h4 th:if="${boardaddr}">여행 일정</h4>
                    <div class="schedule_detail">
                        <p th:if="${boardaddr}" class="trip_day">[[${boardaddr.startdate}]] - [[${boardaddr.enddate}]]([[${days}]]일)</p>
                        <p th:text="${board.countrycode} == 'kr' ? '대한민국, ' + ${board.regionname} : ${board.regionname}" class="trip_location"></p>
                    </div>

					<div class="trip_introduction">
					    <h4>내용</h4>
					    <div></div>
					</div>
					
					<div class="file addfile" th:if="${files != null and files.size() > 0}">
					    <table>
							<tr>
								<th><h4>첨부 파일</h4></th>
								<td>
									<a th:href="@{/board/download (sysname=${file.sysname}, orgname=${file.orgname})}" th:each="file:${files}"><img src="/images/boardimg/download.png" class="downloadImg">[[${file.orgname}]]</a>
								</td>
							</tr>
						</table>
					</div>
					
					<div class="line"></div>

                    <div class="reply_area">
                        <h4>댓글</h4>
                        <div>
                            <textarea name="replycontent" class="replycontent" placeholder="댓글을 입력해주세요."></textarea>
							<div class="comment_attach">
								<svg id ="emoji_toggle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16" style="cursor:pointer;">
								  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
								</svg>
							</div>
							<input type="button" value="등록" onclick="replySubmit();">
                        </div>
                    </div>
					<div class="replies">
					</div>
					<div class="replies-page"></div>
                </div>
            </div>

            <!-- 구분선 -->
            <div></div>

            <div class="">
                <div class="guide_info">
					<div style="display: flex; justify-content: space-between;">
		                <h4>작성자</h4>
						<div class="report_button" style="cursor: pointer;" th:if="${board.userid != session.loginUser}">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="30" height="30" viewBox="0 0 256 256" xml:space="preserve">						
							<defs>
							</defs>
							<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
								<path d="M 50.619 30.076 C 39.471 32.628 27.781 42.6 27.781 54.522 l 3.371 18.432 h 38.934 V 54.522 C 70.086 42.6 61.766 32.628 50.619 30.076 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(251,66,57); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 50.619 30.076 c -1.807 -0.414 -3.686 -0.64 -5.619 -0.64 c -13.854 0 -25.086 11.231 -25.086 25.086 v 18.432 h 11.237 V 54.522 C 31.152 42.6 39.471 32.628 50.619 30.076 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(226,23,23); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 73.61 72.954 H 28.824 v 13.916 h 48.618 V 76.786 C 77.442 74.669 75.727 72.954 73.61 72.954 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(202,237,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 31.072 78.637 v -5.683 H 16.39 c -2.116 0 -3.832 1.716 -3.832 3.832 v 8.382 c 0 2.116 1.716 3.832 3.832 3.832 h 57.22 c 2.116 0 3.832 -1.716 3.832 -3.832 v -0.546 H 37.057 C 33.752 84.622 31.072 81.942 31.072 78.637 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(118,194,224); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 70.086 73.954 H 19.915 c -0.552 0 -1 -0.447 -1 -1 V 54.521 c 0 -14.384 11.702 -26.085 26.085 -26.085 s 26.086 11.702 26.086 26.085 v 18.433 C 71.086 73.507 70.639 73.954 70.086 73.954 z M 20.915 71.954 h 48.171 V 54.521 c 0 -13.281 -10.805 -24.085 -24.086 -24.085 c -13.281 0 -24.085 10.805 -24.085 24.085 V 71.954 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 73.61 90 H 16.39 c -2.665 0 -4.833 -2.168 -4.833 -4.832 v -8.382 c 0 -2.664 2.168 -4.832 4.833 -4.832 h 57.22 c 2.664 0 4.832 2.168 4.832 4.832 v 8.382 C 78.442 87.832 76.274 90 73.61 90 z M 16.39 73.954 c -1.562 0 -2.833 1.271 -2.833 2.832 v 8.382 c 0 1.562 1.271 2.832 2.833 2.832 h 57.22 c 1.562 0 2.832 -1.271 2.832 -2.832 v -8.382 c 0 -1.562 -1.271 -2.832 -2.832 -2.832 H 16.39 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 45 16.246 c -0.552 0 -1 -0.448 -1 -1 V 1 c 0 -0.552 0.448 -1 1 -1 s 1 0.448 1 1 v 14.246 C 46 15.798 45.552 16.246 45 16.246 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 20.111 26.555 c -0.256 0 -0.512 -0.098 -0.707 -0.293 L 9.331 16.189 c -0.391 -0.391 -0.391 -1.023 0 -1.414 s 1.023 -0.391 1.414 0 l 10.073 10.073 c 0.391 0.391 0.391 1.023 0 1.414 C 20.623 26.458 20.367 26.555 20.111 26.555 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 69.889 26.555 c -0.256 0 -0.512 -0.098 -0.707 -0.293 c -0.391 -0.391 -0.391 -1.023 0 -1.414 l 10.073 -10.073 c 0.391 -0.391 1.023 -0.391 1.414 0 s 0.391 1.023 0 1.414 L 70.596 26.262 C 70.4 26.458 70.145 26.555 69.889 26.555 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 45 51.515 L 45 51.515 c -3.297 0 -5.969 2.673 -5.969 5.969 v 15.47 h 11.939 v -15.47 C 50.969 54.187 48.297 51.515 45 51.515 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(254,192,7); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
								<path d="M 50.97 73.954 H 39.031 c -0.552 0 -1 -0.447 -1 -1 v -15.47 c 0 -3.843 3.126 -6.97 6.969 -6.97 s 6.97 3.127 6.97 6.97 v 15.47 C 51.97 73.507 51.522 73.954 50.97 73.954 z M 40.031 71.954 h 9.939 v -14.47 c 0 -2.74 -2.229 -4.97 -4.97 -4.97 s -4.969 2.229 -4.969 4.97 V 71.954 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
							</g>
							</svg>
						</div>
					</div>
                    <div class="guide_profile">
                        <img th:src="'/user/thumbnail?sysname=' + ${userprofile.sysname}" alt="">
						<span>[[${board.userid}]]<img th:if="${guide}" src="/images/userimg/guidebadge.png" alt="" class="guidebadge"></span>
						<!--<p>자기 소개를 아직 작성하지 않았습니다</p>-->
                    </div>

                    <div class="location">
                        <h3>장소</h3>
						<p th:if="${boardaddr}">[[${boardaddr.placename}]]</p>
                        <div class="location_detail">
							<div id="map"></div>
                        </div>
                    </div>

                    <div class="chatting">채팅하기</div>
                </div>
            </div>
        </div>
    </div>
	<th:block th:include="~{layout/alertModal::alertModal}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAClH3Zck8wh1CdEBWohj2_PxG1HZsSmEg&libraries=places,geometry"></script>
<script th:inline="javascript">
const map = $("#map");
const defaultLocationName = /*[[${boardaddr != null && boardaddr.placename != null ? boardaddr.placename : board.regionname}]]*/'';
const zoomScope = /*[[${boardaddr != null && boardaddr.placename != null ? 11 : 5}]]*/'';
const content = /*[[${board.content}]]*/'';
let loginUser = /*[[${session.loginUser}]]*/'';
let boardnum = [[${board.boardnum}]];
const geocoder = new google.maps.Geocoder();
let stickerNum = 0;
let modifyStickerNum = 0;
const replies = $('.replies');
const repliesPage = $('.replies-page');
let emojiContent = `
	           <svg id="emoji_toggle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16" style="cursor:pointer;">
	               <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
	           </svg>
	       `;
let thispage = 1;
	$(document).ready(function() {
	   $(".trip_introduction div").html(content);
	   showReplyList(thispage);
       geocoder.geocode({ 'address': defaultLocationName }, function(results, status) {
           if (status === 'OK') {
               const mapOptions = {
                   zoom: zoomScope,
                   center: results[0].geometry.location,
                   mapTypeId: google.maps.MapTypeId.ROADMAP,
				   disableDefaultUI: true
               };
               
               const map = new google.maps.Map(document.getElementById('map'), mapOptions);
               const marker = new google.maps.Marker({
                   position: results[0].geometry.location,
                   map: map
               });				   
           } else {
               alert('Geocode was not successful for the following reason: ' + status);
           }
   		});
		
		$(document).on('click', '.tool_btn', function(event) {
	       event.stopPropagation();
	       $('.tool-menu').remove();
	       
	       const toolMenu = $('<div class="tool-menu"></div>').html(`
	           <button class="edit-button">수정</button>
	           <button class="delete-button">삭제</button>
	       `);
	    
	       $(this).parent().append(toolMenu);
	   });
	   
	   $(document).on('click', function(event) {
           if (!$(event.target).closest('.reply_tool').length) {
               $('.tool-menu').remove();
           }
       });
	   
	   $(document).on('click', '#emoji_toggle', function() {
		if(loginUser == null) {
			showAlertModal(2, "로그인 후 이용 가능합니다");
			$("#emoji-picker").css("display", none);
		}
		
		
	       var $emojiPicker = $('#emoji-picker');
	       if ($emojiPicker.length) {
	           $emojiPicker.remove();
	       } else {
	           const emojiPickerHtml = `
	               <div class="emoji-picker" id="emoji-picker">
	                   <span class="emoticon" id="et1"><img src="/images/emoticon/1.png" alt></span>
	                   <span class="emoticon" id="et2"><img src="/images/emoticon/2.png" alt></span>
					   <span class="emoticon" id="et3"><img src="/images/emoticon/3.png" alt></span>
					   <span class="emoticon" id="et4"><img src="/images/emoticon/4.png" alt></span>
	               </div>
	           `;
	           $('.comment_attach').append(emojiPickerHtml);
	       }
	   });

	   $(document).on('click', '.emoji-picker span', function() {
	       let emojiId = $(this).attr("id").substring(2);
		   stickerNum = emojiId;
	       $('.comment_attach').empty();
	       
	       let newContent = `
	           <img src="/images/emoticon/${emojiId}.png" alt>
	           <button class="emoticon-close-btn">&times;</button>
	       `;
	       $('.comment_attach').append(newContent);
	       $('#emoji-picker').remove();
	   });

	   $(document).on('click', '.emoticon-close-btn', function(){
	       $('.comment_attach').empty();
		   stickerNum = 0;
	       $('.comment_attach').append(emojiContent);
	   });
		
	   $(document).on('click', '.delete-button', function(){
			const replyId = $(this).closest('.reply').attr('id').substring(3);
			boardReplyService.delete(
	            {"replynum": replyId},
	            function(result) {
	                showReplyList(thispage);
					updateReplyCnt(boardnum);
	            }
	        );
	   })
	   
	   $(document).on('click', '.edit-button', function(){
			$('.tool_btn').prop('disabled', true);
			const replyBox = $(this).closest('.reply');
   			const replyId = replyBox.attr('id').substring(3);
			const thisUserId = replyBox.find('.reply_userid').text();
			const thisContent = replyBox.find('.reply_content').text();
			const hasSticker = replyBox.find('.reply_sticker').length > 0;
			const stickerSrc = hasSticker ? replyBox.find('.reply_sticker img').attr('src') : '';
			if(hasSticker){
				modifyStickerNum = stickerSrc.match(/\/images\/emoticon\/(\d+)\.png/)[1];;
			}else{
				modifyStickerNum = 0;
			}
			replyBox.empty();
			const modifyBoardForm = `
			    <div class="replyModifyForm">
			        <textarea name="replyModifyContent" class="replyModifyContent" placeholder="댓글을 입력해주세요.">${thisContent}</textarea>
			        <div class="modify_comment_attach">
			            ${hasSticker ? `
			           <img src="${stickerSrc}" alt="">
			           <button class="modify_emoticon-close-btn">×</button>
			            ` : `
			           <svg id="modify_emoji_toggle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16" style="cursor:pointer;">
			                 <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
			             </svg>
			            `}
			        </div>
			        <input type="button" value="수정" id="replyModify">
			        <input type="button" value="취소" onclick="replyModifyCancel();">
			    </div>
			`;
			replyBox.append(modifyBoardForm);
			$(document).on('click', '#modify_emoji_toggle', function() {
		        var $emojiPicker = $('#modify-emoji-picker');
		        if ($emojiPicker.length) {
		            $emojiPicker.remove();
		        } else {
		            const emojiPickerHtml = `
		                <div class="modify-emoji-picker" id="modify_emoji_picker">
		                    <span class="emoticon" id="et1"><img src="/images/emoticon/1.png" alt></span>
		                    <span class="emoticon" id="et2"><img src="/images/emoticon/2.png" alt></span>
							<span class="emoticon" id="et3"><img src="/images/emoticon/3.png" alt></span>
							<span class="emoticon" id="et4"><img src="/images/emoticon/4.png" alt></span>
		                </div>
		            `;
		            $('.modify_comment_attach').append(emojiPickerHtml);
		        }
		    });
			$(document).on('click', '.modify-emoji-picker span', function() {
		       let emojiId = $(this).attr("id").substring(2);
			   modifyStickerNum = emojiId;
		       $('.modify_comment_attach').empty();
		       
		       let newContent = `
		           <img src="/images/emoticon/${emojiId}.png" alt>
		           <button class="modify_emoticon-close-btn">&times;</button>
		       `;
		       $('.modify_comment_attach').append(newContent);
		       $('#modify-emoji-picker').remove();
		   });
		   
   	   })
	   $(document).on('click', '#replyModify', function(){
			const replyBox = $(this).closest('.reply');
			const replyId = replyBox.attr('id').substring(3);
			const content = $('.replyModifyContent').val();
			replyModify(replyId,content);
	   })
	   
	   
	   $(document).on('click', '.modify_emoticon-close-btn', function(){
			modifyStickerNum = 0;
			const modifyEmojiContent = `
				<svg id="modify_emoji_toggle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16" style="cursor:pointer;">
	               <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
	           </svg>
			`;
			$('.modify_comment_attach').empty();
	        $('.modify_comment_attach').append(modifyEmojiContent);
	   })
	   
	   $(document).on('click','.report_button', function(){
			if(loginUser == null) {
				showAlertModal(2, "로그인 후 이용 가능합니다");
				return;
			}
			showAlertModal(99,"");
	   })
	   
	   $(document).on('click','#reportSubmitBtn', function(){
			let reportContent = $('#report_text').val();
			if(reportContent == ""){
				alert("신고내역을 작성해주세요");
				return;
			}else{
				if(confirm("정말로 신고하시겠습니까?")){
		            let taskType = "1";
		            taksService.insert(
		                {"taskType": taskType, "detailNum": boardnum, "sendid": loginUser, "contents": reportContent},
		                function(result){
							$('.alertModalClose').removeAttr("id");
		                    showAlertModal(2,"신고가 접수됐습니다")
		                }
		            );
		        }
			}
	   })
   });
   function replyModifyCancel(){
		showReplyList(thispage);
		$('.tool_btn').prop('disabled', false);
   }
   
   function replyModify(replynum, content){
		console.log("댓글번호 : "+replynum+" 콘텐츠내용 : "+content+" 스티커넘버 : "+modifyStickerNum);
		boardReplyService.modify(
			{"replynum":replynum, "contents":content, "emSysname":modifyStickerNum},
			function(result){
				showReplyList(thispage);
			}
		)
   }
   
   
   const replycontent = document.querySelector(".replycontent");
   
   replycontent.addEventListener("click", function() {
	if(loginUser == null) {
		showAlertModal(2, "로그인 후 이용 가능합니다");
	}
   })
   
	// 댓글
	function replySubmit() {
	    const replycontent = $(".replycontent");
	   	const content = replycontent.val();
		console.log(boardnum+loginUser+stickerNum+content+"asdasdasd")
	    
	    if(replycontent.val() == "" && stickerNum == 0) {
			showAlertModal(2, "댓글을 입력해주세요");
	        replycontent.focus();
	    } else {
	        boardReplyService.insert(
	            {"boardnum": boardnum, "userid": loginUser, "emSysname": stickerNum, "contents": content},
	            function(result) {
	                showReplyList(thispage);
					
					
	            }
	        );
			stickerNum = 0;
			replycontent.val("");
			$('.comment_attach').empty();
			$('.comment_attach').append(emojiContent);
	    }
		       
	}
	
	function showReplyList(pagenum){
		boardReplyService.getList(
			{"boardnum":boardnum, "pagenum":pagenum||1},
			function(replyCnt, list){
				//LIST DOM
				let str = "";
				if(list == null || list.length == 0){
					str += `<div class="no-reply">등록된 댓글이 없습니다.</div>`;
					replies.html(str);
					return;
				}
				
				for(let i=0;i<list.length;i++){
					const reply = list[i];
					str += `<div class="reply" id="brn${reply.replynum}">
					<div class="reply_userThumnail"><img src="/user/thumbnail?sysname=${reply.sysname}" alt></div>
			        <div class="reply_box">
			            <div class="reply_userid">${reply.userid}</div>
			            <div class="reply_content">${reply.contents}</div>
					`;
					if(reply.emSysname !== "0"){
						str += `<div class="reply_sticker"><img src="/images/emoticon/${reply.emSysname}.png" alt></div>`;
					}
					if(reply.updatecheck == 0){
						str += `<div class="reply_regdate">${formatDateTime(reply.regdate)}</div>`;						
					}else{
						str += `<div class="reply_regdate">${formatDateTime(reply.regdate)}(수정됨)</div>`;	
					}
					str += "</div>"
					if(reply.userid == loginUser){
						str += `						
						<div class="reply_tool">
				            <svg class="tool_btn" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				                <circle cx="12" cy="5" r="2.25" transform="rotate(90 12 5)" stroke="#1F2023" stroke-width="1.5" stroke-linecap="round"/>
				                <circle cx="12" cy="12" r="2.25" transform="rotate(90 12 12)" stroke="#1F2023" stroke-width="1.5" stroke-linecap="round"/>
				                <circle cx="12" cy="19" r="2.25" transform="rotate(90 12 19)" stroke="#1F2023" stroke-width="1.5" stroke-linecap="round"/>
				            </svg>
				        </div>`;
					}
					str += "</div>"
				}
				replies.html(str);
				
				showReplyPages(replyCnt, pagenum);
			}
		)
		updateReplyCnt(boardnum);
		
	}
	
	function showReplyPages(replyCnt, pagenum) {
	    let totalPages = Math.ceil(replyCnt / 10); // 총 페이지 수
	    let currentPage = parseInt(pagenum); // 현재 페이지 번호
	    let prevPage = currentPage - 1; // 이전 페이지 번호
	    let nextPage = currentPage + 1; // 다음 페이지 번호
	    
	    let str = "";
	
	    // 이전 페이지 링크 추가
	    if (prevPage >= 1) {
	        str += `<a class="changePage page-btn prevbtn" href="${prevPage}"></a>`;
	    }
	
	    // 페이지 번호 링크 추가
	    for (let i = 1; i <= totalPages; i++) {
	        if (i === currentPage) {
	            str += `<span class="nowPage">${i}</span>`;
	        } else {
	            str += `<a class="changePage page-btn" href="${i}">${i}</a>`;
	        }
	    }
	
	    // 다음 페이지 링크 추가
	    if (nextPage <= totalPages) {
	        str += `<a class="changePage page-btn nextbtn" href="${nextPage}"></a>`;
	    }
	
	    repliesPage.html(str);
	
	    // 페이지 링크 클릭 이벤트 핸들러
	    $(".changePage").on("click", function(e) {
	        e.preventDefault();
	        let target = $(this).attr("href");
	        target = parseInt(target);
	        thispage = target;
	        showReplyList(target);
	        window.setTimeout(function() {
	            window.scrollTo(0, document.body.scrollHeight);
	        }, 10);
	    });
	}

	
	function deleteBoard(boardnum) {
		location.href = "/board/remove?boardnum=" + boardnum;
	}
	
	function modifyBoard(boardnum) {	
		location.href = "/board/modify?boardnum=" + boardnum;
	}
	
	$("#like_area").on("click", function() {
		let loginUser = /*[[${session.loginUser}]]*/"";
		let userid = /*[[${board.userid}]]*/"";	
		let boardnum = /*[[${board.boardnum}]]*/"";
		
		console.log("boardnum: " + boardnum)	
		
		if(loginUser == null) {
			showAlertModal(2, "로그인 후 이용 가능합니다");
			return;
		}
		
		if(loginUser == userid) {
			showAlertModal(2, "본인 게시글에는 좋아요를 클릭할 수 없습니다");
			return;
		}
		
		else {			
			$.ajax({
				url: "/board/like?boardnum=" + boardnum,
				method: "PUT",
				
				success:function(data) {
					console.log(data)
					console.log(data.boardlike)
					console.log(data.board.likecnt)
					
					if(data.boardlike == null || !data.boardlike) {  // 좋아요 등록함
						$("#like_area").html('<img src="/images/boardimg/emptyheart.png" id="like">');
						$("#likecnt").html('좋아요 ' + data.board.likecnt);
					}
					
					else {  // 좋아요 취소함
						$("#like_area").html('<img src="/images/boardimg/fullheart.png" id="like">');
						$("#likecnt").html('좋아요 ' + data.board.likecnt);
					}
						
				},
				
				error:function(data) {
					showAlertModal(1, "잠시 후에 다시 시도해주세요");
				}
				
			});
		}
	})
	
	const taksService = {
		insert:function(data,callback){
			$.ajax({
				type:"POST",
				url:"/manager/insertTask",
				data:JSON.stringify(data),
				contentType:"application/json;charset=utf-8",
				success:function(result,status,xhr){
					callback(result)
				},
				error:function(result,status,xhr){
					
				}
			})
		}
	}

	const boardReplyService = {
		insert:function(data,callback){
			$.ajax({
				type:"POST",
				url:"/board/replyRegist",
				data:JSON.stringify(data),
				contentType:"application/json;charset=utf-8",
				success:function(result,status,xhr){
					callback(result)
					
				},
				error:function(result,status,xhr){
					
				}
			})
		},
		getList:function(data,callback){
			$.ajax({
				type:"GET",
				url:"/board/replyList",
				data:data,
				contentType:"application/json;charset=utf-8",
				success:function(result,status,xhr){
					callback(result.replyCnt,result.list);
				},
				error:function(result,status,xhr){
					
				}
			})
		},
		modify:function(data,callback){
			$.ajax({
				type:"POST",
				url:"/board/replyModify",
				data:JSON.stringify(data),
				contentType:"application/json;charset=utf-8",
				success:function(result){
					callback(result);
				},
				error:function(status,xhr){
					
				}
			})
		},
		delete:function(data, callback){
			$.ajax({
				type:"POST",
				url:"/board/replyDelete",
				data:JSON.stringify(data),
				contentType:"application/json;charset=utf-8",
				success:function(result){
					callback(result)
				},
				error:function(status,xhr){
					 console.error("AJAX Error:", xhr.status, status);
				}
			})
		},
		
		getreplycnt:function(boardnum, callback) {
			$.ajax({
				url: "/board/getReplyCnt?boardnum=" + boardnum,
				type: "PUT",
				success:function(result) {
					callback(result);
				}, 
				error:function(status, xhr) {
					console.error("AJAX Error:", xhr.status, status);
				}
			})
			
		}
	}
	
	
	
	function updateReplyCnt(boardnum) {
		boardReplyService.getreplycnt(boardnum, function(cnt) {
			$("#replycnt").html("댓글 " + cnt);
		});
	}
	
	
	function formatDateTime(dateTimeStr) {
	    const dateTime = new Date(dateTimeStr);

	    const year = dateTime.getFullYear();
	    const month = String(dateTime.getMonth() + 1).padStart(2, '0');
	    const day = String(dateTime.getDate()).padStart(2, '0');
	    const hours = String(dateTime.getHours()).padStart(2, '0');
	    const minutes = String(dateTime.getMinutes()).padStart(2, '0');

	    const formattedDate = `${year}.${month}.${day}  ${hours}:${minutes}`;
	    return formattedDate;
	}

</script>
</html>