<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 후기 작성</title>
</head>
<style>
    .hidden{
        display: none;
    }
    .himo{
            position:absolute;  
            
            justify-content: center;
            top:0;
            left:0;

            width:100%;
            height:100%;

            

            background-color: rgba(0,0,0,0.4);
    }

    .himo_body{
            position:absolute;
            top:50%; 
        

            width:400px; 
            height:600px; 

            padding:40px;  

            text-align: center;

            background-color: rgb(255,255,255); 
            border-radius:10px; 
            box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

            transform:translateY(-50%); 
    }
    .stickers{
        cursor: pointer;
    }
</style>
<body>
    <div id="hgwrap">
        <div id="hugimodal" class="hidden himo">
            <div class="himo_body">
                <div id="gprofile">
                    <div id="gprofile">
                        <img id="gprofileimg" src="">
                    </div>
                    <div id="likezone">
                        <div id="hg-gid">가이드아이디</div>
                        <input type="hidden" value="yes" id="chuchu">
                        <div id="hg-glike"></div>
                    </div>
                </div>
                <form method="post" action="/user/hugi" name="huhuform">
					<input type="hidden" name="emSysname" id="stickersysname">
                    <input type="hidden" name="guidenum" val="" id="hugignum">
                    <input type="hidden" name="packagenum" val="" id="hugipnum">
					<div id="anboim" class="grayback">
						<div id="uploadedsticekrs" class="stickers hidden" data-action="upload">
							
						</div>
					</div>
                    <div>가이드님과의 여행은 어땠는지 후기를 작성해보세요 <a href="javascript:showstickers()">보여줘</a></div>
                    <textarea name="contents" id="hugicont"></textarea>
					<div id="stickerlist" class="hidden">
						<img class="stickers" data-action="upload" src="/images/userimg/mail.svg" data-sysname="mail.svg">
					</div>    
                </form>
                <div class="btns">
                    <button class="yetda" onclick="yeogihugi()">작성완료</button>
                    <button class="yetda" onclick="canslehugi()">취소</button>
                </div>
            </div>
        </div>
        <h2>여행 후기를 작성해보세요</h2>
        <div>
            <th:block th:if="${packagelist != null and packagelist.size > 0}">
                <ul>
                    <li th:each="package, iterStat : ${packagelist}" th:onclick="hugit([[${package.packagenum}]], [[${package.guidenum}]], [[${guideimg[package.guidenum]}]])">
                        <div class="hgthumbox">
                            <img class="hugitumb">
                        </div>
                        <div>
                            <div>[[${package.packageTitle}]]</div>
                            <div>여행종료일: [[${package.enddate}]]  <span th:id="${'guideid'+package.guidenum}">가이드: [[${guideids[package.guidenum]}]]</span><span class="ddabong"><img></span> </div>
                        </div>
                        <div class="stampzone">
                            <img th:if="${reviewlist[iterStat.index]!=null}" th:src="stamp" class="hgstamp">
                        </div>
                    </li>
                </ul>
            </th>
            <th:block th:unless="${packagelist != null and packagelist.size > 0}">
                <img src="" alt="teong">
            </th>
        </div>
        <div><a href="/user/myinfo">돌아가기</a></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function(){
        $(".stickers").click(function(){
            let parrentnode = document.getElementById("uploadedsticekrs");
            switch($(this).data('action')){
                case 'upload':
                    $("#stickersysname").val($(this).data('sysname'));
                    parrentnode.classList.toggle("hidden");
                    parrentnode.innerHTML='<img class="stickers" data-action="upload" src="/images/userimg/'+$(this).data('sysname')+'" data-sysname="'+$(this).data('sysname')+'">';
                    showstickers();
                    break;

                case 'delete':
                    $("#stickersysname").val("");
                    parrentnode.classList.toggle("hidden");
                    parrentnode.innerHTML="";
                    break;
            }
        })
    })
	
    function hugit(packagenum, guidenum, guidethumbnail) {
		
		$.ajax({
			url: "/user/hugidata?packagenum="+packagenum+"&guidenum="+guidenum,
			method: "GET",
			
			success:function(datas){
				console.log(datas);
		        let modal = document.getElementById("hugimodal");
		        modal.classList.toggle("hidden");
		
		        $("#gprofileimg").attr('src', '/user/thumbnail?sysname='+guidethumbnail);
		        $("#hg-gid").text($("#guideid"+guidenum).text());
				$("#hugignum").val(guidenum);
				$("#hugipnum").val(packagenum);
				
				if(datas.review!=null){
					// 이모티콘 분기
					let stickdiv = document.getElementById("uploadedsticekrs");
					if(datas.review.emSysname!=""){
						$("#stickersysname").val($(this).data(datas.review.emSysname));
						stickdiv.classList.toggle("hidden");
						stickdiv.innerHTML='<img class="stickers" data-action="upload" src="/images/userimg/'+datas.review.emSysname+'" data-sysname="'+datas.review.emSysname+'">';
						
					} else {
						$("#stickersysname").val($(this).data(""));
						stickdiv.innerHTML=""						
					}
					
					//이하 세팅
					$("#hugicont").val(datas.review.contents);
					if(datas.islike!=null){
						$("#hg-glike").html('이 가이드를 추천했어요 <span id="likeClk"><img id="likeHeart" src="/images/layoutimg/redheart.webp" alt="" onclick="presslike('+guidenum+')"></span>');
					} else {
						$("#hg-glike").html('이 가이드를 추천하시겠어요? <span id="likeClk"><img id="likeHeart" src="/images/layoutimg/whiteheart.webp" alt="" onclick="presslike('+guidenum+')"></span>');
					}
				} else {
					$("#hugicont").val("");
				}
				
			},
			
			error:function(){
				console.log("통신에러");
			}
		});
    }
	
    function canslehugi() {
		let modal = document.getElementById("hugimodal");
		modal.classList.toggle("hidden");
    }
	function presslike(guidenum){
		$.ajax({
			url: "/user/presslike?guidenum="+guidenum,
			method: "PUT",
			
			success:function(datas){
				console.log(datas);
				if(datas==null || !datas){
					$("#hg-glike").html('이 가이드를 추천하시겠어요? <span id="likeClk"><img id="likeHeart" src="/images/layoutimg/whiteheart.webp" alt="" onclick="presslike('+guidenum+')"></span>');
					alert("좋아요를 취소했어요");
				} else {
					$("#hg-glike").html('이 가이드를 추천했어요 <span id="likeClk"><img id="likeHeart" src="/images/layoutimg/redheart.webp" alt="" onclick="presslike('+guidenum+')"></span>');
					alert("좋아요를 눌렀어요");
				}
			},
			
			error:function(){
				console.log("통신에러");
			}
			
		})
	}

    function showstickers() {
        $("#stickerlist").toggleClass("hidden");
    }
	function yeogihugi(){
		document.huhuform.submit();
	}
</script>
</html>