<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 후기 작성</title>
	<link rel="icon" href="/images/emoticon/1.png" type="image/png">
</head>
<style>
    .hidden{
        display: none;
    }
    
    .stickers{
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="/css/layout/fontscroll.css">
<link rel="stylesheet" href="/css/user/after.css">
<body>
	<th:block th:include="~{layout/header::header(${session.loginUser})}"></th:block>
    <div id="hugimodal" class="hidden himo">
        <div class="himo_body">
            <div id="gprofile">
                <div id="gprofile">
                    <img id="gprofileimg" src="">
                </div>
                <div id="likezone">
                    <div id="hg-gid">가이드아이디</div>
                    <input type="hidden" value="yes" id="chuchu">
                    <div id="hg-glike"></div>
                </div>
            </div>
            <form method="post" action="/user/hugi" name="huhuform">
				<input type="hidden" name="emSysname" id="stickersysname">
                <input type="hidden" name="guidenum" val="" id="hugignum">
                <input type="hidden" name="packagenum" val="" id="hugipnum">
                <div class="nylllc">가이드님과의 여행은 어땠는지 후기를 작성해보세요 </div>
				<div id="anboim" class="grayback">
					<div id="uploadedsticekrs" class="stickers hidden" data-action="upload">
					</div>
				</div>
                <textarea name="contents" id="hugicont"></textarea>
				<a href="javascript:showstickers()"><img class="emclk" src="/images/layoutimg/emclk.png"></a>
            </form>
				<div id="stickerlist" class="hidden">
					<img class="stickers" data-action="upload" src="/images/emoticon/1.png" data-sysname="1.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/2.png" data-sysname="2.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/3.png" data-sysname="3.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/4.png" data-sysname="4.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/5.png" data-sysname="5.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/6.png" data-sysname="6.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/7.png" data-sysname="7.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/8.png" data-sysname="8.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/9.png" data-sysname="9.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/10.png" data-sysname="10.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/11.png" data-sysname="11.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/12.png" data-sysname="12.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/13.png" data-sysname="13.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/14.png" data-sysname="14.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/15.png" data-sysname="15.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/16.png" data-sysname="16.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/17.png" data-sysname="17.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/18.png" data-sysname="18.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/19.png" data-sysname="19.png">
					<img class="stickers" data-action="upload" src="/images/emoticon/20.png" data-sysname="20.png">
				</div>    
            <div class="btns">
                <button class="yetda" onclick="yeogihugi()">작성완료</button>
                <button class="yetda" onclick="canslehugi()">취소</button>
            </div>
        </div>
    </div>
    <div id="hgwrap">
        <h2>여행 후기를 작성해보세요</h2>
        <div class="dkdoel">
            <th:block th:if="${packagelist != null and packagelist.size > 0}">
                <ul>
                    <li class="afterli" th:each="package, iterStat : ${packagelist}" th:onclick="hugit([[${package.packagenum}]], [[${package.guidenum}]], [[${guideimg[package.guidenum]}]])">
                        <div class="hgthumbox">
                            <img class="hugitumb" th:src="${'/package/thumbnail?systemname='+thumbnaillist[__${iterStat.index}__].pfSysname}">
                        </div>
                        <div>
                            <div>[[${package.packageTitle}]]</div>
                            <div>여행종료일: [[${package.enddate}]]  <span th:id="${'guideid'+package.guidenum}">가이드: [[${guideids[package.guidenum]}]]</span><span class="ddabong"><img></span> </div>
                        </div>
                        <div class="stampzone">
                            <img th:if="${reviewlist[iterStat.index]!=null}" src="/images/userimg/reviewwan.png" class="hgstamp">
                        </div>
                    </li>
                </ul>
            </th:block>
            <th:block th:unless="${packagelist != null and packagelist.size > 0}">
            	<div class="theongwrap">
					<div class="theongin">
						<img id="theong" src="/images/layoutimg/notrip.png" alt="teong">
					</div>
				</div>    
            </th:block>
        </div>
        <div class="backbtse"><a href="/user/myinfo">돌아가기</a></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function(){
        $(".stickers").click(function(){
            let parrentnode = document.getElementById("uploadedsticekrs");
            switch($(this).data('action')){
                case 'upload':
                    $("#stickersysname").val($(this).data('sysname'));
                    parrentnode.classList.toggle("hidden");
                    parrentnode.innerHTML='<img class="stickers" data-action="upload" src="/images/emoticon/'+$(this).data('sysname')+'" data-sysname="'+$(this).data('sysname')+'">';
                    showstickers();
                    break;

                case 'delete':
                    $("#stickersysname").val("");
                    parrentnode.classList.toggle("hidden");
                    parrentnode.innerHTML="";
                    break;
            }
        })
    })
	
    function hugit(packagenum, guidenum, guidethumbnail) {
		
		$.ajax({
			url: "/user/hugidata?packagenum="+packagenum+"&guidenum="+guidenum,
			method: "GET",
			
			success:function(datas){
				console.log(datas);
		        let modal = document.getElementById("hugimodal");
		        modal.classList.toggle("hidden");
		
		        $("#gprofileimg").attr('src', '/user/thumbnail?sysname='+guidethumbnail);
		        $("#hg-gid").text($("#guideid"+guidenum).text());
				$("#hugignum").val(guidenum);
				$("#hugipnum").val(packagenum);
				
				let stickdiv = document.getElementById("uploadedsticekrs");
				if(datas.review!=null){
					// 이모티콘 분기
					if(datas.review.emSysname!=""){
						$("#stickersysname").val($(this).data(datas.review.emSysname));
						stickdiv.className="stickers"
						stickdiv.innerHTML='<img class="stickers" data-action="upload" src="/images/emoticon/'+datas.review.emSysname+'" data-sysname="'+datas.review.emSysname+'">';
						
					} else {
						$("#stickersysname").val($(this).data(""));
						stickdiv.className="stickers hidden"
						stickdiv.innerHTML=""						
					}
					
					//이하 세팅
					$("#hugicont").val(datas.review.contents);
					if(datas.islike!=null){
						$("#hg-glike").html('이 가이드를 추천했어요 <span id="likeClk"><img id="likeHeart" src="/images/layoutimg/redheart.webp" alt="" onclick="presslike('+guidenum+')"></span>');
					} else {
						$("#hg-glike").html('이 가이드를 추천하시겠어요? <span id="likeClk"><img id="likeHeart" src="/images/layoutimg/whiteheart.webp" alt="" onclick="presslike('+guidenum+')"></span>');
					}
				} else {
					stickdiv.innerHTML="";
					stickdiv.className="stickers hidden"						
					$("#hugicont").val("");
				}
				
			},
			
			error:function(){
				console.log("통신에러");
			}
		});
    }
	
    function canslehugi() {
		let modal = document.getElementById("hugimodal");
		modal.classList.toggle("hidden");
    }
	function presslike(guidenum){
		$.ajax({
			url: "/user/presslike?guidenum="+guidenum,
			method: "PUT",
			
			success:function(datas){
				console.log(datas);
				if(datas==null || !datas){
					$("#hg-glike").html('이 가이드를 추천하시겠어요? <span id="likeClk"><img id="likeHeart" src="/images/layoutimg/whiteheart.webp" alt="" onclick="presslike('+guidenum+')"></span>');
					alert("좋아요를 취소했어요");
				} else {
					$("#hg-glike").html('이 가이드를 추천했어요 <span id="likeClk"><img id="likeHeart" src="/images/layoutimg/redheart.webp" alt="" onclick="presslike('+guidenum+')"></span>');
					alert("좋아요를 눌렀어요");
				}
			},
			
			error:function(){
				console.log("통신에러");
			}
			
		})
	}

    function showstickers() {
        $("#stickerlist").toggleClass("hidden");
    }
	function yeogihugi(){
		document.huhuform.submit();
	}
</script>
</html>