<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원가입</title>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<link rel="stylesheet" href="/css/user/joinstyle.css">
	<script type="module" src="/js/user/joinmap.js"></script>
	<style>
		.hidemap {
			display: none;
		}
		.greenalert{
			color: rgb(0, 255, 0);
		}
	</style>
</head>

<body>
	<!--<th:block th:if="${session.loginUser != null}">
		<script>
			location.replace("/board/list")
		</script>
	</th:block>-->
	<div id="jointit">
		<p>Tripfy!</p>
	</div>
	<div id="wrap" class="join">

		<form action="/user/join" method="post" name="joinForm">

			<table>
				<tbody>
					<tr>
						<th><label for="userid">아이디</label></th>
						<td>
							<input type="text" name="userid" id="userid">
							<input type="button" value="중복검사" onclick="checkId()">
						</td>
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td style="text-align: left;">
							<span id="result"></span>
						</td>
					</tr>
					<tr>
						<th><label for="userpw">비밀번호</label></th>
						<td><input type="password" name="userpw" id="userpw" onkeyup="pwcheck()"></td>
						<!-- onkeyup : 키가 올라갈 때 수행, 키보드에서 손을 뗄 때 -->
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td style="text-align: left;">
							<span id="pw_result"></span>
						</td>
					</tr>
					<tr>
						<th><label for="userpw_re">비밀번호 확인</label></th>
						<td><input type="password" name="userpw_re" id="userpw_re" onkeyup="pwcheck()"></td>
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td style="text-align: left;">
							<span id="pwre_result" class="pw_check"></span>
						</td>
					</tr>
					<tr>
						<th><label for="phone">휴대폰 번호</label></th>
						<td>
							<input type="text" name="phone" id="phone">
							<input type="button" value="인증번호" onclick="sendmsg()">
						</td>
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td style="text-align: left;">
						</td>
					</tr>
					<tr>
						<th><label for="email">이메일</label></th>
						<td>
							<input type="text" name="email" id="email">
						</td>
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td style="text-align: left;">
						</td>
					</tr>
					<tr>
						<th><label for="birth">생년월일</label></th>
						<td>
							<input type="text" name="birth" id="birth" placeholder="YYMMDD">
						</td>
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td style="text-align: left;">
						</td>
					</tr>
					<tr>
						<th><label for="username">이름</label></th>
						<td><input type="text" name="username" id="username"></td>
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td style="text-align: left;">
						</td>
					</tr>
					<tr class="gender_area">
						<th>성별</th>
						<td>
							<div>
								<ul>
									<li class="radio_item">
										<input type="radio" id="usergender1" name="gender" value="M"><label
											for="usergender1">남자</label>
									</li>
									<li class="radio_item">
										<input type="radio" id="usergender2" name="gender" value="W"><label
											for="usergender2">여자</label>
									</li>
								</ul>
								<ul>
									<li class="radio_item">
										<input type="radio" id="foreigner1" name="foreigner" value="K"><label
											for="foreigner1">내국인</label>
									</li>
									<li class="radio_item">
										<input type="radio" id="foreigner2" name="foreigner" value="F"><label
											for="foreigner2">외국인</label>
									</li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td style="text-align: left;">
						</td>
					</tr>
					<tr class="addr_area">
						<th>주소</th>
						<td>
							<input type="text" name="addr" id="addr" placeholder="주소" onclick="openMap()">
							<input type="hidden" name="placeid" id="inputplaceid" value="test">
							<input type="button" onclick="openMap()" value="주소찾기">
						</td>
					</tr>
					<tr>
						<th colspan="2">
							<div id="mapwrap" class="hidemap">
								<div style="display: none">
									<input id="pac-input" class="controls" type="text"
										placeholder="주소를 입력하거나 지도를 클릭하세요" />
								</div>
								<div id="map"></div>
								<div id="infowindow-content">
									<span id="place-name" class="title"></span><br />
									<strong style="display: none;">Place ID:</strong> <span id="place-id" style="display: none;"></span><br />
									<span id="place-address"></span>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td style="text-align: left;">
						</td>
					</tr>
					
				</tbody>
			</table>
		</form>
	</div>
			<div id="outerdivwrap">
					<input type="button" value="가입 완료" onclick="sendit()" class="outerbtn">
					<input type="button" value="나가기" onclick="quitjoin()" class="outerbtn">
			</div>
</body>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=places&v=weekly"
	defer></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/user/user.js"></script>
<script>
	const mapwrap = document.getElementById("mapwrap");
	function openMap() {
		mapwrap.classList.toggle("hidemap");
	}
</script>

</html>