<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/myinfostyle.css">
    <style>
        .hidden{
            display: none;
        }
        .sogehide {
	        display: none;
        }
    </style>
</head>
<body>
    <div id="myinfobody">
    </div>
    <div class="pfmdform hidden">
        <form id="ptform" name="ptform" method="post" action="/user/changeimg" enctype="multipart/form-data">
            <p>프로필 사진 변경</p>
            <div id="profilecontainer">
                <label for="uploadfileform">
                <div id="profile">
                    <img id="formprofileimg" th:src="${'/user/thumbnail?sysname='+thumbnail}">
                </div>
                </label>
                    
            </div>
            <div class="ptupload">
                <input type="hidden" name="changedfilename" value="">
                <input id="uploadfileform" type="file" name="thumbnail" onchange="chooseimg(this)" style="display: none;">
            </div>
            <div class="ptfaarea">
                <a th:href="'javascript:profilechagne(\''+${session.loginUser}+'\', \''+${thumbnail}+'\')'">변경완료</a>
                <a class="pfmdclose" href="javascript:closepfmdform()">나가기</a>
            </div>
        </form>
    </div>
    <div id="mycontmodal" class="hidden">
        <div class="mycontmodal-body">
            <div class="imgz"></div>
            <div class="rlcontz">
                <div class="sltbtns">
                    <div id="sltcnt0" onclick="switchbtn(0)">내가 쓴 게시글</div>
                    <div id="sltcnt1" class="sltselected" onclick="switchbtn(1)">내가 찜한 게시글</div>
                </div>
                <ul id="showctz">
                    <li class="boct">
                        <div onclick="location.href='/board/get?boardnum='">
                            <div>
                                <img src="2.jpg" alt="썸네일">
                            </div>
                            <div>
                                <div class="innerpfz">
                                    <img src="/defaultbadge.png" alt="" srcset="">
                                    <p>작성자아이디</p>
                                </div>
                                <p class="innerpfpt">집에가고싶으면 개추 ㅋㅋ</p>
                                <div class="innerpfpc">
                                    <img src="fullheart.png" alt="좋">10&nbsp;
                                    <img src="viewcnt.png" alt="조">20&nbsp;
                                    <img src="comments.png" alt="댓">30&nbsp;
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="rlpagez">
                    <div id="relprev" data-type="" class="rlprev" onclick="godiff(-1)">이전</div>
                    <div id="relnext" data-btnidx="" class="rlnext" onclick="godiff(1)">다음</div>
                </div>
            </div>
            <div id="clscontz">
                <img src="cancel_10289710.png" alt="콘텐츠 나가기">
            </div>
        </div>
    </div>
    <section id="myinfowrap">
        <nav class="mymenu">
            <div id="sideWrap" class="">
                <div class="sideTit">
                    <div>퀵메뉴</div>
                    <div id="closeside">
                        <img src="/images/userimg/backward.png" alt="뒤로" srcset="">
                    </div>
                </div>
                <ul class="linkUl">
                    <li>내 정보</li>
                    <li>게시판</li>
                    <li>패키지</li>
                </ul>
                <ul class="writeUl">
                    <li>새 게시글 작성</li>
                    <li id="modalOpenButton" th:if="${session.guideNum!=0}">새 패키지 작성</li>
                </ul>
            </div>
            <div id="sideOpenner" class="myinfo-f_l"></div>
            <span style="font-size: 20px; line-height: 25px; font-weight: bold; color: #2196f3;">TRIPFY</span>
            <div class="myinfo-f_r lgut" onclick="location.href='/user/logout'"></div>
        </nav>
        <div class="myprofile">
            <div class="myeonsang pfmdopen">
                <img th:src="${'/user/thumbnail?sysname='+thumbnail}" alt="유저섬네일">
            </div>
            <div class="myinfoid">
				<p id="target-id">[[${session.loginUser}]]</p>
				<p th:if="${session.guideNum!=0}" id="isguide"><img src="/images/userimg/guidebadge.png" alt="가이드뱃지"></p>
			</div>
            <div class="sogaebox">
                <form action="/user/sogae" method="get" name="sogaeform">
                    <input type="hidden" name="_method" value="PUT"/>
                    <textarea name="introduce" readonly>[[${user.introduce}]]</textarea>
                </form>
                <div>
                    <input type="button" name="open" id="openSogeEdit" class="hiddens sogaetriger" value="">
                    <input type="button" id="sogeWan" class="hiddens sogehide" onclick="sogesubmit()" value="완료">
                    <input type="button" id="sogeCansle" class="hiddens sogehide sogaetriger" value="취소">
                </div>
            </div>
            <div class="bungi">
                <div class="hugijak" onclick="location.href='/user/after'">여행후기작성</div>
                <div th:if="${session.guideNum!=0}" class="myguidemenu" onclick="location.href='/user/guide'">패키지관리</div>
                <div th:unless="${session.guideNum!=0}" class="myguidemenu" onclick="location.href='/user/joinguide'">가이드신청</div>
            </div>
        </div>
        <div class="myinfoinfo">
            <div class="myinfoinfotit"></div>
            <ul class="myinfoinfoul">
                <li>
                    <p>게시글</p>
					<p th:if="${list.size()>0}">[[${list.size()}]]</p>
					<p th:unless="${list.size()>0}">0</p>
                </li>
                <li>
                    <p>댓글</p>
                    <p>2</p>
                </li>
                <li>
                    <p>패키지</p>
                    <p>3</p>
                </li>
                <li>
                    <p>후기</p>
                    <p>4</p>
                </li>
            </ul>
        </div>
        <nav class="details">
            <div class="details-jb redbull" data-target="작성한 게시글" onclick="openCont('board', 'userid')">내 게시글</div>
            <div class="details-jp greenbull" data-target="다녀온 여행" onclick="openCont('joinpack', 'userid')">내가 참여한 여행</div>
            <div class="details-cp pinkbull" data-target="만든 패키지" onclick="openCont('mypack', 'userid')">내가 만든 패키지</div>
            <div class="details-gr purplebull" data-target="받은 후기"onclick="openCont('review', 'userid')">받은 후기</div>
        </nav>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<th:block th:include="~{layout/packageModal::packageModal}"></th:block>
<script>
    const targetId = document.getElementById('target-id').innerText;

    //햄버거
    $("#sideOpenner").on("click", function(){
        $("#sideWrap").toggleClass('open');
    })
    $("#closeside").on("click", function() {
        $("#sideWrap").toggleClass('open');
    })

    //소개
    let orgval = $('textarea[name="introduce"]').val();
	$(".sogaetriger").click(function (){
		$(".hiddens").toggleClass("sogehide");
		$('textarea[name="introduce"]').prop('readonly',!$('textarea[name="introduce"]').prop('readonly'));
		
		if($(this).val()=="취소"){
			$('textarea[name="introduce"]').val(orgval);
		}
	})
	
	function sogesubmit(){
		const sogaeform = document.sogaeform;
		sogaeform.submit();
	}
	
    //프로필
	const pfmdform = document.querySelector('.pfmdform');
	const pfmdopen = document.querySelector('.pfmdopen');
	const pfmdclose = document.querySelector('.pfmdclose');
	
	pfmdopen.addEventListener('click', function () {
		pfmdform.style.display = 'block';
	});
	pfmdclose.addEventListener('click', function () {
		pfmdform.style.display = 'none';
	});
    function chooseimg(obj){
		console.log(obj.files[0]);
		let file = obj.files[0];
		if(!file.type.match("image.*")){
		     alert("이미지를 등록해야 합니다.")
		     return;
		}
		let reader = new FileReader();
		reader.readAsDataURL(file);
		
		reader.onload = function (e){ 
			console.log(e);
			$('#formprofileimg').attr("src", e.target.result);
		}
		 
	}
	function profilechagne(userid, sysname){
		const ptform = document.ptform;
		ptform.submit();
	}

    //opencon
    $("#clscontz").on('click', function(){
        $("#mycontmodal").toggleClass('hidden');
        $("#sltcnt0").removeClass();
        $("#sltcnt1").removeClass();
        $("#sltcnt1").toggleClass('sltselected');
    });

    let curpage = 1;
    function openCont(contentType, userid) {
        curpage = 1;
        $("#mycontmodal").toggleClass('hidden');
        $("#relprev").data("type", contentType);
        $("#relnext").data('btnidx', 0);

        var btnidx = $("#relnext").data('btnidx');
        console.log('btnidx: '+btnidx);

        $('#sltcnt0').toggleClass('sltselected');
        $('#sltcnt1').toggleClass('sltselected');

        switch (contentType) {
            case "board":
                console.log("타입: "+contentType);
                $('#sltcnt0').text('내가 쓴 게시글');
                $('#sltcnt1').text('내가 찜한 게시글');
                makeBoard(btnidx, curpage);
                break;
                
            case "joinpack":
                console.log("타입: "+contentType);
                $('#sltcnt0').text('신청한 패키지');
                $('#sltcnt1').text('다녀온 패키지');
                makeJoinPack(btnidx, curpage);
                break;
                
            case "mypack":
                console.log("타입: "+contentType);
                $('#sltcnt0').text('출발 전 패키지');
                $('#sltcnt1').text('다녀온 패키지');
                makeMyPack(btnidx, curpage);
                break;
                
            case "review":
                console.log("타입: "+contentType);
                $('#sltcnt0').text('내가 쓴 후기');
                $('#sltcnt1').text('내가 받은 후기');  
                makeMyReview(btnidx, curpage);          
                break;
        }
    }

    //페
    function godiff(diff){
        curpage = curpage + diff;
        
        if(curpage===0){
            alert("첫페이지입니다!");
            curpage=1;
            return;
        }
        
        var btnidx = $("#relnext").data('btnidx');
        switch ($("#relprev").data("type")) {
            case "board":
                console.log("go to page: "+curpage);
                makeBoard(btnidx, curpage);
                break;
                
            case "joinpack":
                console.log("go to page: "+curpage);
                makeJoinPack(btnidx, curpage);
                break;
                
                
            case "mypack":
                console.log("go to page: "+curpage);
                makeMyPack(btnidx, curpage);
                break;
                
            case "review":
                console.log("go to page: "+curpage);
                makeMyReview(btnidx, curpage);          
                break;
        }
    }

    function switchbtn(btnidx) {
        if ($('#sltcnt'+btnidx).hasClass('sltselected')) {
            alert("이미 거기에요");
            return;
        } else {
            curpage = 1;
            $('#sltcnt0').toggleClass('sltselected');
            $('#sltcnt1').toggleClass('sltselected');

            switch ($("#relprev").data("type")) {
                case "board":
                console.log("switch to : "+btnidx);
                makeBoard(btnidx, curpage);
                break;
                
            case "joinpack":
                console.log("switch to : "+btnidx);
                makeJoinPack(btnidx, curpage);
                break;
                
            case "mypack":
                console.log("switch to : "+btnidx);
                makeMyPack(btnidx, curpage);
                break;
                
            case "review":
                console.log("switch to : "+btnidx);
                makeMyReview(btnidx, curpage);          
                break;
            }
        }
    }
</script>
<script>
    const parrentUlNode = document.getElementById("showctz");
    //bb
    function makeBoard(btnnum ,targetpage) {
        if(btnnum===0){
            $.ajax({
                url: "/userdata/myboard?when=before&page="+targetpage+"&userid="+targetId,
                method: "GET",
    
                success:function(datas){
                    console.log(datas);
                    parrentUlNode.innerHTML = "";
                    if(datas.boardlist==null||datas.boardlist.length===0){
    
                    } else {
                        makeDom('board', datas);
                    }
                },
    
                error:function(){
                    console.log('통신 에러');
                }
            });
        } else if(btnnum===1){
            $.ajax({
                url: "/userdata/myboard?when=after&page="+targetpage+"&userid="+targetId,
                method: "GET",
    
                success:function(datas){
                    console.log(datas);
                    parrentUlNode.innerHTML = "";
                    if(datas.boardlist==null||datas.boardlist.length===0){
    
                    } else {
                        makeDom('board', datas);
                    }
                },
    
                error:function(){
                    console.log('통신 에러');
                }
            });
        } else {
            alert("잘못된 값입니다 초비상!");
        }
    }

    //gb
    function makeJoinPack(btnnum ,targetpage) {
        if(btnnum===0){
            $.ajax({
                url: "/userdata/joinpackage?when=before&page="+targetpage+"&userid="+targetId,
                method: "GET",
    
                success:function(datas){
                    console.log(datas);
                    parrentUlNode.innerHTML = "";
                    if(datas.reservationlist==null||datas.reservationlist.length===0){
    
                    } else {
                        makeDom('joinpack', datas);
                    }
                },
    
                error:function(){
                    console.log('통신 에러');
                }
            });
        } else if(btnnum===1){
            $.ajax({
                url: "/userdata/joinpackage?when=after&page="+targetpage+"&userid="+targetId,
                method: "GET",
    
                success:function(datas){
                    console.log(datas);
                    parrentUlNode.innerHTML = "";
                    if(datas.reservationlist==null||datas.reservationlist.length===0){
    
                    } else {
                        makeDom('joinpack', datas);
                    }
                },
    
                error:function(){
                    console.log('통신 에러');
                }
            });
        } else {
            alert("잘못된 값입니다!");
        }
    }

    //pib
    function makeMyPack(btnnum ,targetpage) {
        if(btnnum===0){
            $.ajax({
                url: "/user/mypackage?when=before&page="+targetpage+"&guideid="+targetId,
                method: "GET",
    
                success:function(datas){
                    console.log(datas);
                    parrentUlNode.innerHTML = "";
                    if(datas.packagelist==null||datas.packagelist.length===0){
    
                    } else {
                        makeDom('mypack', datas);
                    }
                },
    
                error:function(){
                    console.log('통신 에러');
                }
            });
        } else if(btnnum===1){
            $.ajax({
                url: "/user/myboard?when=after&page="+targetpage+"&guideid="+targetId,
                method: "GET",
    
                success:function(datas){
                    console.log(datas);
                    parrentUlNode.innerHTML = "";
                    if(datas.packagelist==null||datas.packagelist.length===0){
    
                    } else {
                        makeDom('mypack', datas);
                    }
                },
    
                error:function(){
                    console.log('통신 에러');
                }
            });
        } else {
            alert("잘못된 값입니다!");
        }
    }

    //pub
    function makeMyReview(btnnum ,targetpage) {
        if(btnnum===0){
            $.ajax({
                url: "/userdata/myreview?who=me&page="+targetpage+"&userid="+targetId,
                method: "GET",
    
                success:function(datas){
                    console.log(datas);
                    parrentUlNode.innerHTML = "";
                    if(datas.packagelist==null||datas.packagelist.length===0){
    
                    } else {
                        makeDom('review', datas);
                    }
                },
    
                error:function(){
                    console.log('통신 에러');
                }
            });
        } else if(btnnum===1){
            $.ajax({
                url: "/userdata/myreview?who=ohters&page="+targetpage+"&userid="+targetId,
                method: "GET",
    
                success:function(datas){
                    console.log(datas);
                    parrentUlNode.innerHTML = "";
                    if(datas.packagelist==null||datas.packagelist.length===0){
    
                    } else {
                        makeDom('review', datas);
                    }
                },
    
                error:function(){
                    console.log('통신 에러');
                }
            });
        } else {
            alert("잘못된 값입니다!");
        }
    }

    //돔
    function makeDom(loadtype, datas) {
        if (loadtype==='board') {
            for (let i in datas.boardlist) {
                // 새로운 li 요소를 만듭니다.
                var newItem = document.createElement("li");
                newItem.classList.add("boct");

                // li 요소 내부에 div를 생성하고 이벤트를 추가합니다.
                var divElement = document.createElement("div");
                divElement.setAttribute("onclick", "location.href='/board/get?boardnum='");

                // div 요소 내부에 이미지를 추가합니다.
                var imgElement = document.createElement("img");
                imgElement.setAttribute("src", "2.jpg");
                imgElement.setAttribute("alt", "썸네일");
                divElement.appendChild(imgElement);

                // li 요소 내부에 div 요소를 추가합니다.
                newItem.appendChild(divElement);

                // div 요소 내부에 다른 요소들을 추가합니다.
                var innerDiv1 = document.createElement("div");
                var innerDiv2 = document.createElement("div");
                innerDiv2.classList.add("innerpfz");

                var imgBadge = document.createElement("img");
                imgBadge.setAttribute("src", "/defaultbadge.png");
                imgBadge.setAttribute("alt", "");

                var pElement = document.createElement("p");
                pElement.setAttribute("id", "target-id");
                pElement.textContent = "작성자아이디";

                var pElement2 = document.createElement("p");
                pElement2.classList.add("innerpfpt");
                pElement2.textContent = "집에가고싶으면 개추 ㅋㅋ";

                var divElement2 = document.createElement("div");
                divElement2.classList.add("innerpfpc");

                var imgHeart = document.createElement("img");
                imgHeart.setAttribute("src", "fullheart.png");
                imgHeart.setAttribute("alt", "좋");
                var text1 = document.createTextNode("10 ");
                var imgView = document.createElement("img");
                imgView.setAttribute("src", "viewcnt.png");
                imgView.setAttribute("alt", "조");
                var text2 = document.createTextNode("20 ");
                var imgComment = document.createElement("img");
                imgComment.setAttribute("src", "comments.png");
                imgComment.setAttribute("alt", "댓");
                var text3 = document.createTextNode("30 ");

                divElement.appendChild(innerDiv1);
                innerDiv1.appendChild(innerDiv2);
                innerDiv2.appendChild(imgBadge);
                innerDiv2.appendChild(pElement);
                innerDiv1.appendChild(pElement2);
                innerDiv1.appendChild(divElement2);
                divElement2.appendChild(imgHeart);
                divElement2.appendChild(text1);
                divElement2.appendChild(imgView);
                divElement2.appendChild(text2);
                divElement2.appendChild(imgComment);
                divElement2.appendChild(text3);

                // ul 요소를 선택하고 새로운 li 요소를 추가합니다.
                parrentUlNode.appendChild(newItem);
            }
        } else if(loadtype==='joinpack'){
            for (let i in datas.reservationlist) {
                
            }
        } else if(loadtype==='mypack'){
            for (let i in datas.packagelist) {
                
            }
        } else if(loadtype==='review'){
            for (let i in datas.packagelist) {
                
            }
        } else {
            alert("잘못된 값입니다!");
        }
    }
</script>
</html>