<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>myinfo</title>
	<link rel="stylesheet" href="/css/user/myinfostyle.css">
</head>
<body>
	<th:block th:include="~{layout/header::header(${session.loginUser})}"></th:block>
	
	<div class="pfmdform">
		<form id="ptform" name="ptform" method="post" action="/user/changeimg" enctype="multipart/form-data">
			<p>프로필 사진 변경</p>
			<div id="profilecontainer">
				<label for="uploadfileform">
				<div id="profile">
					<img id="formprofileimg"  th:src="${'/user/thumbnail?sysname='+thumbnail}">
				</div>
				</label>
					
			</div>
			<div class="ptupload">
				<input type="hidden" name="changedfilename" value="">
				<input id="uploadfileform" type="file" name="thumbnail" onchange="chooseimg(this)" style="display: none;">
			</div>
			<div class="ptfaarea">
				<a th:href="'javascript:profilechagne(\''+${session.loginUser}+'\', \''+${thumbnail}+'\')'">변경완료</a>
				<a class="pfmdclose" href="javascript:closepfmdform()">나가기</a>
			</div>
		</form>
	</div>
	<section id="myinfowrap">
		<div id="profilewrap">
			<div id="profileupperwrap">
				<div id="profilecontainer">
					<div id="profile" class="pfmdopen">
						<img th:src="${'/user/thumbnail?sysname='+thumbnail}">
					</div>
				</div>
				<div id="infocontainer">
					<div class="nameguide">
						<p id="profname">[[${user.userid}]]</p>
						<p th:if="${session.guideNum!=0}" id="isguide"><img src="/images/userimg/guidebadge.png" alt=""></p>
						<div id="editbtn">
							<th:block th:if="${session.guideNum!=0}">
								<div id="redalert"></div>
								<input type="button" value="가이드메뉴" class="profmopenbtn" onclick="location.href='/user/guide'">
							</th:block>
							<th:block th:unless="${session.guideNum!=0}">
								<input type="button" value="가이드신청" class="profmopenbtn" onclick="location.href='/user/joinguide'">
							</th:block>
						</div>
					</div>
					<ul class="actcntlist">
						<li>
							<p>게시글</p>
							<p th:if="${list.size()>0}">[[${list.size()}]]</p>
							<p th:unless="${list.size()>0}">0</p>
						</li>
						<li>
							<p>댓글</p>
							<p>30</p>
						</li>
						<li>
							<p>좋아요</p>
							<p>3</p>
						</li>
					</ul>
					
					<div class="sogaebox">
						<div>
							<p>자기소개</p>
							<input type="button" name="open" id="openSogeEdit" class="hiddens sogaetriger">
							<input type="button" id="sogeWan" class="hiddens sogehide" onclick="sogesubmit()" value="완료">
							<input type="button" id="sogeCansle" class="hiddens sogehide sogaetriger" value="취소">
						</div>
						<form action="/user/sogae" method="get" name="sogaeform">
							<input type="hidden" name="_method" value="PUT"/>
							<textarea name="introduce" readonly>[[${user.introduce}]]</textarea>
						</form>
					</div>
				</div>
			</div>
			<div id="profilelowerwrap">
				<ul id="choicebtns">
					<li id="myboard" onclick="showMyBoards()" class="mypstselected-btn">내 게시글</li>
					<li id="joinpackage" onclick="showJoinPacks()">참여한 여행</li>
					<li style="display: none;"><input id="mypstshowtype" type="hidden" value="board"></li>
				</ul>
				<div id="mypostsection" class="mypstselected-body">
					<div id="mainmypost">
						<a th:if="${list != null and list.size > 0}" th:each="board:${list}"
							th:href="@{/board/get(boardnum=${board.boardnum})}">
							<div class="mypost">
								<div class="p_img">
									<img src="/images/boardimg/2.jpg" alt="">
								</div>
								<div class="post_write">
									<div class="pstguide">
										<img th:src="${'/user/thumbnail?sysname='+thumbnail}" alt="">
										<span>[[${board.userid}]]</span>
									</div>
									<div class="line"></div>
									<div class="post_title">[[${board.title}]]</div>
									<div class="post_preview">
										<ul class="showboardspecs">
											<li>
												<img src="/images/boardimg/location.png">
												<span>[[${board.viewcnt}]]</span>
											</li>
											<li>
												<img src="/images/boardimg/location.png">
												<span>[[${board.likecnt}]]</span>
											</li>
											<li>
												<img src="/images/boardimg/location.png">
												<span>[[${board.replycnt}]]</span>												
											</li>
										</ul>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div id="mypagesarea" class="b_pagenation">
						<a class="" href="javascript:movepage(-1)">이전</a>
						<span id="myinfocurpagespan">1</span>
						<a class="" href="javascript:movepge(1)">다음</a>
					</div>
				</div>
			</div>
		</div>
		<div id="backbtnarea">
			<input type="button" value="돌아가기">
		</div>
		<!--mmmmmmmmmmmmmmmmmmmmmmmmmmmmm-->
	</section>
	<div id="guidemodal">
		<div id="guidewarp">
			<div id="profmclosebtn">닫기버튼</div>
			<div id="guidecontentswrap">
				<div id="guidepfarea">
					<div>
						<img src="/images/userimg/defaultbadge.png" alt="">
					</div>
					<div>
						<ul class="actcntlist">
							<li>
								<p>내 패키지</p>
								<p>10 개</p>
							</li>
							<li>
								<p>후기</p>
								<p>23 개</p>
							</li>
						</ul>
					</div>
				</div>
				<div id="guideworkarea">
					<ul id="choicebtns">
						<li id="myboard" onclick="showMyPacks('loginUser')">내 패키지</li>
						<li id="joinpackage" onclick="showPackReviews('loginUser')">패키지 후기</li>
					</ul>
					<div id="guideinfosarea">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
		const userthumbnail = [[${thumbnail}]];
		const userdir = [[${'/user/thumbnail?sysname='+thumbnail}]];
	/*]]>*/
</script>
<script>
	
	let orgval = $('textarea[name="introduce"]').val();
	$(".sogaetriger").click(function (){
		$(".hiddens").toggleClass("sogehide");
		$('textarea[name="introduce"]').prop('readonly',!$('textarea[name="introduce"]').prop('readonly'));
		
		if($(this).val()=="취소"){
			$('textarea[name="introduce"]').val(orgval);
		}
	})
	
	function sogesubmit(){
		const sogaeform = document.sogaeform;
		sogaeform.submit();
	}
	
	const pfmdform = document.querySelector('.pfmdform');
	const pfmdopen = document.querySelector('.pfmdopen');
	const pfmdclose = document.querySelector('.pfmdclose');
	
	pfmdopen.addEventListener('click', function () {
		pfmdform.style.display = 'block';
	});
	pfmdclose.addEventListener('click', function () {
		pfmdform.style.display = 'none';
	});
	
	const guidemodal = document.querySelector('#guidemodal');
	const profmopenbtn = document.querySelector('.profmopenbtn');
	const profmclosebtn = document.querySelector('#profmclosebtn');
	
	profmopenbtn.addEventListener('click', function () {
		guidemodal.style.display = 'block';
	});
	profmclosebtn.addEventListener('click', function () {
		guidemodal.style.display = 'none';
	});
	
    const myboard = document.getElementById("myboard");
	const joinpackage = document.getElementById("joinpackage");
	
	const mypostsection = document.getElementById("mypostsection");
	
    function showMyBoards() {
		if($("#mypstshowtype").val()=='board'){
			console.log("이미 보드입니다");
			return;
		}
		
		const postsection = document.getElementById("mainmypost");
		
		$.ajax({
			url: "/user/myboard",
			method: "GET",
			
			success:function(datas){
				myboard.classList.toggle("mypstselected-btn");
				joinpackage.classList.toggle("mypstselected-btn");
				mypostsection.classList.toggle("mypstselected-body");
				$("#mypstshowtype").val("board");
				
				console.log(datas);
				
				if(datas.length==0||datas==null){
					postsection.innerHTML = "";
					let emptysignnode = document.createElement('img');
					emptysignnode.src = '/images/layoutimg/indeximg01.png';
					emptysignnode.className = 'centered-mpimg';
				} else {
					postsection.innerHTML = "";
					for(let i in datas){
						const board = datas[i];
						
						// <a> 요소 생성
						const a = document.createElement('a');
						a.href = '/board/get?boardnum='+board.boardnum;
						
						// <div class="mypost"> 요소 생성
						const mypostDiv = document.createElement('div');
						mypostDiv.className = 'mypost';
						
						// <div class="p_img"> 요소 생성 및 이미지 추가
						const pImgDiv = document.createElement('div');
						pImgDiv.className = 'p_img';
						const img1 = document.createElement('img');
						img1.src = '/images/boardimg/2.jpg';
						img1.alt = '';
						pImgDiv.appendChild(img1);
						
						// <div class="post_write"> 요소 생성
						const postWriteDiv = document.createElement('div');
						postWriteDiv.className = 'post_write';
						
						// <div class="pstguide"> 요소 생성 및 내용 추가
						const pstGuideDiv = document.createElement('div');
						pstGuideDiv.className = 'pstguide';
						const img2 = document.createElement('img');
						img2.src = userdir;
						img2.alt = '';
						const span1 = document.createElement('span');
						span1.textContent = board.userid;
						pstGuideDiv.appendChild(img2);
						pstGuideDiv.appendChild(span1);
						
						// <div class="line"> 요소 생성
						const lineDiv = document.createElement('div');
						lineDiv.className = 'line';
						
						// <div class="post_title"> 요소 생성 및 내용 추가
						const postTitleDiv = document.createElement('div');
						postTitleDiv.className = 'post_title';
						postTitleDiv.textContent = board.title;
						
						// <div class="post_preview"> 요소 생성
						const postPreviewDiv = document.createElement('div');
						postPreviewDiv.className = 'post_preview';
						
						// <ul class="showboardspecs"> 요소 생성 및 내용 추가
						const ul = document.createElement('ul');
						ul.className = 'showboardspecs';
						
						const createLi = (imgSrc, textContent) => {
						    const li = document.createElement('li');
						    const img = document.createElement('img');
						    img.src = imgSrc;
						    const span = document.createElement('span');
						    span.textContent = textContent;
						    li.appendChild(img);
						    li.appendChild(span);
						    return li;
						};
						
						ul.appendChild(createLi('/images/boardimg/location.png', board.viewcnt));
						ul.appendChild(createLi('/images/boardimg/location.png', board.likecnt));
						ul.appendChild(createLi('/images/boardimg/location.png', board.replycnt));
						
						postPreviewDiv.appendChild(ul);
						
						// 요소들을 조립
						postWriteDiv.appendChild(pstGuideDiv);
						postWriteDiv.appendChild(lineDiv);
						postWriteDiv.appendChild(postTitleDiv);
						postWriteDiv.appendChild(postPreviewDiv);
						
						mypostDiv.appendChild(pImgDiv);
						mypostDiv.appendChild(postWriteDiv);
						
						a.appendChild(mypostDiv);
						
						// 부모 div에 최종 요소 추가
						postsection.appendChild(a);
					}
					
				}
			},
			
			error:function(){
				console.log("board 통신에러");
			}
		})
    }
	
	function showJoinPacks() {
		if($("#mypstshowtype").val()=='package'){
			console.log("이미 패키지입니다");
			return;
		}
		
		const postsection = document.getElementById("mainmypost");
		
		$.ajax({
			url: "/user/mypackage",
			method: "GET",
			
			success:function(datas){
				myboard.classList.toggle("mypstselected-btn");
				joinpackage.classList.toggle("mypstselected-btn");
				mypostsection.classList.toggle("mypstselected-body");
				$("#mypstshowtype").val("package");
				console.log(datas);
				
				if(datas.joinpackage==null){
					postsection.innerHTML = "";
					let emptysignnode = document.createElement('img');
					emptysignnode.src = '/images/layoutimg/indeximg01.png';
					emptysignnode.className = 'centered-mpimg';
					
					postsection.appendChild(emptysignnode);
				} else {
					
				}
			},
			
			error:function(){
				console.log("package 통신에러");				
			}
		})
	}
	
	function chooseimg(obj){
		console.log(obj.files[0]);
		let file = obj.files[0];
		if(!file.type.match("image.*")){
		     alert("이미지를 등록해야 합니다.")
		     return;
		}
		let reader = new FileReader();
		reader.readAsDataURL(file);
		
		reader.onload = function (e){ 
			console.log(e);
			$('#formprofileimg').attr("src", e.target.result);
		}
		 
	}
	function profilechagne(userid, sysname){
		const ptform = document.ptform;
		ptform.submit();
	}
	
	const curpage = 1;
	
	function movepage(diff){
		var movepage = curpage+diff;
		
		if(movepage==0){
			alert("현재 1페이지 입니다.");
			return;
		}
		
		$.ajax({
			url:"/user/movepage?targetpage="+movepage,
			method: "GET",
			
			success:function(data) {
				console.log(data);
				curpage = movepage;
				console.log("현재 페이지:"+curpage);
				
				
			},
			
			error:function(){
				console.log("통신 실패");
				alert("통신 실패");
			}
		});
	}	
</script>
</html>