<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비회원 내역조회</title>
	<style>
		#nonuwrap{
			margin: 0 auto;
			margin-top:120px;
		}
		/*
		.shmodal{
			position: absolute;
		}
		*/
	</style>
</head>
<body>
    <th:block th:include="~{layout/header::header(${session.loginUser})}"></th:block>
    <div class="shmodal">
        <div class="shmodal-body">
            <div class="shmodal-content">
                <div id="shparent-info"><!--OOO님이 제출해주신 정보로 O개의 내역을 찾았습니다--></div>
                <ul id="shparent">
                </ul>
                <div class="closediv">닫기</div>
            </div>
        </div>
    </div>
    <div id="nonuwrap">
        <h2>비회원 예약내역 조회 인증</h2>
        <div id="injung">
            <div id="keyinjung">
                <form action="/user/keycheck" method="get" name="">
                    <div>
                        <ul class="shuraud">
                            <li class="li-tit">키코드로 조회하기</li>
                            <li>
                                <div>
                                    <input type="text" value="" name="keycode" id="kekk">
                                    <a href="javascript:checkkey()">조회</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <form action="/user/nonu" method="post" name="nonuform">
                <div>
                    <ul class="shuraud">
                        <li class="li-tit">개인정보로 조회하기</li>
                        <li>
                            <input type="text" value="" name="name">
                        </li>
                        <li>
                            <input type="text" value="" name="phone" id="pchk">
                            <input type="button" value="인증번호발송" onclick="checkphone()"> 
                        </li>
                        <li></li>
                    </ul>
                </div>
                <div>
                    <a href="javascript:sendnonu()">조회하기</a>
                    <a href="/package/pmain">나가기</a>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    let flag = false;
    $(".closediv").click(function () {
        $(".shmodal").toggleClass("hidden");
    })

    function sendnonu() {
        const nonuform = document.nonuform;
        //유효성 검사
        var name = $("[name=nonuform] [name=name]").val();
        var phone = $("[name=nonuform] [name=phone]").val(); 

        $.ajax({
            url: "/user/foreigner?name="+name+"&phone="+phone,
            method: "POST",

            success:function(datas){
                $("shparent-info").html(name+"님이 제출해주신 정보로 "+datas.packagelist.size()+"개의 내역을 찾았습니다.");
                const shparent = document.getElementById("shparent");

                console.log(datas);

				if(datas.packagelist==null){
					console.log("패키지없음");
					return;
				}
                for (let i in datas.packagelist) {
                    // li 요소 생성
                    var liElement = document.createElement('li');
                    liElement.onclick = function() {
                        location.href = 'user/recipt?packagenum=' + datas.packagelist[i].packagenum + '&keycode=' + datas.reslist[i].keycode;
                    };

                    // 첫 번째 div 요소 (packagethumb) 생성
                    var packagethumbDiv = document.createElement('div');
                    packagethumbDiv.className = 'packagethumb';
                    var imgElement = document.createElement('img');
                    imgElement.src = '';
                    imgElement.alt = '';
                    packagethumbDiv.appendChild(imgElement);

                    // 두 번째 div 요소 (contarea) 생성
                    var contareaDiv = document.createElement('div');
                    contareaDiv.className = 'contarea';
                    var packagenameDiv = document.createElement('div');
                    packagenameDiv.className = 'packagename';
                    packagenameDiv.textContent = datas.packagelist[i].packageTitle; // 패키지 이름 설정
                    var packagelowinfoDiv = document.createElement('div');
                    packagelowinfoDiv.className = 'packagelowinfo';
                    packagelowinfoDiv.textContent = '어른 ' + datas.reslist[i].adultCount + ' 명, 어린이 ' + datas.reslist[i].childCount + ' 명 ￦' + datas.reslist[i].price;
                    var packagestartdateDiv = document.createElement('div');
                    packagestartdateDiv.className = 'packagestartdate';
                    packagestartdateDiv.textContent = datas.packagelist[i].startdate; // 출발일 설정
                    contareaDiv.appendChild(packagenameDiv);
                    contareaDiv.appendChild(packagelowinfoDiv);
                    contareaDiv.appendChild(packagestartdateDiv);

                    // 세 번째 div 요소 (packagestatus) 생성
                    var packagestatusDiv = document.createElement('div');
                    packagestatusDiv.className = 'packagestatus';

                    // li 요소에 모든 div 요소 추가
                    liElement.appendChild(packagethumbDiv);
                    liElement.appendChild(contareaDiv);
                    liElement.appendChild(packagestatusDiv);

                    // 생성된 li 요소를 ul 요소에 추가
                    shparent.appendChild(liElement);
                }
            },

            error:function(){
                console.log("통신에러");
            }
        })
    }
    function checkkey() {
		var keycode = $("#kekk").val();
		console.log(keycode);
		$.ajax({
		            url: "/user/foreigner?keycode="+keycode,
		            method: "POST",

		            success:function(datas){
						console.log(datas)
						if(datas.reservation==null){
							console.log("데이터 없음")
							return;
						}
		                $("shparent-info").html(datas.reservation.name+"님이 제출해주신 정보로 1개의 내역을 찾았습니다.");
		                const shparent = document.getElementById("shparent");

		                // li 요소 생성
		                var liElement = document.createElement('li');
						liElement.setAttribute("onclick", `location.href = 'user/receipt?packagenum=${datas.pack.packagenum}&keycode=${datas.reservation.keycode}'`);

		                // 첫 번째 div 요소 (packagethumb) 생성
		                var packagethumbDiv = document.createElement('div');
		                packagethumbDiv.className = 'packagethumb';
		                var imgElement = document.createElement('img');
		                imgElement.src = '';
		                imgElement.alt = '';
		                packagethumbDiv.appendChild(imgElement);

		                // 두 번째 div 요소 (contarea) 생성
		                var contareaDiv = document.createElement('div');
		                contareaDiv.className = 'contarea';
		                var packagenameDiv = document.createElement('div');
		                packagenameDiv.className = 'packagename';
		                packagenameDiv.textContent = datas.pack.packageTitle; // 패키지 이름 설정
		                var packagelowinfoDiv = document.createElement('div');
		                packagelowinfoDiv.className = 'packagelowinfo';
		                packagelowinfoDiv.textContent = '어른 ' + datas.reservation.adultCount + ' 명, 어린이 ' + datas.reservation.childCount + ' 명 ￦' + datas.reservation.price;
		                var packagestartdateDiv = document.createElement('div');
		                packagestartdateDiv.className = 'packagestartdate';
		                packagestartdateDiv.textContent = datas.pack.startdate; // 출발일 설정
		                contareaDiv.appendChild(packagenameDiv);
		                contareaDiv.appendChild(packagelowinfoDiv);
		                contareaDiv.appendChild(packagestartdateDiv);

		                // 세 번째 div 요소 (packagestatus) 생성
		                var packagestatusDiv = document.createElement('div');
		                packagestatusDiv.className = 'packagestatus';

		                // li 요소에 모든 div 요소 추가
		                liElement.appendChild(packagethumbDiv);
		                liElement.appendChild(contareaDiv);
		                liElement.appendChild(packagestatusDiv);

		                // 생성된 li 요소를 ul 요소에 추가
		                shparent.appendChild(liElement);
		            },

		            error:function(){
		                console.log("통신에러");
		            }
		        })
    }

    let targetletter = "";
    function checkphone() {
        var name = $("[name=nonuform] [name=name]").val();
        var phone = $("[name=nonuform] [name=phone]").val();
        $.ajax({
            url: "/api/coolsms?name="+name+"&phone="+phone,
            method: "POST",

            success:function(data){
                alert("인증번호가 발송되었습니다");
                targetletter = data;
            },

            error:function(){
                console.log("통신에러");
            }
        })
    }
</script>
</html>