<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 내역</title>
</head>
<body>
    <div id="wrap">
        <th:block th:include="~{layout/header::header(${session.loginUser})}"></th:block>
        <section id="reciptzone">
            <div id="targetarea" th:onclick="|location.href='/package/pget?packagenum=${pack.packagenum}'|">
                <div class="packagethumb">
                    <img src="">
                </div>
                <div>
                    <div class="pname">[[${pack.packageTitle}]]</div>
                    <div class="pduring">[[${pack.startdate}]] ~ [[${pack.enddate}]]</div>
                    <div class="pbtn">클릭 시 해당 패키지로 이동</div>
                </div>
            </div>
            <ul id="infoarea">
                <li id="startdate"></li>
                <li th:if="${reservation.name=='회원'}" id="inone">[[${reservation.userid}]]님 포함 [[${reservation.adultCnt+reservation.childCnt}]]명</li>
                <li th:unless="${reservation.name=='회원'}" id="inone">[[${reservation.name}]]님 포함 [[${reservation.adultCnt+reservation.childCnt}]]명</li>
                <li id="sudan">결제금액: [[${reservation.price}]]￦ 결제수단: [[${reservation.payMethod}]] 상태: <span th:if="${reservation.isDelete==1}" id="canslestatus" style="color: red;">취소신청</span><span th:unless="${reservation.isDelete==1}" id="canslestatus" style="color: green;">여행준비</span></li>
            </ul>
        </section>
        <div class="Btnzone">
            <a th:if="${reservation.isDelete==0}" href="javascript:cansler()" id="cansler" data-type="apply">예약취소신청</a>
            <a th:unless="${reservation.isDelete==0}" href="javascript:cansler()" id="cansler" data-type="apply">신청취소</a>
            <a href="/">나가기</a>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
    const reservationnum = [[${reservation.reservationnum}]];
</script>
<script>
    function cansler(){
        var anode = document.getElementById("cansler");
        var datatype = anode.dataset.type;
        var targettype = -1;

		console.log(reservationnum);
        if(datatype === 'apply'){
            targettype = 1;
        } else if (datatype == 'cansle'){
            targettype = 0;
        } else {
            console.log("잘못된 요청");
            return;
        }
		
		console.log(targettype);
        $.ajax({
            url: "/user/request?targettype="+targettype+"&reservationnum="+reservationnum,
            method: "PUT",

            success:function(datas){
                let spannode = document.getElementById("canslestatus");
				console.log(spannode);
                if(datas=="O"){
                    if (targettype==1) {
                        alert("취소신청 되었습니다");
                        anode.dataset.type="cansle"
                        anode.innerHTML="신청취소";
                        spannode.innerHTML="취소신청"
                        spannode.style.color='red';
                    } else {
                        alert("취소를 취소한거임");
                        anode.dataset.type="apply"
                        anode.innerHTML="예약취소신청"; 
                        spannode.innerHTML="여행준비"
                        spannode.style.color='green';
                    }

                } else{
                    alert("신청 실패");
                }
            }
        })
    }
</script>
</html>