<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
	<link rel="stylesheet" href="/css/error/error.css">
	<link rel="icon" href="/images/emoticon/1.png" type="image/png">
</head>
<body>
    <div id="wrap">
        <div>
            <div><h1>ERROR</h1></div>
            <div>
                <p>
                    죄송합니다. 알 수 없는 오류가 발생했습니다.<br>
                    잠시 후 다시 시도해 주세요.<br>
                    문제가 지속될 경우, 관리자에게 문의해 주세요.
                </p>
            </div>
            <div><button id="home_btn">홈으로</button></div>
        </div>
    </div>
</body>
<script src="/js/error/error.js"></script>
</html>