*{
    box-sizing: border-box;
}
#wrap{
    width: 1400px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}
body{
    background-color:white;
}
.body_container{
    margin-top: 50px;
}
.nav{
    width:20%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}
#nav1 a, #nav2 a, #nav3 a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}
.packageinfo{
    margin-top: 30px;
    display:flex;
    height: 400px;
}
.pthumbnail{
    width: 700px;
}
.pthumbnail img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pinfo{
    width: 650px;
    height: 430px;
    margin-left: 50px;
}
.p_info{
    height: 400px;
}
.p_header{
	display: flex;
	justify-content: space-between;
}
.p_title{
    height: 50px;
    font-size: 30px;
    color: rgb(0, 42, 211);
}
.modidelete{
	width: 130px;
	display: flex;
	justify-content: space-between;
}
.modidelete button{
	width: 60px;
	height: 20px;
	background-color: white;
	border: none;
	font-size: 20px;
}
.modidelete button a{
	width: 60px;
	height: 20px;
	text-decoration: none;
	color:black;
}
.modidelete button a:hover{
	color: blue;
}
.p_con{
    height: 200px;
    font-size: 20px;
}
.price{
    float:right;
    font-size: 20px;
    color: rgb(0, 42, 211);
}


.pay_container{
    width: 400px;
    height: 550px;
    margin-left: 20px;
    
}
.writerinfo{
	height: 50px;
	width: 380px;
	border: 1px solid lightgray;
	border-radius: 20px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	
}
.w_profile{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0 auto;
	margin-right:5px;
	margin-left: 10px;
}
.w_profile img{
	width:100%;
	height: 100%;
	border-radius: 50%;
}
.w_id{
	margin-left: 10px;
}
.w_c_button{
	margin-left: 30px;
	
}
.w_c_button input{
	background-color: dodgerblue;
	color: white;
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 10px;
	cursor:pointer;
}
.mapcon{
    width: 380px;
    height: 470px;
    border: 1px solid lightgray;
    border-radius: 20px;
}
.maphead{
    height: 60px;
    align-items: center;
    padding-top: 15px;    
    border-bottom: 1px solid lightgray;
}
.maphead h3{
	margin-left: 20px;
}
.map{
    width: 100%;
    height: 370px;   
    border-bottom: 1px solid lightgray;
    
}

#map{
	width: 100%;
	height: 365px;
	margin: 3px auto;

}
.mapfoot{
    width: 350px;
    height: 30px;
}
.mapfoot a{
    text-decoration: none;
    color:black;
	display: flex;
    height:100%;
    justify-content: right;
    margin-right: 10px;

}
.mapfoot a:hover{
    color: blue;
}
.paydetail{
	display: flex;
    margin-top:20px;
    width:650px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 20px;
}
.adultchild{
    width: 600px;
    margin: 0 auto;
}
.ac_head{ 
	margin-top: 10px;
	display: flex;
    height: 40px;
    align-items: center;
   
}
.ac_head h3{
	font-size:30px !important;	
}
.ac_con{
    height: 140px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.adult{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adult_info{
	display: flex;
    width: 200px;
   	justify-content: space-between;
}
.adult_cnt{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.adult_cnt input{
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 50%;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    padding:0 !important;
    
}
.child{
	margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child_info{
	display: flex;
    width: 200px;
   	justify-content: space-between;
}
.child_cnt{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.child_cnt input{
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 50%;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    padding:0 !important;
}
.paybutton{
    height: 70px;
    width: 50%;
    margin: 0 auto;
}
.paybutton button{
    width: 100%;
    
    height: 50px;
    background-color: rgb(0, 95, 248);
    border: none;
    border-radius: 20px;
    color:white;
    font-size: 25px;
    cursor:pointer;
}
.moreinfo{
    margin-top: 40px;
    display: flex;
    width: 1400px;
}
.mi_container{
	margin-top:50px;
}
.mi_header{
    width: 1000px;
   
}
.mi_con{
	height: 450px;
	border: 1px solid lightgray;
}
.mi_menu{
    width: 1000px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    
}

.menu1get, .menu2get,.menu3get{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	overflow-y: scroll;
	height: 400px;
	
}	
.menu1get{
	font-size: 25px;
}
.menu2get img{
	width: 100%;
}
.menu3get{
	display: flex;
	overflow-y: scroll;
}
.review{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid lightgray;
	line-height: 30px;
}
.userprofile{
	margin-top: 20px;
	display: flex;
	width: 30%;
	height: 30%;
	align-items: center;
	
}
.userprofile img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right:5px;
}
.reviewcontent{
	display: flex;
	width: 90%;
	margin: 0 auto;
}


.mi_menu > .menu1, .mi_menu > .menu2,  .mi_menu > .menu3{
    width:100%;
    font-size: 20px;
    text-align: center;
    border-left: 1px solid lightgray;
	cursor: pointer;
}
.mi_menu > .menu1:hover, .mi_menu > .menu2:hover,  .mi_menu > .menu3:hover{
	background-color:rgb(146, 217, 255);
	color:white;
	border-radius: 5px;
}
.mi_menu > .menu1{
	border:none;
}
.menuOn{
	background-color:rgb(146, 217, 255);
	color:white;
	border-radius: 5px;
}
.mi_container{
    width: 1000px;
    height: 500px;
    border-top: 1px solid lightgray;
}
	#like {
		display: inline-block;
		width: 30px; height: 30px;
		cursor: pointer;
	}
	
