*{
    box-sizing: border-box;
}
#wrap{
    width: 100%;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}
body{
    background-color:white;
}
button{
    cursor:pointer;
}
#body_container{
    margin-top: 50px;
}
.menu{
    width:20%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}
.banner{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    overflow-y: hidden;
}
.banner a{
    width: 100%;
    height: 300px;
}
.banner a img{
    width: 100%; 
}

.packagesearch{
    width:1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 150px;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
    margin-top: 40px;
    
}

.packagesearch  button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    color:gray;
    height: 70px;
    
}
.packagesearch > #searchForm button{
    background-color: black;
    border: none;
    font-size: 25px;
    color:white;
    height: 70px;
    width: 150px;
    border-radius: 20px;
    
}

.destination{
    display: flex;
    border-right: 1px solid lightgray;
    width: 250px;
    font-size: 25px;
    justify-content: center;
}
.desChoice{
	width: 150px;
	font-size: 25px;
}


.period{
    display: flex;
    
}
.period input{
    border: none;
    height: 100%;
    width: 180px;
    font-size: 30px;
    color: gray;
}
.period input:focus{
	outline: none;
} 

#startDateInput{
	font-size: 25px;
	color:gray;
}

#endDateInput{
	color:gray;
	font-size: 25px;
}
#startDateInput:focus{
	border:none;
}
#endDateInput:focus{
	border:none;
}
.person{
    display: flex;
    border-left: 1px solid lightgray;
    width: 200px;
    justify-content: center;
}
.flatpickr-input[readonly] {
    cursor: pointer;
    color: gray !important;
}
.flatpickr-input{
    color: gray ;
}

.p_wrap{
    width: 1400px;
    margin: 0 auto;
}

.rp_header{
    width:100%;
    text-align: center;
    margin-top: 60px;
}
.rp_list{
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    display: flex;
}
.rp_list a{
    text-decoration: none !important;
    color:black !important;
    width: 330px;
    height: 350px;
}
.rpackage{
    width: 330px;
    height: 350px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 10px 10px;
    flex-grow: 0;
    
}
.rp_img{
    width:100%;
    height: 170px;
}
.imgbox{
	width: 100%;
	height: 170px;
	overflow: hidden;
}
.imgbox img{
    width: 100%;
   

    border-radius: 5% 5% 0 0;  
}
.rp_info{
    width: 80%;
    margin: 0 auto;
    height: 60px;
    margin-top: 20px;
    overflow: hidden;
}
.rp_info2{
	width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    height: 70px;   
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
.rp_title h3{
	font-size: 25px;
}
.rprice h3{
	font-size: 20px;
}
.rprice{
    width: 50%;
}
.pp_header{
    width:100%;
    text-align: center;
    margin-top: 60px;
}
.pp_list{
    flex-wrap: wrap;
    width: 100%;
    
    margin-top: 40px;
    display: flex;
}
.pp_list a{
    text-decoration: none !important;
    color:black !important;
}
.ppackage{
    width: 330px;
    height: 350px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 10px 10px;
    flex-grow: 0;
    
}
.pp_img{
    width:100%;
    height: 170px;
}

.pp_info{
    width: 80%;
    margin: 0 auto;
    height: 60px;
    margin-top: 20px;
    overflow: hidden;
}
.pp_info2{
	width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    height: 70px;   
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.pp_title h3{
	font-size: 25px;
}
.pprice h3{
	font-size: 20px;
}
.pprice{
    width: 50%;
 
}
.cp_header{
    width:100%;
    text-align: center;
    margin-top: 60px;
}

.cp_list{
    flex-wrap: wrap;
    width: 100%;
    
    margin-top: 40px;
    display: flex;
}
.cp_list a{
    text-decoration: none !important;
    color:black !important;
}
.cpackage{
    width: 330px;
    height: 350px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 10px 10px;
    flex-grow: 0;
    
}
.cp_img{
    width:100%;
    height: 170px;
}

.cp_info{
    width: 80%;
    margin: 0 auto;
    height: 60px;
    margin-top: 20px;
    overflow: hidden;
}
.cp_info2{
	width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    height: 70px;   
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.cp_title h3{
	font-size: 25px;
}
.cprice h3{
	font-size: 20px;
}
.cprice{
    width: 50%;
}

.hide{
    display:none;
}
#deslist{
    border: 1px solid lightgray;
    border-radius: 5%;
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 350px;
    height: 330px;
    margin: 0 auto;    
}
#deslist > .list {
    width:330px;
    margin: 0 auto;
    height: 100%;

}
.dl_header{
    width: 280px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
}
.dl_header span{
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 350px;
    margin: 0 auto;
    color: gray;
}

.dl_choice{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dl_choice button{
    width : 130px;
    height: 50px;
    font-size: 20px;
    background-color: dodgerblue;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    
}
#perlist{
    border: 1px solid lightgray;
    border-radius: 5%;
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 360px;
}
#perlist > .pr_header{
    width: 280px;
    height: 50px;
    margin: 0 auto;
}
.pr_header span{
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 280px;
    margin: 0 auto;
    color: gray;
}
#perlist > .pr_header button{
    border: none;
}
#perlist > .pr_choice{
    
    display:flex;
    overflow: scroll;
    width: 300px;
    margin:0 auto;
}
.pr_choice > .pr_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pr_list button{
    width : 130px;
    height: 50px;
    font-size: 20px;
    background-color: dodgerblue;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    
}
.flatpickr-input.active {
    background: none;
    background-color: transparent; 
    border:none;
}
.no-list{
	width: 100%;
	display: flex;
	font-size: 25px;
	justify-content: left;
	margin-top: 50px;
	height: 100px;
}





