*{
    box-sizing: border-box;
}
#wrap{
    width: 1400px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}
body{
    background-color:white;
}
.body_container{
    margin-top: 50px;
}
.nav{
    width:20%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}
#nav1 a, #nav2 a, #nav3 a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}
.packageinfo{
    margin-top: 30px;
    display:flex;
    height: 400px;
}
.pthumbnail{
    width: 700px;
}

.pthumbnail img{
    width: 700px;
    height: 400px;
    overflow: hidden;
}
.pinfo{
    width: 650px;
    margin-left: 50px;
}
.p_info{
    height: 300px;
}
.p_header{
	display: flex;
	justify-content: space-between;
}
.p_title{
    height: 50px;
    font-size: 30px;
    color: rgb(0, 42, 211);
}
.p_title input{
	width: 300px;
	height: 50px;
}
.modidelete{
	width: 200px;
	display: flex;
	justify-content: space-between;
}
.modidelete button{
	width: 80px;
	height: 40px;
	background-color: white;
	border: none;
	font-size: 20px;
	margin-right: 20px;
}
.modidelete button:hover{
	color: white;
	background-color: dodgerblue;
	border-radius: 10px;
}
.modidelete button a{
	width: 70px;
	height: 20px;
	text-decoration: none;
	color:black;
}
.modidelete button a:hover{
	color: white;
	background-color: dodgerblue;
	border-radius: 10px;
}
.p_con{
    height: 200px;
    font-size: 20px;
}
.price{
    float:right;
    font-size: 20px;
    color: rgb(0, 42, 211);
}


.pay_container{
    width: 400px;
    height: 500px;
    margin-left: 20px;
    
}
.mapcon{
    width: 350px;
    height: 470px;
    border: 1px solid lightgray;
    border-radius: 20px;
}
.maphead{
    height: 60px;
    align-items: center;
    padding-top: 15px;    
    border-bottom: 1px solid lightgray;
}
.maphead h3{
	margin-left: 20px;
}
.map{
    width: 100%;
    height: 370px;   
    border-bottom: 1px solid lightgray;
    
}

#map{
	width: 100%;
	height: 365px;
	margin: 3px auto;

}
.mapfoot{
    width: 350px;
    height: 30px;
}
.mapfoot a{
    text-decoration: none;
    color:black;
	display: flex;
    height:100%;
    justify-content: right;
    margin-right: 10px;

}
.mapfoot a:hover{
    color: blue;
}
.paydetail{
	display: flex;
    margin-top:20px;
    width:650px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 20px;
}
.adultchild{
    width: 600px;
    margin: 0 auto;
}
.ac_head{ 
	margin-top: 10px;
	display: flex;
    height: 40px;
    align-items: center;
   
}
.ac_head h3{
	font-size:30px !important;	
}
.ac_con{
    height: 200px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.adult{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adult_info{
	display: flex;
    width: 500px;
   	justify-content: space-between;
}
.adult_info input{
	width: 300px;
	height: 50px;
}

.child{
	margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child_info{
	display: flex;
    width: 500px;
   	justify-content: space-between;
}
.child_info input{
	width: 300px;
	height: 50px;
}


.moreinfo{
    margin-top: 40px;
    display: flex;
    width: 1400px;
}
.mi_header{
    width: 1000px;
   
}
.mi_con{
	height: 450px;
	border: 1px solid lightgray;
}
.mi_menu{
    width: 1000px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    
}
.menu1get, .menu2get,.menu3get{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	overflow-y: scroll;
}	
.menu1get{
	font-size: 25px;
}
.menu1get textarea{
	width: 800px;
	height: 400px;
}

.mi_menu > .menu1{
    width:100%;
    font-size: 20px;
    text-align: center;
    border-left: 1px solid lightgray;
	
}

.mi_menu > .menu1{
	border:none;
}
.menu1 a, .menu2 a, .menu3 a{
    text-decoration: none;
    color: black;
}
.mi_container{
    width: 100%;
    height: 500px;
    border-top: 1px solid lightgray;
}
