<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>트리피</title>
	<link rel="stylesheet" href="/css/layout/indexstyle.css">
	<link rel="stylesheet" href="/css/layout/fontscroll.css">
	<link rel="icon" href="/images/emoticon/1.png" type="image/png">
	<style>
		
	</style>
</head>
<body>
	<header id="index_top_wrap">
		<nav class="gnb">
			<div class="logo_box">
				<a href="">
					<div class="logo"></div>
				</a>
			</div>

			<div class="login">
				<div>
					<!--모달 팝업-->
					<div class="modal">
						<div class="modal_popup">
							<div id="mologinwrap">
								<div class="morewrapimg"></div>
								<p>
								</p>
								<h3>Sign up with</h3>
								<ul id="lologoswrap">
									<li><img src="/images/layoutimg/btn_kakao.svg"></li>
									<li><img src="/images/layoutimg/btn_google.svg"></li>
									<li><img src="/images/layoutimg/btn_naver.svg"></li>									
								</ul>									
							</div>
							<form action="/user/login" method="post" name="loginForm">
								<table>
									<tbody>
										<tr>
											<th>아이디</th>
											<td>
												<input type="text" name="userid" value="">
											</td>
										</tr>
										<tr>
											<th>비밀번호</th>
											<td>
												<input type="password" name="userpw">
											</td>
										</tr>
									
									</tbody>
								</table>
								<div>
									<div class="btn_area">
										<input type="submit" value="로그인">
										<input type="button" value="닫기" class="close_btn" style="cursor: pointer;">
									</div>
								</div>
							</form>
						</div>
					</div>
					<!--모달 팝업-->
					<div class="index-nav-right">
						<button type="button" class="modal_btn ptntp">로그인</button>
						<button type="button" onclick="golist()" class="ptntp">둘러보기</button>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div id="idxcontainer">
		<section class="index-section" id="idxsection1">



				<img id="poimg" src="/images/layoutimg/idxpo.png">
			<div class="welcome-text" id="content1">
			</div>

		</section>
		<section class="index-section" id="idxsection2">
			<div class="welcome-text" id="content2">
				<p>나만의 <span>특별한</span> 패키지를 판매하세요</p>
			</div>
			<div class="slider-container">
				<div class="slider" id="mydiv">
				</div>
			</div>
		</section>
		<section class="index-section" id="idxsection3">
			<div class="welcome-text" id="content3">
				<p><br><span>타임라인</span>으로 <br> 루트를 한눈에</p>
			</div>
			<div class="threesectionimg">
				<img src="/images/layoutimg/tlpinandroot.png" alt="" srcset="">
			</div>
		</section>
		<section class="index-section" id="idxsection4">
			<div class="welcome-text" id="content4">
				<p><span>동행</span>을 모집하거나 <br>나만의 여행 <span>팁</span>을 나눠보세요</p>
			</div>
			<div class="foursectionimg">
				<div id="boardslide">
					<div class="bslider bsimg1"></div>
					<div class="bslider bsimg2"></div>
					<div class="bslider bsimg3"></div>
				</div>
			</div>
		</section>
		<div id="joinlogoWrap">
			<img src="/images/layoutimg/logoimg.png" style="cursor: pointer;" srcset="" onclick="goToJoin()"
				id="goJoinBtn">
		</div>
	</div>

</body>
<script>
	const modal = document.querySelector('.modal');
	const modalOpen = document.querySelector('.modal_btn');
	const modalClose = document.querySelector('.close_btn');

	//모달팝업 열림
	modalOpen.addEventListener('click', function () {
		modal.style.display = 'block';
	});
	//모달팝업 닫힘
	modalClose.addEventListener('click', function () {
		modal.style.display = 'none';
	});

	function goToJoin() {
		location.href = "/user/join";
	}

	let observer = new IntersectionObserver((e) => {
		e.forEach((eachSection) => {
			if (eachSection.isIntersecting) {
				eachSection.target.style.opacity = 1;
			} else {
				eachSection.target.style.opacity = 0;
			}
		})
	})
	
	function golist(){
		location.href="/package/pmain";
	}

	let indexsection = document.querySelectorAll('.index-section');
	observer.observe(indexsection[0]);
	observer.observe(indexsection[1]);
	observer.observe(indexsection[2]);

	let ctnt=[]; // 배열 선언
	ctnt[0]="/images/layoutimg/idxf01.png";
	ctnt[1]="/images/layoutimg/idx02.png";
	ctnt[2]="/images/layoutimg/idxd03.png";
	ctnt[3]="/images/layoutimg/idxf04.png";
	ctnt[4]="/images/layoutimg/idxf01.png";
	ctnt[5]="/images/layoutimg/idx02.png";
	ctnt[6]="/images/layoutimg/idxd03.png";
	ctnt[7]="/images/layoutimg/idxf04.png";

	const myDiv = document.getElementById('mydiv');

	function start() {
		for(let i=0; i<ctnt.length; i++) {
			const imgPf = document.createElement('img');
			imgPf.src = ctnt[i];
			imgPf.id = 'area' + i;
			imgPf.style.position = 'absolute';
			imgPf.style.top = '0';
			imgPf.style.left = i * 360 + 'px';
			imgPf.className = 'pfimgSlide';
			myDiv.appendChild(imgPf);
		}

		// 3) 3초 후에 scroll 함수 1번 호출
		setTimeout(scroll, 3000);

	} // start end


	function scroll() {
		for(let i=0; i<ctnt.length; i++) {
			let tmp=document.getElementById("area"+i).style;
			tmp.left = parseInt(tmp.left) - 1 + "px";
			
			if(parseInt(tmp.left)<=-360){
				tmp.left = (ctnt.length-1)*360 + "px"
			}
		}              

		// 6) 0.5초 후 scroll함수 호출
		timer=setTimeout(scroll, 10);

	} // scroll end

	// 13) 6)의 시간을 해제
	var timer; // 전역변수

	function killtime() {
		clearTimeout(timer);
	} // killtime end
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
	$(document).ready(function(){
		start();

		let firstCnt = 0;
		let secondCnt = 0;
		let holdCnt = false;
		let holdTimeout;
		
		$("#content1 p span:first-of-type").on('click', function(){
			firstCnt ++;
			checkTrigger();
		})
		
		$("#content1 p span:nth-of-type(2)").on('click',function(){
			secondCnt ++;
			checkTrigger();
		})
		
		$("#content1 p span:nth-of-type(3)").on('mousedown',function(){
			holdTimeout = setTimeout(function(){
				holdCnt = true;
				checkTrigger();
			},3000);
		})
		
		function checkTrigger(){
			if(firstCnt === 3 && secondCnt === 1 && holdCnt){
				location.href = "/manager/managerAccess";
			}			
		}
	})

	
</script>
</html>