 /* #90CAF9, #64B5F6, #42A5F5, #2196F3 */
    * {margin: 0; padding: 0; box-sizing: border-box;}
	
    .wrap {
        width: 1400px;
        margin: 0 auto;
		margin-top: 80px;
    }
	
		
    .main_photo img {
        width: 100%;
        height: 470px;
		object-fit: contain;
	
    }
	
    .info {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 50px;
    }
	
    .info > div:nth-child(2) {
        border-left: 1px solid #f0f0f0;
    }
	
    .info > div:first-child {
        width: 970px;
    }
	
    .info > div:last-child {
        width: 370px;
    }
	
	.title_info {
	    display: inline;
		font-family: 'Nanum Gothic';
	}
	
	.changebtn {
	    display: inline;
	    float: right;
	}
	
	.changebtn button {
		width: 50px; height: 33px;
		border-radius: 8px;
		border: none;
		background-color: #64B5F6;
		color: #fff;
		font-size: 14px;
		cursor: pointer;
		font-family: 'Nanum Gothic';
	}
	
	.changebtn button:first-of-type {
		margin-right: 3px;
	}
	
	.cnt_info {
	    margin-top: 10px;
	    position: relative;
	}
	
	.cnt_info span {
	    font-size: 13px;
	    margin-right: 10px;
	    color: #9a9a9a;
	}
	
	.cnt_info span:nth-child(1)::after, .cnt_info span:nth-child(2)::after {
	    content: "";
	    position: absolute;
	    top: 50%;
	    width: 2px;
	    height: 2px;
	    background-color: #9a9a9a;
	    display: inline-block;
	    border-radius: 50%;
	    transform: translateX(300%);
	}
	
	.trip_schedule {
	    margin-top: 40px;
	}  
	
	.trip_schedule h4 {		
		font-family: 'Nanum Gothic';
	}
	
	.schedule_detail {
	    margin-top: 10px;
	    background-color: #90caf99a;
	    width: 100%;
	    height: 70px;
	    border-radius: 8px;
	    padding: 11px;
	    padding-left: 38px;
	}
	
	.schedule_detail > p {
	    position: relative;
	    font-weight: bold;
	    color: #333;
	}
	
	.schedule_detail > p:first-child {
	    margin-bottom: 6px;
	}
	
	.schedule_detail > p.trip_day::before {
	    position: absolute;
	    top: 2px;
	    content: "";
	    display: inline-block;
	    background: url("/images/boardimg/schedule.png") no-repeat center/contain;
	    width: 16px;
	    height: 16px;
	    transform: translateX(-150%);
	}
	
	.schedule_detail > p.trip_location::before {
	    position: absolute;
	    top: 3px;
	    content: "";
	    display: inline-block;
	    background: url("/images/boardimg/location.png") no-repeat center/contain;
	    width: 16px;
	    height: 16px;
	    transform: translateX(-150%);
	}
	
	.schedule_detail > p.trip_location, .schedule_detail > p.trip_day {		
		font-family: 'Nanum Gothic';
	}
	
	.trip_introduction {
	    margin-top: 60px;
	}
	
	.trip_introduction h4, .trip_introduction p  {		
		font-family: 'Nanum Gothic';
	}
	
	
	.file {
		margin-top: 100px;
	}
		
	.trip_introduction > div {
	    margin-top: 13px;
	    color: #333;
	    font-size: 14px;
		width: 100%;
	}

	.file table {
		border: 1px solid #42A5F5;
		border-collapse: collapse;
	}

	.file table th {
		border: 1px solid #cecece;
		width: 150px;
		padding: 10px;
		font-size: 14px;
	}
	
	.file table td {
		border: 1px solid #cecece;
		width: 820px;
		padding: 10px;
		font-size: 14px;
	}
	
	.addfile a {
		display: block;
		margin-bottom: 5px;
		font-family: 'Nanum Gothic';
	}
	
	.addfile a > .downloadImg {
		width: 15px; height: 15px;
		margin-right: 4px;
	}
	
	.g_line {
		margin-top: 45px;
		border-bottom: 1px solid #f0f0f0;
	}
	
	.reply_area {
   		margin-top: 30px;
	}

	.reply_area > div, .reply > .replyModifyForm{
	   width: 100%;
	    margin-top: 8px;
	    position: relative;
	   border:1px solid #2196F3;
	   border-radius: 10px;
	}
	.reply_area > div > div, .reply > div > div{
	   margin-left: 10px;
	   margin-bottom: 10px;
	}
	
	.reply_area > div > textarea, .reply > div > textarea {
	    overflow: auto;
	    resize: none;
	    width: 91.3%;
	    outline: none;
	    border: 1px solid #2196F3;
	    border-radius: 10px;
	    padding: 11px;
	    font-size: 13px;
	    height: 80px;
	    caret-color: #2196F3;
	   border: none;
	   font-family: 'Nanum Gothic';
	}

	.reply_area > div > textarea::placeholder, .reply > div > textarea::placeholder{
	    font-size: 13px;
	    color: #aaaaaa;
	}
		   
	.reply_area > div > [type="button"],  .reply > div > [type="button"]{
	   position: absolute;
	    top: 55%; right: 1.3%;
	    font-size: 14px;
	    border: none;
	    border-radius: 6px;
	    background-color: #2196F3;
	    width: 60px;
	    height: 35px;
	    color: #fff;
		font-family: 'Nanum Gothic';
	}
	.reply .replyModifyForm input:nth-of-type(1){
	  top:55%;
	  right:9%;
	}
	
	.guide_info h4 {
		font-family: 'Nanum Gothic';
	}
	
	 .guide_profile {
	     margin-top: 10px;
	     border-radius: 10px;
	     padding: 8px;
	     position: relative;
	     background-color: #f5f5f5;
	     /*padding-bottom: 15px;*/
	 }
	
	 .guide_profile img {
	     width: 35px;
	     height: 35px;
	     margin-right: 9px;
		margin-top: 7px;
		border-radius: 50%;
		
	 }
	
	 .guide_profile span {
	     position: absolute;
	     top: 16px;
	     font-size: 18px;
		 font-family: 'Nanum Gothic';
	 }
	 
	 
	 .guide_profile img.guidebadge {
		position: absolute;
		top: -3px;
	 	width: 20px; height: 20px;
	 	margin-left: 5px;
	 }
	 
	/*
	 .guide_profile p {
	     margin-top: 5px;
	     font-size: 13px;
	 }
	*/
	 .location {
	     margin-top: 60px;
	 }
	 
	 .location h3 {
		font-family: 'Nanum Gothic';
	 }
	
	.location_detail {
	    margin-top: 10px;
	    border-radius: 10px;
	    border: 1px solid #64B5F6;
	    height: 300px;
	}
	
	.chatting {
	    margin-top: 60px;
	    text-align: center;
	    background-color: #2196F3;
	    padding: 15px;
	    border-radius: 10px;
	    color: #fff;
	    font-weight: bold;
	    font-size: 14px;
    	margin-bottom: 30px;
		font-family: 'Nanum Gothic';
	}
	.chatting:hover{
		scale: 1.1;
		translate:transform 0.5s;
	}
	
	input[type="button"] {
	    cursor: pointer;
	}
	
	#map{
		width:100%;
		height: 100%;
		border-radius: 10px;
	}
	.location p{
		margin-top:5px;
		font-weight: 400;
		color: #9a9a9a;
	}
	
	.info > div {
		position: relative;
	}
	
	#like {
		display: inline-block;
		width: 23px; height: 23px;
		cursor: pointer;
	}
	
	.contour {
		display: inline-block;
		border-right: 1px solid #c5c5c5;
		height: 20px;
		width: 1px;
		margin-left: 2px;
	}

	
	#like_area {
		position: relative;
		top: 2px;
		display: inline-block;
		margin-left: 6px;
		width: 23px; height: 23px;
		padding-top: 10px;
		/* border: 1px solid red; */
	}

	/*댓글 디자인*/
	.replies{
	   width: 100%;
	   padding:0;
	   margin-top:15px;
	   border-top: 1px solid gray;
	}
	.reply{
	   width: 100%;
	   margin-top: 10px;
	   display:flex;
	   border-bottom: 1px solid #f2f2f2;
	}
	.reply .reply_userThumnail{
	   margin-right:5px;
	}
	.reply .reply_userThumnail img{
	   width:50px; height:50px;
	   border-radius: 10px;
	   cursor: pointer;
	}
	.reply .reply_userThumnail img:hover{
		scale: 1.1;
		transform: 0.5s;
	}
	.reply .reply_box{
	   width: 96%;
	}
	.reply .reply_box .reply_userid{
	   width:100%;
	   font-size:20px;
	   font-weight:bold;
	   margin-bottom: 5px;
	}
	.reply .reply_box .reply_content{
	   margin-left:15px;
	   margin-bottom: 5px;
	   max-height:200px;
	   overflow-y: auto;
	   word-wrap: break-word;
	   word-break: break-all;
	   white-space: normal;
	   font-family: 'Nanum Gothic';
	}
	.reply .reply_box .reply_sticker img{
	   width:100px;
	   height:100px;
	}
	.reply .reply_box .reply_regdate{
	   font-size:12px;
	   color:#979797;
	}
	.reply .reply_tool{
	   position: relative;
	}
	.reply .tool-menu {
	    position: absolute;
	   	width: 100px;
	    top: 30px;
	    right: 0;
	    background-color: white;
	    border: 1px solid #ccc;
	    border-radius: 5px;
	    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	    padding: 10px;
	    z-index: 10;
	}
	.user-tool-menu{
		position: absolute;
	   	width: 120px;
	    left: -80px;
	    background-color: white;
	    border: 1px solid #ccc;
	    border-radius: 5px;
	    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	    padding: 10px;
	    z-index: 10;
	}
	
	.tool-menu button {
		font-family: 'Nanum Gothic';	
	}
	
	.comment_attach{
	   position: relative;
	}
	.reply_area .comment_attach img, .reply .modify_comment_attach img{
	   width:80px; height:80px;
	}
	.reply_area .comment_attach .emoticon-close-btn{
	   position: absolute;
	   left: 80px;
	   top:1px;
	    background: rgba(255, 255, 255, 0.7); 
	    border: none;
	    color: #ff0000;
	    font-size: 16px;
	    font-weight: bold;
	    cursor: pointer;
	    border-radius: 50%;
	    width: 20px;
	    height: 20px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding: 0;
	}
	.reply .modify_comment_attach .modify_emoticon-close-btn{
	   position: absolute;
	   left: 85px;
	   top:90px;
	    background: rgba(255, 255, 255, 0.7); 
	    border: none;
	    color: #ff0000;
	    font-size: 16px;
	    font-weight: bold;
	    cursor: pointer;
	    border-radius: 50%;
	    width: 20px;
	    height: 20px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding: 0;
	}
	.reply_area .comment_attach .emoticon-close-btn:hover{
	   background: rgba(255, 255, 255, 1);
		}
	.reply .tool-menu button, .user-tool-menu button {
	    display: block;
	    width: 100%;
	    background: none;
	    border: none;
	    padding: 10px 15px;
	    text-align: left;
	    color: #333;
	    cursor: pointer;
	    font-size: 14px;
	}
	
		
	.reply .tool-menu button:hover, .user-tool-menu button:hover {
		       background-color: #f0f0f0;
		   }
		
	.reply .tool-menu button:focus, .user-tool-menu button:focus {
	    outline: none;
	}
	.emoji-picker, .modify-emoji-picker{
		width: 400px;
	     position: absolute;
	     border: 1px solid #ccc;
	     background: #fff;
	     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	     padding: 10px;
	     margin-top: 5px;
	     z-index: 100;
	 }
	 .emoji-picker span, .modify-emoji-picker span{
	     cursor: pointer;
	     font-size: 20px;
	     margin: 5px;
	 }
	.emoji-picker span img, .modify-emoji-picker span img{
	   width:100px; height:100px;
	}
	.reply .reply_tool svg{
	   cursor:pointer;
	}
	   
	   
	.replies-page{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.replies-page a {
		text-align: center;
		margin:0 4px;
		width: 33px; height: 33px;
		border: 1px solid rgb(233, 233, 233);
		line-height: 30px;
		border-radius: 5px;
		font-weight: bold;
		font-family: 'Nanum Gothic';
	}
	
	
	/* #90CAF9, #64B5F6, #42A5F5, #2196F3 */
	.nowPage {
		text-align: center;
		margin:0 4px;
		width: 33px; height: 33px;
		border: 1px solid #64B5F6;
		color: #64B5F6;
		line-height: 30px;
		border-radius: 5px;
		font-weight: bold;
		font-family: 'Nanum Gothic';
	}
	
	.replies-page .prevbtn {
		background: url("/images/boardimg/prev.png") no-repeat center/19px 19px;
	} 
	
	.replies-page .nextbtn {
		background: url("/images/boardimg/next.png") no-repeat center/19px 19px;
	} 
	
	
	
	/*
	.replies-page .page-btn{
	    padding: 8px;
	    width: 40px; height: 40px;
	    display: flex;
		justify-content: center;
		align-items: center;
	    background-color:#2196F3;
	    color: #fff;
	    font-weight: bold;
		border-radius: 20px;
	}
	.replies-page .page-btn:hover{
		background-color: rgb(198, 175, 245);
	}
	
	
	.nowPage {
		padding: 5px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		background-color: rgb(198, 175, 245);
		color: #fff;
		font-weight: bold;
	}
	*/
	.no-reply{
		text-align:center;
		margin-top: 30px;
		margin-bottom: 30px;
		font-family: 'Nanum Gothic';
	}