#chat-wrapper {
	margin: 0; padding: 0;
	box-sizing: border-box;
	z-index: 1000;
}

/*
#chat-wrapper *{
	margin: 0; padding: 0;
	box-sizing: border-box;
}
*/

#chat-wrapper {
	position: fixed;
	/* bottom: 80px; */
	bottom: 150px;
	right: 100px;
	
	/* background-color: white; */
}
#chat-window-btn {
	height: 80px;
	width: 80px;
	
	border-radius: 100%;
	
	box-shadow: 5px 5px 5px lightgray, -2px -2px 5px lightgray, 5px -2px 5px lightgray, -2px 5px 5px lightgray;
	
	/*background-color: lightblue;*/
	background-image: url("/images/chatimg/trip.png");
	background-size: 135%;
	background-position: center;
	background-repeat: no-repeat;

	/* background-clip: content-box; */
}
#chat-window {
	/* position: absolute;
	bottom: 100px;
	right: 0px; */
	
	height: 600px;
	width: 400px;
	
	border-radius: 20px/20px;
	
	box-shadow: 5px 5px 30px lightgrey, -2px -2px 30px lightgrey, 5px -2px 30px lightgrey, -2px 5px 30px lightgrey;
	
	/*background-color: lightcoral;*/
}
#chat-list-empty {
	width: 100%;
	height: 500px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	/* height: 100%; */
}
#cc-logo-empty {
	display: block;
	
	height: 150px;
	width: 150px;
	
	margin-bottom: 20px;
	
	object-fit: cover;
}
#chat-list-cont {
	height: 100%;
	width: 100%;
}
#chat-list-header{
	width: 100%;
	height: 50px;

	padding: 0 15px 0 15px;

	border-radius: 20px 20px 0 0;

	display: flex;
	flex-direction: row-reverse;
	align-content: stretch;
	align-items: center;

	box-shadow: 0px 5px 5px 0px lightgray;

	z-index: 1500;
}
#chat-list-footer {
	width: 100%;
	height: 50px;

	border-radius: 0 0 20px 20px;

	display: flex;
	font-display: row;
	justify-content: space-between;

	background-color: rgb(238, 238, 238);

	z-index: 1500;
}
.cc-footer-btn {
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;

	background-color: transparent;
}
#chat-list-footer-oto-btn {
	border-radius: 0 0 0 20px;
}
#chat-list-footer-otm-btn {
	border-radius: 0 0 20px 0;
}

#chat-list-chatbot-cont,
#chat-list-oto-cont,
#chat-list-otm-cont {
	width: 100%;
	height: 500px;

	display: flex;
	flex-direction: column;

	overflow: scroll;
}
#chat-list-oto-cont>div:first-child,
#chat-list-otm-cont>div:first-child {
	margin-top: 10px;
}

#chat-list-oto-cont::-webkit-scrollbar {
	width: 10px;
}
#chat-list-oto-cont::-webkit-scrollbar-thumb {
	background-color: lightgray;
	border-radius: 20px;
	background-clip: padding-box;
	border: 2px solid transparent;
}
/* #chat-list-oto-cont::-webkit-scrollbar-track {
	background-color: lightcyan;
} */

#chat-body-cont {
	width: 100%;
	height: 100%;
}
#chat-body-header {
	width: 100%;
	height: 50px;

	padding: 0 10px 0 5px;

	border-radius: 20px 20px 0 0;

	display: flex;
	flex-direction: row;
	align-content: stretch;
	align-items: center;

	box-shadow: 0px 5px 5px 0px lightgray;

	z-index: 1500;
}
#chat-body-inner-cont {
	width: 100%;
	height: 500px;

	/* padding: 0 15px 0 15px; */
	
	/* display: flex; */
	/* flex-direction: column-reverse; */
	/* flex-direction: column; */

	/* overflow: auto; */
	overflow-x: hidden;
	overflow-y: auto;
}
#chat-body-more-inner-cont {
	width: 335px;
	/* height: 500px; */
	max-height: fit-content;

	/* margin: 0 auto; */
	margin-left: 50px;
	padding: 15px 0 0 0;

	display: flex;
	flex-direction: column;
}
/* 참조 https://codingbroker.tistory.com/66 */
#chat-body-inner-cont::-webkit-scrollbar {
	width: 10px;
}
#chat-body-inner-cont::-webkit-scrollbar-thumb {
	background-color: lightcoral;
	border-radius: 20px;
	background-clip: padding-box;
	border: 2px solid transparent;
	/* margin-left: -10px; */
}
/* #chat-body-inner-cont::-webkit-scrollbar-track {
	background-color: lightcyan;
} */
#chat-body-input-cont {
	width: 100%;
	height: 50px;

	padding: 0 15px 0 15px;

	background-color: rgb(238, 238, 238);

	border-radius: 0 0 20px 20px;

	z-index: 1500;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#input-chat {
	width: 300px;
	height: 30px;
}
#submit-chat {
	background-color: transparent;
	background-image: url("/images/boardimg/next.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

/* 채팅창 닫기 버튼(채팅 나가기) */
#quit-chat {
	margin-right: 5px;

	background-color: transparent;
	background-image: url("/images/boardimg/prev.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}
/* 채팅방 제목 */
#chat-body-title {
	margin-right: auto;
}
/* 채팅 세팅창(사이드창) 열기 버튼 */
#open-chat-setting {
	background-color: transparent;
	background-image: url("/images/boardimg/settings.png");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

/* 채팅방 사이드바 */
	/* 사이드바 영역 설정 */
		/* 부모 pos:relative 설정 */
		#chat-body-cont {
			position: relative;
		}
		/* 채팅방 사이드바 배경(겸 컨테이너) */
		#chat-body-sidebar-background {
			position: absolute;
			top: 0; left: 0;

			height: 600px; width: 400px;
			border-radius: 20px/20px;

			background-color: rgb(128, 128, 128, 0.5);
		}
		/* 채팅방 사이드바 컨테이너 */
		#chat-body-sidebar-cont {
			position: relative;

			height: 600px; width: 300px;
			margin: 0 0 0 100px;
			border-radius: 20px/20px;

			z-index: 2000;

			background-color: rgb(255, 255, 255);
		}
	/* 사이드바 내부 영역 설정 */
		/* 사이드바 헤더 */
		#chat-body-sidebar-header {
			display: flex;

			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			height: 50px; width: 300px;

			padding: 0 15px 0 15px;

			border-radius: 20px 20px 0px 0px;

			box-shadow: 0px 5px 5px 0px lightgray;
		}
		/* 사이드바 본문 */
		#chat-body-sidebar-inner-cont {
			height: 500px; width: 300px;
		}
		/* 사이드바 푸터 */
		#chat-body-sidebar-footer {
			display: flex;

			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			height: 50px; width: 300px;

			padding: 0 15px 0 15px;

			border-radius: 0px 0px 20px 20px;

			background-color: rgb(200, 200, 200);
		}
	/* 사이드바 내부 정적 요소 */
		/* 사이드바 닫기 버튼 */
		#close-chat-setting {
			margin-left: auto;

			background-color: transparent;
			background-image: url("/images/boardimg/prev.png");
			background-size: 60%;
			background-position: center;
			background-repeat: no-repeat;
		}
		/* 사이드바 채팅 나가기 버튼 */
		#leave-chat {
			margin-left: auto;

			/* background-color: transparent;
			background-image: url("/images/boardimg/x_icon.png");
			background-size: 60%;
			background-position: center;
			background-repeat: no-repeat; */
		}

/* 채팅 생성 사이드창 */
/* 부모 pos:relative */
#chat-list-inner-cont {
	position: relative;
}
/* 배경 */
#chat-list-create {
	position: absolute;
	top: -50px; left: 0;

	height: 600px;
	width: 400px;
	border-radius: 20px/20px;

	background-color: rgb(128, 128, 128, 0.5);
}
/* 사이드창 */
#chat-list-create-cont {
	position: relative;

	height: 600px;
	width: 300px;
	margin: 0 0 0 100px;
	border-radius: 20px/20px;

	z-index: 2000;

	background-color: rgb(255, 255, 255);
}
/* 사이드창 헤더 */
#clcc-header {
	display: flex;

	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	height: 50px;
	width: 300px;

	padding: 0 15px 0 15px;
}
/* 사이드창 인풋바디 */
#clcc-input-body {
	box-shadow: 0px 5px 5px 0px lightgray;

	padding: 0 0 10px 0;
}
#clcc-input-body>div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	height: 30px;
	width: 300px;

	padding: 0 10px 0 10px;
}
/* 채팅방 제목, 대화상대 인풋 */
#clcc-input-body>div>input[type=text] {
	height: 28px;
}
/* 출력(검색된 유저, 추가된 유저) 컨테이너 */
#clcc-result-body {
	width: 300px;
	height: 440px;
}
/* 출력컨테이너 내부 */
#clcc-result-search, #clcc-result-select {
	width: 300px;
	height: 205px;

	padding: 0 0 0 15px;

	overflow-x: hidden;
	overflow-y: auto;
}
/* 출력컨테이너 세퍼레이터 */
#clcc-seperator {
	width: 300px; height: 20px;
	box-shadow: 0px 5px 5px 0px lightgray, 0px -2px 5px 0px lightgray;
}
/* 하단 입력부 */
#clcc-footer {
	width: 300px;
	height: 50px;

	border-radius: 0px 0px 20px 20px;

	background-color: rgb(200, 200, 200);
}
/* 채팅 개설 버튼 */
#clcc-footer>#submit-create-chat {
	display: block;

	width: 300px; height: 50px;

	background-color: transparent;

	border: 0;

	font-size: 20px;
}
/* clcc-result-* 내부 동적 요소 */
.clcc-result {
	width: 270px; height: 40px;

	display: flex;
	flex-direction: row;
	align-items: center;
}
.clcc-result>img {
	width: 35px; height: 35px;
	border-radius: 5px/5px;

	margin: 0 15px 0 0;
}
.clcc-result>h4 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	max-width: 140px;
}
.clcc-result>p {
	margin-left: auto;
	margin-right: 10px;
	font-size: 14px;
}
.clcc-result>input[type=button] {
	width: 30px; height: 30px;

	border: 0;
}

.cc-list-oto-ele {
	height: 100px;
	width: 380px;
	margin-left: 8px;
	margin-bottom: 10px;

	border-radius: 15px/15px;

	/* background-color: lightsalmon; */

	box-shadow: 2px 2px 8px 0px lightgray;

	/* overflow: hidden; */
	/*
		inline-block 자식 못난놈들 여백 없애기
		https://rgy0409.tistory.com/4678 참조
		자식요소에서 글씨 쓰려면 아래 속성들을 초기화해줘야 함
		특히 fz
	*/
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}
.cc-list-oto-ele>div:first-child {
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-right: 10px;

	font-size: 16px;

	padding-top: 10px;
	padding-left: 10px;
}
.cc-list-oto-ele>div:last-child {
	display: inline-block;
	height: 100px;
	width: 270px;

	font-size: 16px;

	vertical-align: top;

	position: relative;

	padding-top: 10px;
}
.cc-list-oto-ele>div:first-child>img {
	display: block;
	height: 80px;
	width: 80px;

	border-radius: 10px/10px;

	object-fit: cover;
}
/* .cc-list-oto-ele>div:last-child>h4:first-child {
	margin-bottom: 5px;
} */
.cc-list-oto-ele>div:last-child>p:nth-child(2) {
	font-size: 12px;
	margin-bottom: 5px;
}
.cc-list-oto-ele>div:last-child>p:nth-child(3) {
	font-size: 14px;
	margin-bottom: 8px;
}
.cc-list-oto-ele>div:last-child>p:nth-child(4) {
	font-size: 10px;
}
.cc-list-oto-ele>div:last-child>div:last-child {
	position: absolute;
	right: 5px;
	bottom: 5px;

	width: 40px;
	height: 40px;

	border-radius: 100%;

	background-color: crimson;

	text-align: center;
	line-height: 40px;
	font-size: 25px;
	color: white;
}

.cc-list-otm-ele {
	height: 100px;
	width: 380px;
	margin-left: 8px;
	margin-bottom: 10px;

	border-radius: 15px/15px;

	/* background-color: lightsalmon; */

	/* overflow: hidden; */
	/*
		inline-block 자식 못난놈들 여백 없애기
		https://rgy0409.tistory.com/4678 참조
		자식요소에서 글씨 쓰려면 아래 속성들을 초기화해줘야 함
		특히 fz
	*/
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}
.cc-list-otm-ele>div:first-child {
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-right: 10px;

	/* font-size: 16px; */

	padding-top: 10px;
	padding-left: 10px;
}
.cc-list-otm-ele>div:last-child {
	display: inline-block;
	height: 100px;
	width: 270px;

	font-size: 16px;

	vertical-align: top;

	position: relative;

	padding-top: 10px;
}
.cc-list-otm-ele>div:first-child>img {
	display: inline-block;
	height: 40px;
	width: 40px;

	/* border-radius: 10px/10px; */

	object-fit: cover;
}
.cc-list-otm-ele>div:first-child>img:nth-child(1) {
	border-radius: 10px 0 0 0;
}
.cc-list-otm-ele>div:first-child>img:nth-child(2) {
	border-radius: 0 10px 0 0;
}
.cc-list-otm-ele>div:first-child>img:nth-child(3) {
	border-radius: 0 0 0 10px;
}
.cc-list-otm-ele>div:first-child>img:nth-child(4) {
	border-radius: 0 0 10px 0;
}

.ccbody-left, .ccbody-right {
	min-width: 20px;
	max-width: 250px;
	min-height: 20px;
	max-height: fit-content;

	border-radius: 10px/10px;

	font-size: 16px;
	word-break: break-all;

	/* margin: 0 15px 15px 15px; */
	margin-bottom: 8px;
	padding: 5px 10px 5px 10px;

	flex-shrink: 0;

	background-color: lightsalmon;
}
.ccbody-left {
	margin-right: auto;

	background-color: rgb(238, 238, 238);
}
.ccbody-right {
	margin-left: auto;
	/* margin-right: 5px; */
	background-color: rgb(255, 228, 109);
}
.ccbody-continue {
	margin-bottom: 5px;
}
.ccbody-btn {
	width: 40px;
	height: 40px;
	border: 0;
	/* background-color: transparent; */
}
.ccbody-loading {
	position: relative;
}
.ccbody-loading::after {
	content: "";
	background: url(/images/chatimg/loading-gif.gif);
	background-size: 18px 18px;
	display: block;
	height: 18px;
	width: 18px;
	position: absolute;
	left: -25px;
	bottom: 1px;
}

#chat-alert-cont {
	position: absolute;
	right: 0; top: -80px;
}
.cc-alert {
	height: 50px;
	min-width: 100px; max-width: 300px;

	border-radius: 15px/15px;

	padding: 2px 10px 0 10px;

	background-color: rgb(216, 245, 255);
}
.cc-alert>h4, .cc-alert>p {
	min-width: 280px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#chat-inner-wrapper {
	position: absolute;
	bottom: 100px; right: 0px;
	background-color: white;
}

/*채팅 시작 메시지 블럭*/
.ccbody-start {
	width: 250px;
	min-height: 30px;
	max-height: fit-content;

	/* margin: 0 auto; */
	margin: 0 0 8px 25px;
	padding: 6px 15px 6px 15px;

	border-radius: 10px/10px;

	font-size: 12px;
	word-break: break-all;
	text-align: center;

	flex-shrink: 0;

	background-color: lightgray;
}
/* 채팅 날짜 메시지 블럭 */
.ccbody-date {
	width: 160px;
	height: 20px;

	margin: 12px 0 20px 70px;
	padding: 2px 0 2px 0;

	border-radius: 10px/10px;

	font-size: 12px;
	text-align: center;

	background-color: lightgray;
}

/* 채팅요소 날짜 가상요소선택자 */
.ccbody-left, .ccbody-right {
	position: relative;
}

.ccbody-timestamp.ccbody-left::after {
	content: attr(data-timestamp);

	font-size: 10px;

	position: absolute;
	right: -30px;
	bottom: 0px;
}
.ccbody-timestamp.ccbody-right::after {
	content: attr(data-timestamp);

	font-size: 10px;

	position: absolute;
	left: -30px;
	bottom: 0px;
}

/* 꼬리표, (ccbody-left의 경우)상대 사용자 이미지, userid */
/*ccbody-left 꼬리표*/
.ccbody-head.ccbody-left::before {
	content: "";
	width: 0; height: 0;

	position: absolute;
	top: -10px; left: -13px;

	transform: rotate(45deg);

	border-top: 10px solid transparent;
	border-right: 17px solid rgb(238, 238, 238);
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}
/*ccbody-right 꼬리표*/
.ccbody-head.ccbody-right::before {
	content: "";
	width: 0; height: 0;
	
	position: absolute;
	top: -10px; right: -13px;

	transform: rotate(-45deg);
		
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 17px solid rgb(255, 228, 109);
}
/*ccbody-left 최상단 띄우기*/
.ccbody-left.ccbody-head {
	margin-top: 40px;
}
/*ccbody-left 최상단 이미지*/
.ccbody-left.ccbody-head>div:first-child {
	position: absolute;
	top: -22px; left: -42.5px;

	width: 35px; height: 35px;

	border-radius: 10px/10px;

	background-size: cover;
	background-color: rgb(235, 235, 235);
}
/*ccbody-left 최상단 유저아이디*/
.ccbody-left.ccbody-head>div:nth-child(2) {
	width: max-content;

	position: absolute;
	top: -25px; left: 0px;

	font-size: 12px;
}


/* 요소 숨기기 */
.cc-hidden {
	display: none!important;
}

/*
	채팅 요소 가상요소선택자 정리

	- 로딩(전송중)
	.ccbody-loading::after

	- 타임스탬프
	.ccbody-timestamp.ccbody-left/right::after

	- 꼬리표
	.ccbody-tail.ccbody-left/right::before
*/
/*
	메모
	지금 ccbody-left.ccbody-head 마진탑 관련해서 문제있음
	자식 pos를 absolute로 줬더니 위쪽 채팅이랑 간격 조절이 안된다
	-> .ccbody-left.ccbody-head에 mt40 줘서 해결함
*/